[2019-01-02 17:10] jdolitsky opened #20 "Do not use []bytes for Contents field on Blob type"
This may lead to unbounded memory usage:
[code]

Can look at [containerd](https://github.com/containerd/containerd) to see what has been done

cc @shizhMSFT @stevvooe

[2019-01-03 20:02] jdolitsky opened #22 "Tests for pushing CNAB bundle"
See here for Helm chart test: https://github.com/shizhMSFT/oras/blob/master/pkg/oras/oras_test.go#L87
https://github.com/shizhMSFT/oras/blob/master/pkg/oras/oras_test.go#L146

[2019-01-04 07:35] #20 closed

[2019-01-08 18:26] jdolitsky opened #26 "Update help for push command"
The push command does not show anything regarding syntax to push different media types, for example

[code]

instead:
[code]

[2019-01-08 18:28] jdolitsky opened #27 "Add documentation on setting up local registry"
User should be able to quickly get started with oras using registry running at `localhost:5000`

[2019-01-08 18:42] jdolitsky opened #28 "Rename workplace to workspace in Docker image"
"workspace" is the term more commonly used

[2019-01-09 05:27] #26 closed, assigned to nobody

[2019-01-09 05:27] #27 closed, assigned to nobody

[2019-01-10 02:35] shizhMSFT opened #32 "Security discussions on FileStore"
`FileStore` allows
- Write to any relative path (e.g. `foo/bar`, `../../foo/bar`) or absolute path `/etc/foo/bar`
- Overwrite by default

The above scenarios are potentional security issues for pulling from public registries.

Suggestion: allow options for the above scenarios.

[2019-01-10 05:53] #32 closed

[2019-01-10 06:59] jdolitsky opened #36 "In release pipeline, submit PR to fishworks/fish-food"
After a release is uploaded (artifacts plus docker image), automatically open a PR against [fishworks/fish-food](https://github.com/fishworks/fish-food) with the new version and sha256 digests.

This will eliminate manual process providing GoFish with the updated version of `oras`.

[2019-01-10 07:02] jdolitsky commented on #36
Example diff: https://github.com/fishworks/fish-food/pull/85/files

[2019-01-10 23:23] yuwaMSFT2 opened #37 "pull artifact with file in parent path fails with Error: path_traversal_disallowed"
This should be the limit on tar.
push is fine:
 sudo oras push yuwatestroles.azurecr.io/testoras:bash3 ../testbash

pull is not:
 sudo oras pull yuwatestroles.azurecr.io/testoras:bash3

should block on push?

[2019-01-11 03:34] shizhMSFT commented on #37
Disallowing path traversal is for security considerations for content consumers. Meanwhile, we do not have restriction on the content providers.

To insecurely pull the content, you can do
[code]
where `-T` means `--allow-path-traversal`.

BTW, you don't need `sudo` to run `oras`.

[2019-01-11 18:20] yuwaMSFT2 commented on #37
Ah I didn't see the option. Thanks.

[2019-01-11 18:20] #37 closed

[2019-01-16 23:05] jdolitsky opened #38 "Describe manifest created in an "oras push" in README"

[2019-01-23 02:30] shizhMSFT opened #39 "Switch refs from `shizhMSFT` to `deislabs`"
After transferring the repository, all `shizhMSFT` should be replaced by `deislabs`.

[2019-01-23 03:50] #39 closed

[2019-01-23 03:57] jdolitsky opened #41 "Fix CI after move to deislabs"
CI triggers/webhooks not getting picked up, and latest docker image is not getting updated

[2019-01-25 21:46] jdolitsky commented on #41
Fixed

[2019-01-25 21:46] #41 closed

[2019-01-25 21:47] jdolitsky opened #49 "oras version command"
Command `oras version` should display the current version (eg `v0.3.3`)

[2019-01-31 09:48] jdolitsky opened #50 "Should be able to add manifest config and annotations on push"
Should optionally be able to modify a manifest's `Config` and/or `Annotations` on push:
https://github.com/opencontainers/image-spec/blob/master/specs-go/v1/manifest.go#L25

[2019-03-29 08:36] shizhMSFT opened #54 "Enable folder upload"
Push a folder to the remote registry as gzipped tar ball.

[2019-04-06 06:31] yuwaMSFT2 opened #57 "Do not allow path traversal by default when pushing package"
Do not allow path traversal by default when pushing package. It's a gesture to indicate that the tool considers this as a potential security issue, and it helps to avoid generating package with security hole unexpected. User may choose to allow it but it should not be the default

[2019-04-11 03:33] shizhMSFT commented on #57
The path traversal validation on read should be checked not only on the `FileStore` but also on all the content stores. Therefore, it should be considered as an option in the `pkg/oras` pakage.

The implementation of the resolution will start after merging #56 since it will be based on the implemented push options.

[2019-04-11 03:49] shizhMSFT opened #58 "Update dependency to resolve test failure"
Build and test are failing due bad dependency.

[code]

[2019-04-11 04:51] shizhMSFT opened #59 "Require documentation"
Write documentation under `/docs`

[2019-04-11 05:26] #50 closed

[2019-04-11 05:56] #58 closed

[2019-04-11 10:13] shizhMSFT opened #62 "Cross-platform support on path"
On windows, running
[code]
results in
[code]
Pulling that image under Linux/Unix will result in
[code]
All paths should be converted to slash-seperated.

[2019-04-11 10:22] shizhMSFT opened #63 "Windows absolute path support"
Support windows file paths beginging with `C:\`, `D:\`...

Currently, `oras` cannot identify `:` properly as it is the media type separater in oras cli. Since the media type does not contain `:` ( https://tools.ietf.org/html/rfc6838#section-4.2 ), we can safely use the last `:` as the separater.

[2019-04-15 02:42] #54 closed

[2019-04-15 02:49] #62 closed

[2019-04-15 02:50] #63 closed

[2019-04-15 02:59] #57 closed

[2019-04-15 05:48] shizhMSFT opened #68 "Optionally return the digest of the manifest"
Optionally return the digest of the manifest on push and pull.

[2019-04-15 05:51] shizhMSFT commented on #68
As @sajayantony suggested, we should always display the tag digest on pull and push when using CLI

[2019-04-15 06:07] sajayantony commented on #68
ORAS aligns well with content addressability. A user is able to pull by tag or by digest. Enabling the user to know the digest of the content allows the user to pin the remaining commands against that digest instead of a mutable tag.

[2019-04-15 08:57] shizhMSFT commented on #68
The current API interface is not suitable for passing the tag digest. Public API changes will apply to `oras.Pull` and `oras.Push`.

/cc @jdolitsky

[2019-04-16 06:44] shizhMSFT opened #71 "Error on logging out a non-existing registry"
Logging out a non-existing registry should be considerred as an error.

Requested by https://github.com/helm/helm/pull/5597/commits/f1793e9ca122cdbc9335194d4dd9057a28bbd1b6

[2019-04-16 07:11] shizhMSFT opened #72 "No warnings in the output"
Logs from `containerd` is not beautiful

[2019-04-16 17:06] jdolitsky commented on #72
Was able to solve this in Helm with this: https://github.com/helm/helm/blob/dev-v3/cmd/helm/chart.go#L52

Although, maybe this is something we want to try to upstream to containerd?

[2019-04-16 17:28] jdolitsky commented on #68
This sounds good. Question somewhat related to this @shizhMSFT

Is it possible right now with oras to determine digests at the individual layer level prior to fetching the actual content from remote?

The use case being Helm. Broken into 2 layers - chart and meta json - we dont necessarily want to initiate transfer if, for example, the chart content already exists on disk.

You can see here how we

[2019-04-17 03:31] #49 closed

[2019-04-17 04:43] #71 closed

[2019-04-17 05:09] shizhMSFT commented on #68
@jdolitsky It is possible for the caller to determine whether to fetch a child or not before actual fetching it from the remote.

However, the pain point is that the fetching process is done in parallel by `containerd` as for performace considerations. The caller needs to manually sync the sequence, i.e. make sure meta json is fetched before chart. Another approach is that we can have an option th

[2019-04-17 05:11] sajayantony commented on #68
How about a fetch filter? For e.g. we could support an annotation based filter where layer matches the annotation.

[2019-04-17 05:16] shizhMSFT commented on #68
That's exactly what I think to address the first issue. But for the real scenario, we need to fetch content synchronously.

[2019-04-17 05:22] shizhMSFT commented on #72
Abandon #74

[2019-04-17 05:33] shizhMSFT opened #75 "Pull descriptors in sequence"
`oras` calls [image.Dispatch()](https://github.com/containerd/containerd/blob/master/images/handlers.go#L119) to push and pull files in parallel.

However, sometimes the pulling sequences matters since the user may stop pulling in the middle.

[2019-04-17 05:36] shizhMSFT opened #76 "Allow base handlers on Push and Pull"
Allow callers to determine whether to fetch a fetch or not before actually fetching it

[2019-04-17 05:37] shizhMSFT commented on #68
Further discussion on #75, #76

[2019-04-17 05:37] #68 closed

[2019-04-17 07:38] shizhMSFT opened #77 "Make push/pull information out of verbose"
New experience will be
[code]

[2019-04-17 07:42] shizhMSFT commented on #77
#76 should be resolved before this issue

[2019-04-17 08:13] shizhMSFT opened #78 "Friendly Error Output"
Pulling with no tags shows
[code]

Default tag should not be used and should output error message like
[code]

[2019-04-17 08:15] shizhMSFT opened #79 "Push without an tag"
Users may want to push a manifest without a tag. That is, with digest only.
[code]
The above command should output the digest.

Related #77

[2019-04-17 08:18] shizhMSFT commented on #79
Users may want to push a manifest without a tag. That is, with digest only.

Related #77

[2019-04-18 00:11] jdolitsky opened #81 "Logo"
As we all know, every amazing project needs an amazing logo

[2019-04-18 02:38] #72 closed

[2019-04-18 06:16] #75 closed

[2019-04-18 06:16] #76 closed

[2019-04-18 15:39] bauerm97 opened #86 "Updating from commit 550ed34caf4a to 40d20966e9ea introduces ^M newline characters in code"
Example:

[code]

This is just a subset of the diff, but these `^M` characters are scattered throughout

[2019-04-18 15:44] bauerm97 commented on #86
From what I can tell it appears to have been introduced (at least partially) in [this commit](https://github.com/deislabs/oras/commit/d1e019803abd85a80e26792d3ed827c0b2b5fc96)

[2019-04-18 15:44] jdolitsky commented on #86
@bauerm97 yes, this something to do with Shiwei's machine :)

Is this affecting your importing of the code? Or is this just a general cosmetic thing?

[2019-04-18 15:55] bauerm97 commented on #86
@jdolitsky Just a general cosmetic thing. I have created a patch replacing all ^M characters in `.go` files. Let me know if you want a pull request submitted. The patch:

https://github.com/deislabs/oras/compare/master...bauerm97:fix-newline-char

[2019-04-18 15:58] jdolitsky commented on #86
Awesome thanks.
@shizhMSFT what do you think? Maybe we can add something to our `make test` that checks for this encoding issue so it doesnt continue happening, and another `make` target to fix it locally?

[2019-04-18 16:06] jdolitsky commented on #86
@bauerm97 do you have a command you used to replace the chars?

[2019-04-18 16:08] bauerm97 commented on #86
@jdolitsky Yes, here's the command I used:

`$ find -type f -name "*.go" -exec sed -i s/^M//g {} +`

Note that in order to get the actual `^M` character you need to press `CTRL-V + M`. Just typing `^M` won't create the correct character. I did this from an ubuntu 18.04 terminal

[2019-04-18 21:44] jdolitsky commented on #81
Take a look at this list of fonts free for commercial use:
https://www.1001fonts.com/free-fonts-for-commercial-use.html?text=ORAS&subset=1&commercial=1

[2019-04-19 05:23] shizhMSFT commented on #86
@jdolitsky We can have a test on that. Many people like me are using Windows machines and they may not have a global setting on `core.autocrlf` as they may contribute to Windows-only projects.

[2019-04-19 05:26] #77 closed

[2019-04-19 05:26] #79 closed

[2019-04-19 05:32] #78 closed

[2019-04-19 06:34] #81 closed

[2019-04-19 17:06] #86 closed

[2019-04-19 17:12] jdolitsky opened #88 "Additional test coverage"
add some unit tests for new code where there is none

[2019-04-22 14:12] jdolitsky opened #89 "Acceptance tests for compatibility against multiple registries"
Add acceptance test suite that ensures that ORAS CLI binary works against several registries:

- Local distribution server
- Azure ACR
- Quay.io (?)
- Amazon ECR (?)
- Google GCR (?)

Plan to use [Robot Framework](https://robotframework.org/)

[2019-04-22 20:42] radu-matei opened #90 "Pushing multiple container images in the same repo with Oras"
Background: I'm looking at pushing [CNAB Bundles](https://github.com/deislabs/cnab-spec) to OCI registries using Oras - I am currently only pushing the bundle descriptor (a `bundle.json` file) using a custom media type, and the next step is to also push all container images referenced in the bundle.

Now, I could push the exported image archive, but the entire image would result in a single layer

[2019-04-22 20:48] radu-matei commented on #90
Ideally, each container image would create a ditribution manifest/manifest list, with the original name and other info as annotations?

[2019-04-24 02:27] shizhMSFT commented on #90
As [Transmitting Thick Bundles](https://github.com/deislabs/cnab-spec/blob/master/104-bundle-formats.md#transmitting-thick-bundles) mentioned, you may decompose thick bundles for the purpose of efficiently transmitting them.

[2019-04-24 02:28] shizhMSFT commented on #90
For thin bundles, it just a `bundle.json` with image references. For referenced docker images, you can do normal `docker push` to a registry or the same repository with different tags. Currently, `oras` does not support manifest list well.

[2019-04-24 02:33] shizhMSFT commented on #59
Major documentations can be found at [![GoDoc](https://godoc.org/github.com/deislabs/oras?status.svg)](https://godoc.org/github.com/deislabs/oras).

Requrie more docs on `configs` and `annotations`, some advanced usage of the file store.

[2019-04-24 03:56] jdolitsky commented on #59
It would be nice also to have a lot of examples of common usages of the Go lib

[2019-04-25 01:07] radu-matei opened #91 "Pulling a single file from a repository"
Supposing I pushed multiple files to a repository using `oras` - is it possible / reasonable to be able to pull only a single file (layer, in the current format), referenced by digest?

In the example below, to only pull the layer corresponding to the first file, `sha256:3fe24f297ab8bddcdef54e0fc016114e55e064d6a9e43834fd10963ba99d3cae`?

[code]

[2019-04-25 03:47] jdolitsky commented on #91
@radu-matei yes, it is possible. We are still working on getting the docs together. Please take a look at the test method `Test_3_Conditional_Pull()` here: https://github.com/deislabs/oras/blob/master/pkg/oras/oras_test.go#L240

[2019-04-25 16:22] radu-matei commented on #91
Nice, I'll have a look at that.
Thanks a lot, Josh!

Closing this.

[2019-04-25 16:22] #91 closed

[2019-04-26 05:10] radu-matei commented on #90
Ok, thanks a lot for the response here.

I'm able to push the images separately and reference them, but it would be really cool to see support for an OCI index.
Is there anything specifically blocking? How could I help?

See https://github.com/radu-matei/coras/issues/8 for more context.

Thanks!

[2019-04-26 06:28] shizhMSFT commented on #90
A manifest list should contain manifest only. Also, `oras` does support upload multiple files in a single manifest.

[2019-04-29 09:36] shizhMSFT opened #92 "Config annotations are reseted"
Config annotations are reseted, even the `WithConfigAnnotations()` option is not set.

[2019-04-29 09:55] shizhMSFT opened #94 "Convenient way to change config media type"
Projects, which use `oras` to push artifacts, may not care about the content of the config but they do care about the media type.

We should support an option so that they can change config media type in a convenient way.

[2019-04-30 18:14] jdolitsky opened #97 "Add Go examples section to docs"
The level of detail in the docs is great, but it would also be nice to have end-to-end examples of using the Go package for persons looking for a quick copy-paste (similar to whats at the bottom of README currently)

[2019-04-30 18:17] #92 closed

[2019-05-01 15:58] garethr commented on #97
Agreed. [This](https://github.com/deislabs/oras/blob/master/examples/simple_push_pull.go) is great, but doesn't deal with authentication. Does a simple example with auth already exist? If not I think I need to create one and will post here.

[2019-05-01 20:49] garethr opened #98 "Usage as a Go library with Go modules"
I'm relatively new to using Go modules, so some of this might be a little incorrect. A word of warning.

I wanted to use oras as a library, and successfully tried out the example provided in [examples](https://github.com/deislabs/oras/tree/master/examples). I then wanted to recreate the functionality in oras which reuses the docker config to authenticate (in my case against an Azure registry. That

[2019-05-01 20:51] jdolitsky opened #99 "Move from dep to go modules"

[2019-05-01 20:54] jdolitsky commented on #98
Hey @garethr - we've only tried using this from dep-based project. I've just opened https://github.com/deislabs/oras/issues/99 to switch over to go modules, which hopefully would fix this? Will look into it in the near future unless you want to attempt :)

[2019-05-01 21:04] garethr commented on #98
I don't think swapping over to Go modules will fix the issue directly, though it may trigger the issue which would make it more pressing.

I think the answer lies in "Find a suitable, modern, Docker tag to depend on". I'm not sure what the community consensus is there so lets ask nice Docker maintainer folks: @thaJeztah, @vdemeester, silvin-lubecki.

[2019-05-01 21:59] thaJeztah commented on #98
The problem is that go modules enforce the use of SemVer; what happens on the docker/moby repository is that

a) (as you mentioned) the moby repository has not tagged releases (releases are now tagged in the downstream docker/engine repository)
b) even if releases were tagged, `go mod` will ignore tags that do not match the SemVer format (I'm explicitly mentioning _format_, because it will _assume

[2019-05-04 05:49] olegsu commented on #99
@jdolitsky I can try to implement it, wdyt?

[2019-05-04 06:07] jdolitsky commented on #99
@olegsu go for it. check out this comment which is relevant: https://github.com/deislabs/oras/issues/98#issuecomment-488446081

[2019-05-06 02:01] #94 closed

[2019-05-06 02:11] #59 closed

[2019-05-06 02:12] shizhMSFT commented on #38
Closed by #96

[2019-05-06 02:12] #38 closed

[2019-05-06 16:58] jdolitsky commented on #99
closed by #100

[2019-05-06 16:58] #99 closed

[2019-05-06 17:15] jdolitsky commented on #98
@garethr it looks like this is now fixed (thank you @olegsu and @thaJeztah!)

Please verify when you have time. I used the following to test this out:
[code]

[2019-05-06 17:20] jdolitsky commented on #98
I've verified this on Linux, running in official Go Docker container:
[code]

[2019-05-07 09:24] garethr commented on #98
On first importing master into my module like so:

[code]

I ran into several build failures, due to the change in types mentioned above.

[code]

This comes down to a coupling between the docker package and the docker/cli package. In order to correctly use oras in another module you need to pin the cli version like so:

[code]

You can see this is specified here: https://github.com/deislabs/oras/

[2019-05-08 19:33] jdolitsky commented on #90
@radu-matei @shizhMSFT just checking in, is there any request for new functionality here? It sounds like the original ask is possible?

[2019-05-09 04:12] jdolitsky commented on #98
alright this should be fixed. @garethr, would you mind trying once again?

[2019-05-09 10:26] radu-matei commented on #90
Continuing on the background about CNAB - when we push a bundle using `oras`, we might also want to push the container images referenced in the bundle.
However, regardless of how many other images are in the same repository (under different tags), the resulting manifest created by `oras` only contains the layer pointing to the bundle file.

While functionally it has no impact, it would be great fo

[2019-05-10 03:32] shizhMSFT commented on #90
According to the [OCI Image Index Specification](https://github.com/opencontainers/image-spec/blob/master/image-index.md), the image index is a higher-level manifest which points to specific image manifests. Therefore, it is not a good idea to store non-manifest in a manifest list.

I understand that having everything in a single tag will be grateful. Here is my proposal to your problem.

---

A t

[2019-05-10 03:58] sajayantony commented on #90
The docker manifest create command handles building of manifest lists. Enabling ORAS to support manifest list does make sense if it fulfills CNABs spec.
The OCI Index may be considered different from a manifest list and by definition is an index of things rather than a list of manifest. I think that’s what CNAB is might be going for and I don’t know the Spec enough to comment.
The one interesting

[2019-05-10 17:59] jdolitsky opened #102 "Add info on ORAS community"
We should add link to how to get in touch, such as the #oras channel in CNCF slack

[2019-05-11 15:55] garethr commented on #98
@jdolitsky just checked this by updating cli and oras to the latest versions and everything works for me. Thanks!

[2019-05-16 01:22] #102 closed

[2019-05-17 16:33] jdolitsky opened #104 "Windows install instructions"

[2019-05-22 05:31] #98 closed

[2019-05-27 08:37] zmarouf opened #105 "ECR support"
Hello,

I tried using ORAS with ECR support and I get `Error: unexpected response: 404 Not Found`
I know the project is still in its infancy but I wanted to hack on it in AWS and I was wondering if anyone got it to work. Anything I can do to help test this? :)

[2019-05-27 08:52] jdolitsky commented on #105
@zmarouf I don't think ECR supports arbitrary content types at this time. Maybe you can send feature request to their support?

Alternatively, you can run a custom registry on AWS EC2 node. container, etc:
[code]
All config options [here](https://docs.docker.com/registry/configuration/)

[2019-05-27 18:52] jdolitsky commented on #105
@zmarouf I've just opened https://github.com/aws/containers-roadmap/issues/308

[2019-05-28 08:58] zmarouf commented on #105
Awesome! Thank you so much for confirming this and opening a ticket chez AWS's appropriate repo.
I'll play with the custom registry for now! :)

[2019-07-08 03:04] jdolitsky opened #106 "New ORAS Specification"
I suggest that:

- the admins of deislabs org create a new repo at deislabs/oras-spec
- a new **ORAS Specification** is created, based upon the content of [this PR](https://github.com/opencontainers/distribution-spec/pull/65)
- any tools using the ORAS CLI/Go module should adhere to this spec by default
- build and launch a simple informational webpage (e.g. oras-spec.org)

The ORAS Specification

[2019-07-09 18:28] SteveLasker commented on #106
Thanks @jdolitsky for pushing on this.
I'm hopeful we can get some traction with the OCI working group, as your non-goal is a real concern. Lets see if we can get some quorum in this weeks meeting. @jzelinskie, it would be helpful if you can attend the call and speak to your feedback on the pr: https://github.com/opencontainers/distribution-spec/pull/65/

[2019-07-24 05:50] jdolitsky opened #107 "Add new store that complies with OCI Image Layout Spec"
Add new `OCIStore` at pkg/content/oci.go that strictly follows the [OCI Image Layout Spec](https://github.com/opencontainers/image-spec/blob/master/image-layout.md).

Example OCI Image storage layout on filesystem:
[code]

`oci-layout` looks like

[code]

example `index.json` looks like

[code]

The archive importer and exporter from containerd has a lot of good stuff:

https://github.com/containe

[2019-07-24 05:53] jdolitsky commented on #106
Hi, closing in favor of https://github.com/opencontainers/tob/issues/59!

[2019-07-24 05:53] #106 closed

[2019-07-25 18:52] sajayantony commented on #107
So this is more about the the local file store or moving to use index?

[2019-07-25 19:28] jdolitsky commented on #107
@sajayantony this is about local store. Obviously for the concepts introduced by the CLI, it is not as useful, but it is important for consumers or oras as a module.

`index.json`, i believe, can techincally just be a bunch of manifests and layers (do not need to add a `vnd.oci.image.index.v1+json` for example)

[2019-07-25 19:54] bacongobbler commented on #107
It'd be great to get this in for the first beta release of Helm. I imagine this would be a backwards-incompatibility change for users running `helm chart save`. The filesystem layout would change, which would cause prior runs of `helm chart save` to not work with `helm push`.

[2019-07-25 20:52] sajayantony commented on #107
Yes.. changing the file system will be hard and avoiding local store breakage would be good. /cc @shizhMSFT

[2019-08-06 02:21] jdolitsky commented on #107
Just FYI - I've begun working on this in Helm dev-v3 fork without any ORAS changes: https://github.com/helm/helm/compare/dev-v3...jdolitsky:oci-image-spec?expand=1

It's still unclear to me the correct place to put these things cc @sajayantony @shizhMSFT

[2019-08-09 14:58] #107 closed

[2019-08-15 08:43] pytimer opened #109 "Support insecure registry"
## Oras version:
[code]

## What happened

Now i use `oras` to login the harbor registry, it failed. The error log:

[code]

I use the docker client and config the `insecure-registries`, it login successed.

I see the oras code about login, i find the oras can't setting the `insecure-registries` parameter, so i hope the oras can add this flags when login the registry.

Is it my idea correct? If th

[2019-08-19 21:09] jdolitsky opened #111 "Upgrade to containerd v1.3.0"
Please see https://github.com/instrumenta/conftest/issues/8#issuecomment-515510480

[2019-08-19 21:17] jdolitsky opened #112 "Document --insecure flag in README"
cc @pytimer

[2019-08-19 23:11] pytimer commented on #112
OK, I will do it later.

[2019-08-22 22:40] SteveLasker opened #114 "Simplifying the ORAS client experience"
# Simplifying the ORAS Client Experience

When pushing artifacts to an OCI compliant registry, a `manifest.config.mediaType` is required to identify the artifact, and `layer.config.mediaType`s are required for each layer.

As we look to improve on the current experiences, the current ORAS client requires either too little, defaulting in the wrong defaults, or too much, creating a less than product

[2019-08-22 22:46] SteveLasker opened #115 "ORAS mediaTypes should default to unknown"
When pushing artifacts to an OCI compliant registry, a `manifest.config.mediaType` is required to identify the artifact, and `layer.config.mediaType`s are required for each layer.

As we look to improve on the current experiences, the current ORAS client requires either too little, defaulting in the wrong defaults, or too much, creating a less than productive experience, easy to make mistakes.

To

[2019-08-25 22:26] #112 closed

[2019-08-25 22:27] jdolitsky commented on #109
closed via #110 & #112

[2019-08-25 22:27] #109 closed

[2019-08-26 12:45] #111 closed

[2019-08-26 13:20] jdolitsky commented on #36
Looks like this is now being done on the fish-food side via bot: https://github.com/fishworks/fish-food/pull/353

[2019-08-26 13:20] #36 closed

[2019-08-28 12:39] thequailman opened #117 "Invalid Docker version require?"
Hello, Helm v3 started using 0.7.0 of your library and I cannot seem to build it due to this error:
[code]

It looks like your module references the above version, but I don't think it exists:
https://github.com/deislabs/oras/blob/master/go.mod#L17

[2019-08-29 15:05] thequailman commented on #117
Yes, I am using go modules.

[2019-08-29 15:07] thequailman commented on #117
I'm going to close this as I don't think the issue is with this repository.

[2019-08-29 15:07] #117 closed

[2019-08-30 02:00] sajayantony opened #118 "Does not handle artifacts without fully qualified names gracefully"
To repro the issue use an image that is not fully qualified as seen below.

[code]

[2019-08-30 13:12] jdolitsky opened #120 "Allow using http (vs https) for hosts that are not "localhost""
Please see https://github.com/helm/helm/issues/6324

[2019-08-30 21:03] jdolitsky commented on #115
fixed by #119

[2019-09-03 08:35] shizhMSFT commented on #114
### What do people think about simplifying the ORAS client experience?
Initially, `oras` has simple usage as
[code]
with everything by default. It was easy and simple until we shfit lots of configs from defaults to CLI. Therefore, simplifying the ORAS client experience indeed follows the orignal philosophy of this tool.

### Does `orasConfig` make sense when ORAS is used as a library?
The answer i

[2019-09-03 15:13] SteveLasker commented on #114
Thanks @shizhMSFT,
One thing that has evolved is the realization that `application/vnd.oci.image.`* should be reserved for actual container images, not a generic artifact bucket.
With #115 fixed, we at least will default away from this overlap, but it does require the user to pass in their `mediaTypez` each time, thus the proposal on a config file. I view this similar to the simplicity that users

[2019-09-04 23:27] SteveLasker opened #124 "oras push doesn't support directory traversal"
When demoing oras, I like to follow a sequence of:
1. oras push 1 file
1. oras pull 1 file
1. oras push 2 files
1. oras pull 2 files

When I pull files, I typically move into a sub directory.
To avoid having to `cd download`, `cd ../` between each push/pull, I was trying to use the following:

[code]
However, I received the following error:
`Error: ../layer1.txt: path traversal disallowed`

Not su

[2019-09-05 00:24] SteveLasker commented on #124
nevermind

[2019-09-05 00:24] #124 closed

[2019-09-06 16:50] SteveLasker commented on #115
Opening back up as we have the Artifact mediaType - `manifest.config.mediaType` checked in. But, the layer `config.mediaType` isn't yet set. This may need more discussion in the [Artifacts PR](https://github.com/opencontainers/artifacts/pull/6/files#diff-5df6b73cdf689876d289d6dfbb68ce17R23)

[2019-09-13 20:11] jpreese opened #125 "Docker version in go.mod causing unknown revision"
Using

[code]

With environment

[code]

I'm getting

[code]

When trying to include deislabs/oras into my project

If I specifically use `replace` as this project has done:

[code]

The project does build, but it seems smelly that I have to include that.

Is this an issue with oras that can be resolved, or just wonkyness with the current modules ecosystem in Go?

[2019-10-01 13:34] jpreese commented on #125
Just popping in to see if theres any input on this!

[2019-10-02 03:29] adewaleo commented on #118
I don't know if this is related, pushing without a tag does not automatically create a latest tag:

[code]

But pushing with the tag works:
[code]

[2019-10-04 01:17] SteveLasker opened #129 "Docker Hub support for OCI Artifacts & ORAS"
@justincormack
The following is content prepared for `./implementors.md`. While Docker Hub now supports OCI Image as a `mediaType` (yeah), it doesn't yet support additional `medaiTypes`, required to represent additional artifacts like Helm, Singularity and other development types.

### [Docker Hub](https://hub.docker.com)

  ORAS does not provide a default registry. Use the docker.io as the domain

[2019-10-04 02:13] SteveLasker opened #130 "`oras pull` shouldn't require `--media-type` or `--allow-all`"
When using oras for local testing and validation, we shouldn't have to specify the `media-type`. Registries only support a single type for a given content addressable url.
Requiring the -media-type only complicates the default learning experience

[2019-10-04 02:20] SteveLasker opened #131 "oras pull to support pulling the `manifest.config` object"
As we start promoting using `manifest.config.json` files, we should have a means to pull the the file.
The open issue I can see is what happens if a layer is represented as a `config.json` file? Is this an error to have a `manifest.config.json` file as well as a local `config.json` from a layer/blob?
Should we start using `manifest.config.json` as the file name to be uploaded as the `--manifest-co

[2019-10-04 03:03] SteveLasker commented on #104
included in https://github.com/deislabs/oras/pull/128

[2019-10-04 03:03] #104 closed

[2019-10-04 03:04] SteveLasker commented on #97
@jdolitsky I believe you have covered this in the current readme.md ?

[2019-10-04 10:32] justincormack commented on #129
It would be really helpful to have some conformance tests.

[2019-10-04 13:30] SteveLasker commented on #129
agreed. The tests would need to validate the spec, which i’m waiting on reviewers: https://github.com/opencontainers/artifacts/pull/13
to get it approved.
This did prompt an addition to support null config which i need to add
I have a separate section i need to add for two options for accepting new manifest.config.mediaTypes.
1) open - not necessarily the best idea
2) imports a publisherManifest.j

[2019-10-31 01:05] jdolitsky opened #137 "Default mediatype should not include encoding"
Based on OCI call discussion today, we should remove +json as a default

[2019-10-31 01:08] jdolitsky opened #138 "Filtering on mediatype should filter first on mediatype, then encoding"
Instead of passing an array (slice) of acceptable mediatype strings, we should instead pass an array of objects such as
[code]

[2019-11-02 17:27] deitch opened #140 "Move verbose logging into the library and out of cmd?"
Would you consider moving the verbose logging defined in [pushStatusTrack()](https://github.com/deislabs/oras/blob/master/cmd/oras/push.go#L186-L196) and [pullStatusTrack()](https://github.com/deislabs/oras/blob/master/cmd/oras/pull.go#L117-L133) into `pkg/oras` and out of `cmd/oras`? The logging is highly image pull/push specific, and thus quiet useful to others using the oras library, not just t

[2019-11-02 19:59] deitch opened #141 "Does oras support the normal docker hub?"
Granted, the hub doesn't support the new media types (i.e. proper artifacts), but if I give it the defaults of overloading the image config and layers (i.e. `application/vnd.oci.image.config.v1+json` and `application/vnd.oci.image.layer.v1.tar`), it all should work. Yet when I try to do a push (built off of the library), I get:

[code]

Am I doing something obviously wrong?

[2019-11-02 20:00] deitch commented on #141
FYI, running on my Mac, using typical docker desktop for auth, which should mean that the credentials are stored in the macOS Keychain.

[2019-11-04 00:14] deitch commented on #141
I didn't realize that the credentials are handled separately at a prior stage to `oras.Pull()` / `oras.Push()`. The docs could use some updating, but all fine in terms of functionality.

[2019-11-04 00:14] #141 closed

[2019-11-04 00:15] deitch commented on #97
Please, yes. I wasted too much time trying to figure out how the various parts work together. The simple readme.md doesn't handle auth, verbose/debug, etc.

[2019-11-04 00:21] deitch opened #142 "How do I get the config via oras.Pull?"
I have been trying to figure this out. It looks like `oras.Pull()` returns the descriptor for each of the layers.

How do I use the library to extract the config? Looking at the [OCI spec for the manifest](https://github.com/opencontainers/image-spec/blob/master/manifest.md#image-manifest-property-descriptions), it includes:

* layers (we have that covered)
* media type (in the returned descriptor

[2019-11-06 01:06] deitch commented on #142
Adding some context from the Slack channel.

`oras.Pull()` returns the descriptor, which is retrieved [here](https://github.com/deislabs/oras/blob/master/pkg/oras/pull.go#L30-L44):

[code]

The source to `resolver.Resolve` is [here](https://github.com/containerd/containerd/blob/master/remotes/docker/resolver.go#L224-L378):

[code]

So it clearly does not include the manifest, but it just a simple

[2019-11-07 03:20] deitch commented on #142
@jdolitsky had kindly agreed on Slack to take a look.

I have some more info. I figured out why it is losing it. The [filterHandler](https://github.com/deislabs/oras/blob/master/pkg/oras/pull.go#L84-L99) filters out not only those components with an allowed media-type (which is a bit of a duplicate of [picker](https://github.com/deislabs/oras/blob/master/pkg/oras/pull.go#L50-L60), but it also chec

[2019-11-07 03:53] deitch commented on #142
The same issue exists if you want the actual manifest, or the info on the layer. It does not write the manifest itself (and therefore its annotations) to the ingester because of `filterHandler`. If you then want to know about the annotations for a given layer that was downloaded, i.e. need the `layers` struct, you may be stuck. Unless the `fileStore` (as ingester) already provides a way to save th

[2019-11-07 16:13] jdolitsky commented on #142
This sounds fine to me, and it's be great if you can make it work. I would like to get some thoughts from Shiwei cc @shizhMSFT

[2019-11-07 16:21] deitch commented on #142
I am reasonably confident I can. I am going to hold off until I see comments here from Shiwei as well.

[2019-11-08 06:39] shizhMSFT commented on #142
The internal data structure of contents is a [directed acyclic graph](https://en.wikipedia.org/wiki/Directed_acyclic_graph) of descriptors (i.e. references to actual blobs). Usually, the images are stored in a tree structure, which is a special case of DAG.
[code]
The purpose of `resolver.Resolve()` is to resolve a reference (e.g. `myregistry.com/hello:latest`) to the descriptor of the associated

[2019-11-08 10:46] deitch commented on #142
Hi @shizhMSFT . This part here:

I wish I had that when I started. It doesn't appear anywhere in the containerd docs. I did eventually figure it out (with lots of code-reading, containerd slack channel, and experimentation), but do wish someone had written it up on the containerd pages (or that I had spoken with you before I dug in :-) ).

This part I don't completely agree with. oras supports pus

[2019-11-08 11:28] shizhMSFT commented on #142
The config is a required part of every manifest but not always used for non-containers like [artifacts](https://github.com/opencontainers/artifacts).

However, as you have mentioned, providing a standard way to retrieve the config does benifits a lot to developers. Let's discuss and find out.

[2019-11-08 11:30] shizhMSFT commented on #142
This is a [Hybrid Store](https://github.com/deislabs/oras/blob/master/docs/store.md#hybrid-store) for read purpose. A store for write purpose can be constructed similarly.

[2019-11-08 11:36] shizhMSFT commented on #142
@jdolitsky We may need to introduce breaking changes for APIs. Is that OK ?

[2019-11-08 12:01] shizhMSFT commented on #142
@deitch @jdolitsky Here are the topics needed to be discussed.
- Although `oras` currently does not support pushing index, it does support pulling index. In that case, we will have multiple manifests and multiple configs. What's the best experience for developers to get those configs?
- What if the config in the manifest is not in the allowed media type? Should we still fetch them? (I am suggestin

[2019-11-08 12:47] shizhMSFT commented on #142
@deitch The following example prototype pulls the config. Although it is a bit hacky, it is good to start the discussion with
[code]
Output:
[code]

[2019-11-10 11:05] deitch commented on #142
@shizhMSFT thanks for the example, I see it now. You are wrapping the filestore with a custom store that switches on if it is a config or not. I can see that as an intermediate solution that works today.

[2019-11-10 11:11] deitch commented on #142
My opinion on your topics (admittedly, I am new to oras, but can give an outsiders' view FWIW):

I agree not. The allowed media type is exactly that: which types do we allow. If it is not there, we filter it out. You want to be consistent, I think.

I think that the config is a fundamental part of the stored item. An image manifest includes the standard descriptor stuff (media type, size, hash), a

[2019-11-11 03:00] shizhMSFT commented on #142
I see the different directions we are persuiting now.

From your view, `oras.Pull()` should return the detailed images like
[code]
or more generialized in case of an OCI index (i.e. manifest list for docker equivalent)
[code]
where each image in `images` contains manifest, config, and layers.

From my view, `oras.Pull` returns a root node and allowed nodes like
[code]
where the root node is the ma

[2019-11-11 03:03] shizhMSFT commented on #142
/cc @SteveLasker  @sajayantony

[2019-11-11 03:11] shizhMSFT commented on #142
Linking #131

[2019-11-11 03:14] #125 closed

[2019-11-11 03:15] shizhMSFT commented on #125
Fixed by #132

[2019-11-11 03:17] shizhMSFT commented on #120
Fixed by #122

[2019-11-11 03:17] #120 closed

[2019-11-11 05:30] shizhMSFT commented on #118
@adewaleo This is not related. For not creating a latest tag, it is a feature of `containerd`, which is by design.

[2019-11-11 05:55] shizhMSFT commented on #118
@sajayantony The bug is caused by https://github.com/containerd/containerd/issues/3817. The fix is proposed at https://github.com/containerd/containerd/pull/3818.

[2019-11-11 06:43] deitch commented on #142
I can see it working that way as well. You turn `oras.Pull()` into a more generic kind of pull. It certainly seems cleaner, and probably is easier to handle unforeseen future needs.

What would the workflow be like? Can you walk through an example of how I would pull an image via its manifest reference, and how I would pull an index, where I would retrieve each?

[2019-11-12 03:47] shizhMSFT commented on #142
It is strange to use `oras` to pull images since it is not the goal of `oras` (OCI Registry as Storage: to store and retreive generic blobs). However, we still can do as you requested.

Here is the code to pull the image `docker.io/library/hello-world:latest` of all platforms from `dockerhub`.
[code]
Output:
[code]
Filesystem struecture:
[code]

[2019-11-12 08:44] deitch commented on #142
That was just an example. What I meant was, according to your proposed:

[code]

How would I retrieve layers and config, and how would I extract the config? I am guessing config is one of the `nodes`?

[2019-11-13 04:42] shizhMSFT commented on #142
Go through each node and fetch the actual node content from the store. Since the root node is given, it is easy to get the child node, including the config, by [images.Children(ctx, store, node)](https://github.com/containerd/containerd/blob/master/images/image.go#L330). Or more easily, filter the nodes with a known config media type.

[2019-11-13 12:17] deitch commented on #142
Yes, that was what I meant. I was hoping for an example of it.

I see some challenges with the approach:

* the store would need to be able to store config. Right now, e.g. `FileStore` does not, unless the config has the right annotation, which shouldn't be required. Even if it does, it then saves it to a file, which may not be what you want. We would need to make stores aware that they are saving

[2019-11-13 16:09] SteveLasker commented on #142
I did a quick scan of the thread. A few notes as I’m still focused on conference prep.
- manifest.config retrieval should be incorporated into Oras. It wasn’t needed at the time, but the latest PR on the spec calls for optional support. The config object may be null, and likely follows a different schema than oci-image. But, that’s intentional. Latest conversations say the config object MAY be oth

[2019-11-18 00:49] zendril opened #143 "README.md has incorrect example"
I believe (currently line 148) of README.md
`artifact.txt:application/vnd.acme.rocket.config.v1+json \` should be a layer and not a config, like: `artifact.txt:application/vnd.acme.rocket.layer.v1+txt \`

in the section: `Push multiple files with different mediaTypes:`

[2019-11-21 02:13] deitch opened #145 "Make oras Push/Pull an interface"
As discussed earlier after the artifacts meeting.

Let's say I have some function that calls `oras.Push()`. It has opinions about how ti will structure artifacts, annotations, mime types, etc. At the end, it calls `oras.Push()`. I want to test my functions, but don't actually want it calling `oras.Push()` (or `Pull()`) as I am just testing its ability to get from inputs to the output of calling `o

[2020-01-07 16:23] yuval-k opened #147 "pushing the same blob twice with a different name fails"
Pushing the same blob, with different names to a repo that requires authorization only for pushing fails.
The reason is, that since the blob exists, only the manifest needs to be pushed.
The manifest is pushed in a flow that doesn't allow for retries. The request fails as 401, because it is the first request that needs auth, and not retried.

I wasn't sure what's the best approch to fix this in OR

[2020-01-20 14:24] mxey opened #148 "Single files lose their file modes"
When adding a directory to a FileStore, it creates a tarball, which means various file modes are stored and later restored on pull. But when adding a single file, the file modes are lost. This was quite confusing to me and IMO both should behave the same.

[2020-02-14 23:07] steved opened #149 "OCIStore is not concurrency safe at a process-level"
When running multiple `helm chart` commands at the same time, there can be a race to write the updated OCIStore index reference resulting in missing references for later commands. Is it expected that this should work or should each `helm chart` command be given a new registry cache directory to avoid this?

Failing test case:
[code]

[2020-02-15 16:39] jdolitsky commented on #149
@steved thanks for opening. Yes, it is true. The source of truth for all helm refs are stored in a single file. Do you have any thoughts on how to address this?

[2020-02-17 21:25] Silvanoc opened #150 "ORAS compliance with current OCI Artifacts proposal"
The proposal for OCI Artifacts specifies that **manifest configurations** should be of type  [`application/vnd.`[org|company]`.`[objectType]`.`[optionalSubType]`.config.`[version]`+json`](https://github.com/opencontainers/artifacts/blob/9b08de02a3c675baa9163b7b4c0b1140ea80c944/spec.md#defining-a-unique-artifact-type), but ORAS doesn't enforce neither the `config` (before the version) nor the `json

[2020-02-18 15:02] jdolitsky commented on #150
@SteveLasker - maybe you can comment.

If the proposal artifact spec states this about layers, then it is outdated, as we discussed these should be normal content types such as `text/plain`.

As for the manifest config - sure, you are right. Perhaps we enforce and add a flag to override and push anything. In any case this is still all very "in motion"

[2020-02-18 15:15] Silvanoc commented on #150
Sorry, I forgot to update here, that I've already brought the same discussion to the Artifacts specification. See my comments [here](https://github.com/opencontainers/artifacts/pull/13) and the comments already provided by @SteveLasker

[2020-02-18 19:39] SteveLasker commented on #150
I'll make some tweaks to the Artifacts spec PR, that will catch up with the conversations. I believe we said the config object can be any texttual type. But, it should express the type int he mediaType. If the config object uses json, `+json`. If the artifact uses yaml, `+yaml`.
I also need to finish up the Iana.org registration, then incorporate that into the Artifacts spec as well. I'd suggest m

[2020-02-20 02:35] steved commented on #149
The best idea I have is some sort of file locking scheme that allows merging of image references at save time. Is this library the correct place for a change, though? It implements the upstream OCI image spec and it doesn't appear that the specification is particular concurrency-safe either. Is this something that Helm should potentially implement as a consumer of the OCIStore?

[2020-02-26 22:24] Silvanoc opened #151 "How to avoid warnings from containerd due to unkown types"
Not using any of the [media types supported by the OCI-image specification](https://github.com/opencontainers/image-spec/blob/master/manifest.md#image-manifest-property-descriptions) results in warnings from "[github.com/containerd/containerd/images/image.go](https://github.com/containerd/containerd/blob/v1.3.3/images/image.go)":

[code]

Something similar happens if not providing any `config` or

[2020-02-26 22:25] Silvanoc commented on #151
Using the Go API, not the CLI.

[2020-03-04 00:03] sajayantony commented on #142
@shizhMSFT do you want to PR your change in the CLI to support zero layer blobs which only has a config blob?

[2020-03-04 05:41] shizhMSFT commented on #142
@sajayantony Do you mean allowing oras to push / pull an image, which has a config but no layers?

[2020-03-04 07:02] shizhMSFT opened #153 "Allow ORAS to push / pull empty artifacts with config only"

[2020-03-04 07:03] shizhMSFT commented on #142
Created a new issue #153

[2020-03-04 15:43] sajayantony commented on #153
+1 This enables pushing simple json which does not need layers to be present. The manifest is a nominal pointer to config. Basically the enforcement is up to the client like helm or OPA but the ORAS CLI would not enforce such requirements.

[2020-03-06 00:04] sidiesen opened #155 "add support for HTTP proxies"
When running oras it seems it is not honoring the system proxy settings.
I tried to execute a pull command against my ACR and it seems the traffic did not go through my HTTP proxy, except for a single call against the management.azure.com API (probably through the Azure SDK).

Oras should honor the system settings for HTTP proxies or at least provide a mechanism to specify the proxy to use.

[2020-03-06 06:35] #153 closed

[2020-03-06 20:12] sajayantony commented on #140
@jdolitsky would this help helm as well?

[2020-03-09 22:54] jdolitsky commented on #140
Yes, i think itd be helpful

[2020-04-09 00:03] jdolitsky commented on #151
@Silvanoc You can use something like:
[code]

Here is how it is done in Helm: https://github.com/helm/helm/blob/master/internal/experimental/registry/client.go#L152

If debug enabled, we do not suppress output. See `ctx` helper method: https://github.com/helm/helm/blob/master/internal/experimental/registry/util.go#L59

[2020-04-22 19:18] jdolitsky opened #156 "Update runc dependency"
See issue here: https://github.com/helm/helm/issues/7846

[2020-04-27 14:56] hideto0710 opened #157 "Google Artifact Registry Support"
According to the official documentation, [Google Artifact Registry](https://cloud.google.com/artifact-registry) supports [OCI format](https://cloud.google.com/artifact-registry/docs/supported-formats#oci_format).
I tried to use ORAS with it. But I got `Error: failed to authorize: failed to fetch oauth token: unexpected status: 401 Unauthorized` .
`docker push` was success. So I think I have a prop

[2020-04-27 16:51] jzelinskie commented on #157
I'm not familiar with Google Cloud. Is this the same as GCR or a new product entirely? If it's new, it should probably get added to the [OCI Distribution conformance test suite](https://conformance.opencontainers.org/distribution-spec/) to measure how well it does actually support the standards.

[2020-04-27 17:05] jdolitsky commented on #157
Very interesting. Will have to look a bit more.

You may want to use `oras login` using a generated access token. Here is an example of how to do that (for google container registry anyway):

[code]

[2020-04-27 17:34] hideto0710 commented on #157
Thanks for your quick reply!

[Artifact Registry is the evolution of GCR](https://cloud.google.com/artifact-registry/docs/upgrade). Now, it is in a pre-release state.
So we should add to the test suite, right?

Thanks, I'll try.

For your information:

According to [GCR documentation](https://cloud.google.com/container-registry/docs/advanced-authentication), we have four options. I tried first and

[2020-04-27 17:50] jdolitsky commented on #157
@hideto0710 see if you can use hardcoded "oauth2accesstoken" as the username. This is what we needed to do for GCR. I'd have to assume the auth works all the same given the service account used is granted access to this new artifact service.

[2020-04-28 00:32] hideto0710 commented on #157
I tried as below. But I got a same error.
[code]
[code]

Should I create GitHub workflow first refer to this?
https://github.com/opencontainers/oci-conformance/blob/master/.github/workflows/gcr.yml

[2020-05-04 17:21] DazWilkin commented on #157
You can use the [`oauth2accesstoken`](https://cloud.google.com/container-registry/docs/advanced-authentication#token) approach per @jdolitsky above to login:

[code]

and then:

[code]

[2020-05-04 17:52] bacongobbler commented on #157
@DazWilkin I think that's for Google Container Registry. @hideto0710 is trying to use a new product called Google Artifact Registry. Have you tried the same steps with Google Artifact Registry yet?

[2020-05-04 18:44] DazWilkin commented on #157
That's correct but -- IIUC -- Artifact Registry is a veneer over Container Registry and so either should work.

[2020-05-05 03:58] hideto0710 commented on #157
Maybe I found difference between Container Registry and Artifact Registry!
First, we call `HEAD` request. And we check `Www-Authenticate` header.

**Container Registry**
[code]

**Artifact Registry**
[code]

In header from Artifact Registry, `scope` is not quated.
After that, we call `GET` request with `scope=repository`, and got 401.

[code]

https://github.com/containerd/containerd/blob/v1.3.4/r

[2020-05-05 04:53] hideto0710 commented on #157
**Container Registry**
[code]
**Artifact Registry**
[code]

[2020-05-05 16:37] DazWilkin commented on #157
@hideto0710 @bacongobbler let me know if there's anything you'd like me to test.

I'm a former Googler and very familiar Cloud Platform (though Artifact Registry is after my time!).

If there is a discrepancy (as appears the case), please file an issue with Google's [Issue Tracker](https://issuetracker.google.com).

I know many of the Cloud PMs and can ping them too.

[2020-05-05 16:39] DazWilkin commented on #157
Plus, I'd like to ensure Google's services are fairly represented by this (very good) tool, by [wasm-to-oci](https://github.com/engineerd/wasm-to-oci) and [Krustlet](https://github.com/deislabs/krustlet) which transitively depend upon ORAS and which brought me here :-)

[2020-05-06 04:54] hideto0710 commented on #157
@DazWilkin Thank you for your kindness!
Yesterday, I sent a message to GCP Customer Support. If there are any update, I will comment t here. Thank you telling me about issue tracker. I'll use next time!

[2020-05-12 10:56] quater opened #159 "oras push fails when hostname is localhost"
## Issue

The Oras usage example **Pushing Artifacts with Single Files** from the **README.md** does not work.

https://github.com/deislabs/oras/blob/237ac925cb6a308a5523cc048292bb53037f6975/README.md

Following this example, I get the below error that indicates that HTTP rather HTTPS is used.

[code]
## Version
I am using the Linux x64 binary from https://github.com/deislabs/oras/releases/downloa

[2020-05-13 07:26] gaocegege opened #160 "[documentation request] Add doc about OCIStore"
Now we have doc about MemoryStore and FileStore in https://github.com/deislabs/oras/blob/master/docs/store.md. I think it will be better to keep sync of OCIStore there.

[2020-05-13 19:57] griffin opened #161 "Get digest before push"
👋
I wanted to see if the project was open to adding a cli command and a library function to get the digest of an artifact before pushing. We have some bazel rules that use ORAS to create custom artifacts and then output the digest, but we have have to do this in a reproducible way without network access. Bazel's [rules_docker](https://github.com/bazelbuild/rules_docker/blob/master/container/go/cmd

[2020-06-04 00:45] hideto0710 commented on #157
It has been fixed.
[code]

And, I got a different error.
[code]

[2020-06-10 23:12] jdolitsky opened #165 "Add pure OCI Resolver"
Should create a Resolver that does not contain Docker-specific logic

For more info, please see https://github.com/opencontainers/tob/pull/68#discussion_r438429027

[2020-06-11 20:29] SteveLasker commented on #150
@Silvanoc, I believe this is now resolved with the latest updates.
Please re-open if you feel we're missing something.

[2020-06-11 20:29] #150 closed

[2020-06-11 20:30] SteveLasker commented on #143
Resolved with recent PRs.

[2020-06-11 20:30] #143 closed

[2020-06-11 20:32] SteveLasker commented on #161
Interesting. @shizhMSFT, what do you think?

[2020-06-12 08:06] gaocegege opened #166 "[feature request] Provide python SDK"
Docker provides both Golang and Python SDK here https://docs.docker.com/engine/api/sdk/

If we can provide python sdk too for the custom artifact, I think we can expand the audience.

[2020-06-12 16:46] SteveLasker opened #167 "Annotations should be optional, not automatically added."
When using the ORAS binary, it automatically adds several annotations. This was intended to be representative of what's possible, however as we consider adding to OCI as a standard library, there's valid concern that this implies a standard, as opposed to an ability.
Some of the annotations are in the "interesting" meta-data category, while others are used to determine how/where to extract compres

[2020-06-12 17:18] SteveLasker commented on #167
Reviewing the [tar docs](http://www.gnu.org/software/tar/manual/tar.html#SEC22), it's not clear why we need the layer annotations.

When the oras binary is used, can we be smarter about the extension used on the `layer.mediaType`? In the example below, since `"mediaType": "application/vnd.acme.rocket.docs.layer.v1+tar"` is tar, we could simply untar it in the root of the directory oras is executed

[2020-06-12 20:36] griffin commented on #161
I've written an internal patch to do this, extending the `push` command with a `--dry-run` flag.

A better design may be introducing a primitive `digest` command, but it requires abstracting part of the `push` command as it has a lot of the same logic. I would like to confirm a plan before undertaking any larger work.

[2020-06-12 21:36] SteveLasker commented on #167
Looks like the annotations are used to persist individual files, not tars.
For the ORAS binary, what if we always tar files, so the metadata for the filename is persisted in the tar?

[2020-06-16 15:41] jdolitsky commented on #167
I think that the original purpose of using `org.opencontainers.image.title` is so that oras knows the name of the files to place onto the filesystem based on layers retrieved on pull.

I believe this is incorrect, just one annotation, `org.opencontainers.image.title`. I'm unfamilair with the other ones used on tarring a directory, I'm not sure why these are need. cc @shizhMSFT

I agree that these

[2020-06-18 22:06] cyphar commented on #149
I have considered adding code to `umoci` to do some file locking on `index.json` to try to fix this problem, so if we go in that direction maybe we should make sure both `umoci` and `oras` handle this the same way -- in fact it might not hurt to migrate `oras` to using `umoci`'s CAS libraries so that we don't have to develop them in parallel.

Unfortunately if any other tool touches `index.json` w

[2020-07-04 22:42] gapariha opened #170 "Pull fails with ErrNoName even though pull option WithPullEmptyNameAllowed specified"
I'm using the Go oras module for pulling the helm chart from an ACR registry instance.

The issue I'm seeing is, even though I have set the WithPullEmptyNameAllowed() PullOpt while calling oras.Pull(), still it fails with no_name (ErrNoName) error code:

<snip>
desc, files, err := oras.Pull(ctx, resolver, ref, fileStore,
		oras.WithPullEmptyNameAllowed(),
		oras.WithAllowedMediaTypes(knownMediaTyp

[2020-07-06 10:11] gapariha commented on #170
I got it working later, sorry for the noise! Cheers.

[2020-07-06 10:11] #170 closed

[2020-07-16 03:54] hustclf opened #171 "does oras plan to support delete helm charts from docker registry?"
does oras has a plan to support delete helm charts from docker registry?

Thanks.

[2020-07-16 14:32] jdolitsky commented on #171
@hustclf currently no plan. This functionality is supported via the OCI API, but many registries do not support it. What would this look like from a UX perspective?

[2020-07-16 14:45] jzelinskie commented on #171
Deleting via the distribution API is optional to support for registries, so the UX would also suffer from the fact that these operations can (and most commonly will) fail.

[2020-07-17 02:04] hustclf commented on #171
@jdolitsky I have  no idea about the UX perspective.

I store helm charts in docker registry via `helm registry`, and there too many old versions of charts as time going on,  I just want to delete these from docker registry,  but not found in [registry api](https://docs.docker.com/registry/spec/api/),  is there a solution can solve my problem?

Thanks!

[2020-07-30 09:44] deitch opened #172 "finalizer on Pusher returned by Resolver?"
Looking at how `oras.Push()` is called [here](https://github.com/deislabs/oras/blob/master/pkg/oras/push.go#L17), we pass it a `remotes.Resolver`:

[code]

`Push()` , in turn, gets a pusher by calling `resolver.Pusher()` [here](https://github.com/deislabs/oras/blob/master/pkg/oras/push.go#L35)

[code]

and then passing that pusher to `remotes.PushContent` [here](https://github.com/deislabs/oras/bl

[2020-08-03 21:47] mirdaki commented on #166
This would help out a project I am going to work on soon! Hope a +1 might get it on a roadmap or what not.

[2020-08-19 17:38] deitch opened #173 "There is no mediaType on the manifest itself"
If you look at the manifest that is created [here](https://github.com/deislabs/oras/blob/e68c514afd46296fe0e4cee09bf8b744f2cb1bdd/pkg/oras/push.go#L90-L97) when pushing:

[code]

you see that there is no media-type provided. This, in turn, means that when pulling the manifest, you can inspect it from the http headers, but not from the item itself.

Interestingly, `ocispec.Manifest` actually has no

[2020-08-19 17:39] deitch commented on #173
Oh interesting. There is an issue where they say it is deprecated and not to use it, [here](https://github.com/opencontainers/image-spec/issues/731#issuecomment-331322345).

Based on this, I probably should close this issue.

[2020-08-19 17:39] #173 closed

[2020-08-20 14:56] killwing commented on #156
any updates? we meet security issues dep on runc & docker.

[2020-08-20 15:00] bacongobbler commented on #156
runc is [working towards a v1.0.0](https://github.com/opencontainers/runc/releases/tag/v1.0.0-rc92) release, so it may be worth holding off until it's been released. As described [upstream](https://github.com/helm/helm/issues/7846#issuecomment-606837479), the security issues related to runc and docker are irrelevant for oras, as at no point are container runtimes executed.

[2020-09-06 17:02] RichiCoder1 commented on #105
This is now official supported in ECR, so all that's left is ECR auth right?

[2020-09-10 14:43] jdolitsky opened #176 "Resolver interface (and others) should not use positional arguments"
The API of `Resolver` (and possibly others) should be redesigned to use options vs. positional arguments like `plainHTTP`, as these may continue to grow and break APIs

[2020-09-10 14:54] jdolitsky commented on #149
@cyphar - did umoci ever end up implementing any lock mechanism on index.json?

[2020-09-10 17:34] #105 closed

[2020-09-11 15:39] swiftdiaries commented on #166
+1 on this feature.
I would love to help get this done. I'm not really sure how this would look like. How does Docker manage the client SDKs?
Issue for reference: https://github.com/mlperf/mlbox/issues/89

[2020-09-11 20:54] jonjohnsonjr commented on #157
I'm looking into this now.

[2020-09-12 15:17] RichiCoder1 opened #177 "Registry Auth Extensibility"
## What

In order to support registries that may have authentication models that make the traditional login model unideal, I propose adding an extensibility capability where support can be added for a registry provider's native authentication mechanism(s) via some extensibility point. This is becoming increasingly relevant in cases where managed cloud Kubernetes providers offer "managed identity"

[2020-09-13 09:17] garethr commented on #177
As a consumer of Oras in Conftest, I think either model works in the short term, though the plugin model maybe works slightly better in the long term. If the plugin model is chosen having a discovery mechanism would be important. Given the small number of likely plugins a page in the documentation or a list in the repository would suffice.

[2020-09-13 21:29] SteveLasker opened #178 "Simplify ORAS default experience"
The ORAS client is intended as a reference implementation of the ORAS libraries to implement a targeted client library, persisting content into an OCI Artifact enabled registry.

For example:

[code]

The current default experience ([v0.8.1](https://github.com/deislabs/oras/releases/tag/v0.8.1)) of the ORAS client generates annotations to assist with missing metadata. While it's interesting to dem

[2020-09-13 21:37] SteveLasker commented on #140
@deitch, we'd welcome the PR to make logging easier for folks

[2020-09-13 22:07] SteveLasker commented on #142
Hi Avi,
Sorry for the long delay in responding. There's definitely some things we'd like to add.

ORAS is a reference implementation that demonstrates how the ORAS library can be used. It provides some utility type CLIs. I'm looking to create a more targeted experience, built off the [markymarky](https://github.com/bloodorangeio/markymark) example Josh made. I'll add auth and a few other capabilit

[2020-09-13 22:11] SteveLasker commented on #145
There's a good recent tension/discussion on the separate between the ORAS libraries, which should support a wide range of capabilities, and the ORAS client generic reference implementation.
I've started an example of [regdoc](http://github.com/stevelasker/regdoc) that would support `push`, `pull`, `delete` and `tag lsting` with auth capabilities. But, I quickly got out of my expertise here.
The th

[2020-09-13 22:15] SteveLasker commented on #147
Thanks for posting Yuval,
I'm just wondering if this is an issue with docker distribution, as I can push the same artifact to [ACR](https://aka.ms/acr/artifacts) without issues.

[2020-09-13 22:16] SteveLasker commented on #148
Hi @mxey
Can you provide a repro? Is this with the ORAS client, or using the ORAS libraries?

[2020-09-13 22:19] SteveLasker commented on #151
@Silvanoc, did @jdolitsky cover the issue? Can we close?

[2020-09-13 22:25] SteveLasker commented on #157
Once this is fixed, we'd certainly welcome an addition to [implementations.md](https://github.com/deislabs/oras/blob/master/implementors.md) with a PR similar to the recent [AWS PR](https://github.com/deislabs/oras/pull/174)

[2020-09-13 22:31] SteveLasker commented on #161
We've had a few recent conversations about how we might achieve this. For example, the notary v2 efforts require a manifest to sign, which requires a digest.
I think there's an interesting set of factoring questions here
Should ORAS include
- digest generation libraries?
- manifest creation, without having to push to a registry first?

Open to discussion from other maintainers (@jdolitsky, @shizhM

[2020-09-13 22:34] SteveLasker commented on #166
I'd imagine this as another repo `ORAS-python`, so the python sdk could be built and versioned independently, but happy to support the work with a set of capabilities we focus upon.

[2020-09-13 22:35] SteveLasker commented on #167
Closing as [this new issue](https://github.com/deislabs/oras/issues/178) tracks the larger set of issues.

[2020-09-13 22:35] SteveLasker commented on #167
Closing as [this new issue](https://github.com/deislabs/oras/issues/178) tracks the larger set of issues.

[2020-09-13 22:35] #167 closed

[2020-09-13 22:41] SteveLasker commented on #171
As time yields on, developers automate, and we all recognize storage is:
1. not infinite
2. not free - someone pays
3. means I have old stuff that is insecure and causes users & customers compliance issues

We should absolutely support the [delete api of the oci distribution spec](https://github.com/opencontainers/distribution-spec/blob/master/spec.md#content-management).
While not every registry

[2020-09-13 22:44] SteveLasker commented on #176
The ORAS cli should continue to support positional arguments to demonstrate an example of a generic api. However, the underlying libraries should be more explicit.

[2020-09-13 22:48] SteveLasker commented on #177
With the growth of new registries, GitHub (x2), Google (x2), solo wasm, on-prem instances, I don't think we can, or should try to include the every growing, or evolving registry models.
In a perfect world, we'd have a standard AUTH api - but, we know we don't live in a perfect world 😏
So, I'd propose an extensibility model that works with the ORAS libraries, added to the ORAS client, and I'm looki

[2020-09-13 22:50] SteveLasker commented on #97
closing as we have some better docs, and [another issue for better logging](https://github.com/deislabs/oras/issues/140).

[2020-09-13 22:50] #97 closed

[2020-09-13 22:51] SteveLasker commented on #89
@jdolitsky, do we want to do this here, or make artifacts part of the OCI conformance tests?

[2020-09-13 22:53] SteveLasker commented on #90
@radu-matei, I believe the ask here is to add Index support?
That will come as part of the [Notary v2](https://github.com/notaryproject/nv2/pull/10) work

[2020-09-13 22:56] SteveLasker commented on #118
This looks like an issue where other clients may assume no registry = docker hub. We've made an explicit decision to not support default registry behavior.
It would be a great [good first issue](https://github.com/deislabs/oras/labels/good%20first%20issue) for anyone that would like to [help](https://github.com/deislabs/oras/labels/help%20wanted) with.

[2020-09-13 23:26] jdolitsky commented on #89
sure, will close for now

[2020-09-13 23:26] #89 closed

[2020-09-13 23:35] jdolitsky commented on #176
CLI yes. Go library should change though, IMO

[2020-09-14 01:17] RichiCoder1 commented on #177
So sounds like a [`plugin`](https://golang.org/pkg/plugin/) model with file system discovery method would be the preference?

[2020-09-14 01:43] RichiCoder1 commented on #177
Sounds like a plugin model with file system discovery model is the ideal path forward, with some example providers to get things rolling. Having done some research in plugin options, it looks like the go ecosystem's strongest plugin system is HashiCorp's [go-plugin](https://github.com/hashicorp/go-plugin) which also has the nice benefit of allowing non-Go plugins for providers who may have that pr

[2020-09-14 05:55] deitch commented on #140
Done, see #179

[2020-09-14 05:59] deitch commented on #145
100% agreed. There is a number of things I have been working on that I almost suggested submitting, and then realized it is my opinionated implementation, and should not go upstream. Then there are things that the API could do to make all of this easier.

The above suggestion is (I believe) in line with the library surface side of it.

FWIW, in my implementation, I have a struct that has a field c

[2020-09-14 06:16] deitch commented on #178
Essentially, this makes every layer 100% compatible with existing OCI image layers? Since they all are tar or tar+gzip blobs?

Funny, I did a lot of work to get some VM images stored in a registry, then used the annotations to figure out filenames, purpose, format, etc., largely based on oras's scheme. In the end, I also had to support something a little more legacy-driven, and ended up not far fr

[2020-09-14 07:01] harishsg99 commented on #171
We need to delete via API and but there is no UX support that as of now!! :)

[2020-09-14 11:12] mxey commented on #148
oras version:

[code]

OS: macOS 10.15.6 (19G2021)

Start local Docker registry:

[code]

Prepare input files:

[code]

Check permissions with `ls -l file.txt directory/fileindir.txt`:

[code]

Push and pull:

[code]

Check permissions with `cd out && ls -l file.txt directory/fileindir.txt`:

[code]

As you can see, the file in the directory retained its permissions of 0400, but the other file did

[2020-09-14 16:31] SteveLasker commented on #171
Are you asking for what the delete api would look like in the ORAS library and ORAS client?
The current CLI:
[code]
with a possible delete vs. untagOnly flag

[code]

[2020-09-15 10:29] shizhMSFT commented on #155
`oras` like other unix/linux programs (e.g. `curl`, `git`) utilizes `http_proxy` (or `HTTP_PROXY`) environment variables to set the proxy.

See `DefaultTransport` in [transport.go](https://golang.org/src/net/http/transport.go).

Could you try setting the above mentioned environment variables?

[2020-09-18 17:27] yuval-k commented on #147
I need to refresh my memory, but I don't think so. I think it happened when only a new manifest is needed to be pushed. the code flow where it is pushed doesn't retry in case of `401`.

[2020-09-18 23:27] SteveLasker commented on #178
Hopefully, the blobs are implementation details. Think of how a file system breaks up a large file. You save the file as `.docx`, as they can be large. The underlying implementation breaks it up. For OCI Artifacts, we break things up in some logical groupings, while file systems break things up dynamically for where they fit. But, in either case, the user just saves the thing as
`application/vnd.m

[2020-09-24 21:14] SteveLasker commented on #177
Looking for 👀 from @shizhMSFT and @jdolitsky

[2020-09-24 22:11] SteveLasker opened #181 "Discussion: ORAS to split go-libraries and ORAS binary, with a 3rd Ref Implementation"
The primary intent of ORAS is to enable new artifact authors to utilize existing [OCI distribtuion-spec](https://github.com/opencontainers/distribution-spec), w/[OCI Artifact](https://github.com/opencontainers/artifacts) enabled registries for their new artifact type. Thus avoiding the requirement to build and maintain **Y**et **A**nother **S**torage **S**olution (YASS).

As we've converged on ado

[2020-09-24 22:23] jdolitsky commented on #181
I have no problem moving the libraries under opencontainers/artifacts

[2020-09-25 23:05] jonjohnsonjr commented on #157
It hasn't fully rolled out yet (should be next week, barring any complications), but I've landed a fix that should be live now in several regions, e.g. `us-west2` and `asia-east1`:

[code]

@hideto0710 please try it out and let me know if you're still seeing issues.

[2020-09-25 23:30] hideto0710 commented on #157
@jonjohnsonjr Thanks ! I tried it in `asia-northeast1` and It worked!
This issue should be closed!

[2020-09-29 09:26] Silvanoc commented on #151
I'm sorry, but I'm currently not assigned to work in this topic. Therefore I cannot test it in a while.

I think that my problem description was clear enough so that @jdolitsky (being one of the main contributors to the project) was able to give me the right answer. @SteveLasker feel free to close this ticket.

[2020-09-29 15:14] #151 closed

[2020-09-30 06:32] deitch commented on #178
application/vnd.microsoft.word.config.v10 or .docx and that's what they care about.
In this case, if they're all .tar files, it's ok as the digests make them unique and they are associated with the manifest that references them.

That is the part I don't get. As long as the media-type is `application/vnd.microsoft.word.config.v10`, then it is in the manifest, and I know it. I can wrap that up in a

[2020-10-01 01:02] #140 closed

[2020-10-02 16:35] #157 closed

[2020-10-09 13:12] jacek-jablonski commented on #157
@jonjohnsonjr should I expect any problems yet in europe-west4?

[code]

[2020-10-13 19:31] jonjohnsonjr commented on #157
No, this has been rolled out everywhere, so I would guess this is a separate issue. Do you have the full error response? Looking at https://github.com/docker/build-push-action/issues/171, it seems like you might just not have enough components in your image name.

[2020-10-19 20:14] vsoch commented on #166
In case it's helpful, I just finished a first draft of a distribution spec Python client, "Reggie Python" in the [opencontainers](https://vsoch.github.io/oci-python/docs/getting-started#distribution-specification) distribution module to mirror the GoLang counterpart, [Reggie](https://github.com/bloodorangeio/reggie) inspired by @jdolitsky. Has anyone started working on ORAS-python, or need help? I

[2020-11-02 03:27] shizhMSFT commented on #130
The `--media-type` and `--allow-all` are used to prevent downloading unnessary blobs.

For example, use oras to try to pull a helm chart from a large docker image. The operation should fail without downloading the docker image.

[2020-11-02 03:29] shizhMSFT commented on #181
Yes, we should at least split the library and command line tool.

[2020-11-02 03:57] shizhMSFT opened #193 "Cached ORAS Pull"
Customers may pull the same artifact multiple times, or multiple manifests sharing common artifacts.

In order to save the unnecessary network bandwidth and disk I/O. `oras` should provide a solution to pull the artifacts into a local content-address storage (CAS) if the content does not exist, and then copy the artifact to the desired storage.

The cache directory should be specified by the custo

[2020-11-02 05:12] shizhMSFT opened #194 "Pull and Merge Layers"
`oras push` supports pushing directories as single `tar.gz` files. It natually creates an overlay storage.

It would be convenient if `oras pull` merges the layers according to [layer.md](https://github.com/opencontainers/image-spec/blob/master/layer.md).

In terms of implementation, this functionaility should be built on top of #193.

[2020-11-02 06:25] shizhMSFT commented on #161
A dry run for manifest generation is interesting. Once, we have manifest, we can compute the manifest digest and sign it using notary v2 later.

[2020-11-03 01:33] shizhMSFT commented on #194
ORAS should stay focused on the pure storage. Thus applying additional logic such as UFS is out of scope.

[2020-11-03 01:33] #194 closed

[2020-11-10 02:42] johnmcollier commented on #155
@shizhMSFT I'm trying to do the same thing here - use `oras` (either the CLI or library) to pull from an OCI registry running behind a proxy, but I'm not able to get things working.

The registry and proxy have been set up according to https://docs.docker.com/registry/recipes/nginx/. The proxy is running on port 5043, and the registry running on port 5000.

If I push an image to the registry using

[2020-11-10 09:37] sowu880 opened #196 "Oras Pull Manifest Using CLI"
Since manifest stores meta data of image which is important to developers.
Is that possible add a CLI tool for just pull manifest and just pull one blob by digest?

[2020-11-11 05:39] shizhMSFT commented on #155
@johnmcollier This is an issue for `forward proxy`. Your issue is related to [reverse proxy](https://en.wikipedia.org/wiki/Reverse_proxy).

To resolve your problem, could you share your `docker-compose.yml` file and your `nginx.conf` file as I cannot re-pro the `400 Bad Request`? It is better if you open a new issue for your specific scenario.

Here is my set up:
- `docker-compose.yml`
[code]
- `n

[2020-11-12 12:53] #155 closed

[2020-11-30 14:41] pwntester opened #201 "Security Issue: Request for contact"
Hello,

The [GitHub Security Lab team](https://securitylab.github.com/) has found a potential vulnerability in your project. Please create a [Security Advisory](https://docs.github.com/en/free-pro-team@latest/github/managing-security-vulnerabilities/creating-a-security-advisory) and invite me in to further disclose and discuss the vulnerability details and potential fix. Alternatively, please add

[2020-12-07 09:54] shizhMSFT commented on #196
Pulling manifest and single blobs are not aimmed by ORAS CLI but possible with its golang package. Usually, those operations should be achieved by a generic registry client.

[2020-12-07 11:48] shizhMSFT commented on #196
However, similar stuffs can be achieved by **oras pull with cache** #203.

Since the cache also caches the manifest, you can get the manifest and individual files in the cache.
[code]

[2020-12-12 06:45] #193 closed

[2020-12-14 03:26] #196 closed

[2020-12-31 03:12] gaocegege commented on #181
I am looking forward to this feature! We are using oras to build our OCI artifacts for ML Models: https://github.com/kleveross/ormb

We are using oras as a library here: https://github.com/kleveross/ormb/blob/master/pkg/oras/client.go#L32

The code is mostly copied from helm chart. I think if we could split oras reference implementation and golang libraries, it helps artifact authors like us to wr

[2021-01-07 06:01] hemantha-kumara opened #205 "oras push error when pushing artifacts in to harbor registry"
/kind bug

**What happened:**
Trying to push the artifacts into the harbor registry. harbor login is successful(oras login) but oras push is failing with the below error

here is the log for your reference
[code]

[code]

`Harbor Version v1.8.0` harbor authentication is enabled using Keycloak(OIDC/OAUTH)

[2021-01-10 09:48] deitch commented on #142
I had completely forgotten about this issue, went looking to solve something, and stumbled across this.

Do we want to pick this up again?

For the curious, I ran into a variant of the config question. It may be out of scope, but I am curious about your thoughts. "legacy" registries don't support artifacts, nor does using the standard build tools (e.g. `docker build`). So lots of people stuff "art

[2021-01-10 16:15] deitch commented on #142
Ugh, I might just have painted myself into a corner here.

* if you have a single artifact in a layer, media-type and annotations work. Just to get this to work requires proper tooling anyways.
* If you have a single artifact in a layer wrapped in a tar/tar+gz, then you indicate in the annotations and/or media-type _on that layer_ what it is, assuming you _can_ use layer annotations/media-types, o

[2021-01-11 21:28] SteveLasker commented on #142
Hi @deitch and happy new years,
I'll try to bullet these out:
- **New/Old registry support**: It would be good to understand which old registries we're talking about here. I'd much rather focus on a standard across all active registries, which support OCI artifacts. The outlier is Docker Hub of course. @justincormack and I keep having this conversation, and I think we'd all rather see Hub (intende

[2021-01-12 08:56] deitch commented on #142
Happy New Year @SteveLasker and everyone else on this thread! Wishing everyone a healthy and successful one.

Yeah, that just might be a smart move 😄

I agree that it is something of an anti-pattern. But there are plenty of people stuffing objects ("artifacts") inside layers and using standard Docker or similar tooling to build them. I do it in cases, so does Ignite, etc.

The question I am asking

[2021-01-12 17:35] deitch commented on #142
As I think about this more @SteveLasker, I wonder how we would do this without annotations? E.g. I have 5 artifacts in 5 layers, how do I know what the purpose and type of each file is? How do I figure out that it is just the artifact in the tar at layer2 that I want?

[2021-01-13 02:03] SteveLasker commented on #142
I think we're really having a discussion of what _could_ be possible, vs. what we'd like to enable with ORAS. We never want to tell something they can't do something generic. :)

If we don't support this, we should, and happy to see a PR that enables fetching the config independently.

ORAS is generic, but meant to be used for a specific artifact type scenario. The idea is Helm would use it the wa

[2021-01-13 10:20] deitch commented on #142
The formatting got messed up on your last comment @SteveLasker :-)

Taking your example above of a few directories and some files. I can do `oras.Push()` to send artifacts up, and `oras.Pull()` to get them back down. And those do take an `Ingestor`. But what would indicate how those things should be used and what their purpose is?

This has been what has driven this conversation from the beginning

[2021-01-14 18:20] mattfarina opened #207 "How Maintained Is ORAS?"
ORAS is beginning to be used by a number of projects. On Helm, we would like to move our OCI integration to GA. I'm also aware of other projects using ORAS.

But, the last release to ORAS was 11 months ago and there has only been ~30 commits since then. ORAS depends on outside packages that have had security fix releases that ORAS has not released with. As a v0.x release there is no v1 yet and doe

[2021-01-14 18:47] SteveLasker commented on #201
This item is being actively tracked & fixed. We're also working on establishing a notification system for those consuming ORAS.
If you are a consumer of ORAS, please reach out while we get this process in place. Steve dot Lasker at microsoft dot com

[2021-01-20 07:26] hatzhang opened #208 "How to use oras to push helm chart"
Not sure if it is doable rightnow, can i use oras cli to push helm chart to an OCI-compliant  registry like harbor?

[2021-01-25 16:21] #201 closed

[2021-01-25 21:09] SteveLasker commented on #207
ORAS has active development, but it's not intended to be so active as to become unstable. The 30 commits reflect the effort, while not changing so much it makes it difficult to adopt. @shizhMSFT, @deitch has been active, as well as @jdolitsky being key to the original creation.  The recent security release was a key focus to assure we were doing the right thing for the community to assure we fixed

[2021-01-25 23:20] nishakm opened #211 "Error in getting oras version 0.9.0"
I'm trying to import github/com/deislabs/oras/pkg/auth, but I get this error:

[code]
I've tried running `go get` but cannot resolve this dependency.

[2021-01-27 22:54] jdolitsky commented on #211
@nishakm - try using `replace` statements like the following:
https://github.com/helm/helm/blob/0b2fec08ac2270a027fa3d9c216d269081c0b08d/go.mod#L51

[2021-01-27 22:59] jdolitsky opened #213 "Unix-style interoperability with umoci?"
Is there some feature(s) or redesign to make these tools interoperable using Unix pipes?

For example, to push:
[code]

and to pull:
[code]

[2021-01-27 23:01] jdolitsky commented on #213
See also https://github.com/opencontainers/umoci/issues/355

[2021-01-29 22:53] nishakm commented on #211
@jdolitsky Sorry for the late reply. It looks like the current go.mod file for oras does use the replace clause: https://github.com/deislabs/oras/blob/main/go.mod

However, if I run `go get` I get the above error.

[2021-02-02 21:54] SteveLasker commented on #207
Closing as resolved with no action item.

[2021-02-02 21:54] #207 closed

[2021-02-08 23:20] absoludity opened #217 "Enable configuring a certificate authority file for registry client."
Just as Helm allows as `--kube-ca-file` option to use a specific certificate authority file for the Kubernetes API Server connection, it would be great if ORAS enabled requests to the registry to be made with a specific certificate authority, so that connections to internal private registries are not susceptible to machine-in-the-middle.

Currently it appears the only option is to use the `--insec

[2021-02-09 12:22] deitch commented on #211
I just ran into the same with 0.10.0.

I see the replacement clause, but anything that tries to include it blows up, error similar to what @nishakm has above. Something as simple as the following program:

[code]

And then run `go run .` or `go vet .` and get:

[code]

[2021-02-09 12:25] deitch commented on #211
This might be it. See [here](https://golang.org/cmd/go/#hdr-The_go_mod_file), the 6th paragraph:

[code]

Unfortunately, this seems to break using oras as a library.

[2021-02-09 12:33] deitch commented on #211
Interestingly, a quick search shows github.com/docker/distribution is used only in docs and test files, while github.com/docker/docker (which the docker crew are highly discouraging people from using) is used in 3 places:

* https://github.com/deislabs/oras/blob/a64b0ac4faf26c58016fbd7ed1a9eb9d049e54ee/pkg/auth/docker/login.go
* https://github.com/deislabs/oras/blob/a64b0ac4faf26c58016fbd7ed1a9eb9

[2021-02-09 14:36] jdolitsky commented on #211
@deitch - if you can make the transition and tests all pass, then please, yes.

FWIW - I've not found `go get` to be a reliable way to get Go packages in general. Especially since `go mod` stuff.

[2021-02-09 14:37] #213 closed

[2021-02-09 15:12] deitch commented on #211
I just wasted too much time trying to get it to work. github.com/docker/distribution has been moved to github.com/distribution/distribution, but stuff in there still references docker/docker. it is a mess.

Just getting this to work as a library in a basic sense requires not using the illegal 01010000 pattern in `require`, because downstream dependency imports ignore the `replace` directive. Why?

[2021-02-09 15:15] deitch commented on #211
See if this does it https://github.com/deislabs/oras/pull/218

[2021-02-09 15:35] jdolitsky commented on #211
thanks. that is in main now. Can one of you let me know if that resolves it or if we need to make a new release?

[2021-02-09 15:38] deitch commented on #211
It works for me. Can you check as well @nishakm ?

[2021-02-09 16:55] nishakm commented on #211
@deitch n00b question: how do I make `go get` point to the tip of oras's main branch rather than `v0.10.0`?

[2021-02-09 17:03] deitch commented on #211
`go get github.com/deislabs/oras@main` (or whatever the branch name is; you can use tags or a sha commit too)

[2021-02-09 17:06] nishakm commented on #211
It works! Thanks!

[2021-02-09 17:25] jdolitsky commented on #211
👍

[2021-02-09 17:25] #211 closed

[2021-02-22 18:50] deitch opened #225 "default hybrid store on pull does not pass manifest and index through to ingester"
Looking at this code [here](https://github.com/deislabs/oras/blob/a64b0ac4faf26c58016fbd7ed1a9eb9d049e54ee/pkg/oras/store.go#L56-L68):

[code]

If the media type is a manifest or an index, it stores it in the cache - which can be a good thing, especially when the need to walk children comes about - but it doesn't pass it through to the ingester, as `s.cache` is just a `MemoryStore`.

Why would we

[2021-02-22 18:53] deitch opened #226 "hybrid store caching misses docker media types but ChildrenHandler expects them"
The caching code is [here](https://github.com/deislabs/oras/blob/a64b0ac4faf26c58016fbd7ed1a9eb9d049e54ee/pkg/oras/store.go#L64-L66):

[code]

However, the containerd Children handler [here](https://github.com/containerd/containerd/blob/v1.4.3/images/image.go#L330-L369):

[code]

expects the ability to read from the provider (in our case, the cache) for all _four_ media types (OCI manifest and ind

[2021-02-23 02:58] shizhMSFT commented on #226
It is **by design** that `oras` works only with OCI manifests and index since `oras` stands for `OCI Registry As Storage`.

If you are interested in docker manifests for private uses, you may take a look at https://github.com/shizhMSFT/oras/tree/shizh/docker_manifest.

[2021-02-23 04:57] deitch commented on #226
Actually, I agree with you, in principle. I far prefer to use OCI media types. But the real world is full of messy legacy things. It is entirely possible to have to deal with a registry that only supports legacy formats. ORAS mostly handles that ok, but every now and then runs into an issue, like here.

- I'd love technical purity on this, but we should be able to handle it if it isn't that way.

[2021-02-26 14:41] deitch commented on #225
FWIW, if we can agree on this, I am happy to open a PR for this one and pass them through. I already solved it locally. Let me know.

[2021-02-26 14:43] jdolitsky commented on #225
I would be fine with an an additional option such as `WithCachedMediaTypes` that allows you to supply your own, defaulting to `[]string{wOpts.Desc.MediaType, ocispec.MediaTypeImageManifest, ocispec.MediaTypeImageIndex}`

[2021-02-26 14:46] deitch commented on #225
That could solve both. I will provide a PR for both the caching pass through and the mediatypes next week.

[2021-02-27 02:45] morlay opened #229 "v0.10.0 break downstreams for `go get`"
When downstream dep `github.com/deislabs/oras` like `helm.sh/helm/v3`

if someone what to use `helm.sh/helm/v3`, go get will break (golang 1.16)
[code]

We could use `replace` to fix this.
but not all sub pkg dep `github.com/deislabs/oras`

**if the invalid version here, and all downstreams have to set the `replace`**

should avoid the invalid version  in go mod. like main branch did.

[code]

onl

[2021-02-27 16:49] deitch commented on #229
This is well known and fixed in #218. As soon as a new release is cut, it will automatically work downstream.

[2021-02-28 01:35] morlay commented on #229
Cool.

Waiting for next relaese 🎉

[2021-03-10 06:03] sjackman commented on #147
I just ran into this same issue myself.

[2021-03-10 15:29] nishakm commented on #165
I'd like to help with this. Do we need to re-implement Resolver from scratch or is there an oci lib we can use?

[2021-03-10 15:30] deitch commented on #165
I use google/go-containerregistry a lot.

[2021-03-10 15:38] nishakm commented on #165
IIRC google's go-containerregistry also uses docker's Resolver.

[2021-03-10 15:39] deitch commented on #165
I've spent so long in their code, I should know that. 😆

I'm away from laptop now, so cannot check.

[2021-03-10 15:51] nishakm commented on #165
I'm certainly no expert! I can dig into the code some more. Still, I have recently tried to use go-containerregistry to pull an index.json with no luck.

[2021-03-10 22:18] jdolitsky commented on #147
@yuval-k @sjackman - can you share which registry you are using? is this distribution (docker registry)?

[2021-03-11 00:27] sjackman commented on #147
I am using GitHub Packages Docker Registry https://ghcr.io

[2021-03-11 02:36] sjackman opened #237 "Pushing an image index"
Does ORAS support pushing an image index `application/vnd.oci.image.index.v1+json` that contains multiple `application/vnd.oci.image.manifest.v1+json`?
See https://github.com/opencontainers/image-spec/blob/master/media-types.md#oci-image-media-types
and https://github.com/opencontainers/image-spec/blob/master/image-index.md

[2021-03-11 08:00] sjackman commented on #147
Since that failure, I have pushed many tags that re-use blobs (layers), and haven't encountered an error.

[2021-03-11 08:06] sjackman opened #238 "Pushing an image manifest JSON [feature request]"
I'd like to prepare an image manifest JSON myself, and push it to a specified `name:tag`. For example:
[code]
All of the individual layers have already been pushed.

[2021-03-11 20:16] yuval-k commented on #147
@jdolitsky i provided a reproduction script that works with docker registry. see my original description

[2021-03-11 21:21] sjackman commented on #147
My failure re-used blobs (layers), but not the actual manifest itself. Perhaps reusing the manifest is the issue.

[2021-03-12 00:26] #225 closed

[2021-03-12 19:39] taywrobel opened #240 "Permit user-agent configuration"
Currently ORAS uses containerd under the hood, which is setting the user agent to be the containerd default of `containerd/{version}` here - https://github.com/containerd/containerd/blob/38604a76ca9b1a7c3e00eeeb92d2d3975c76e5d1/remotes/docker/resolver.go#L144-L146

As a registry maintainer it'd be preferable to have ORAS extend or overwrite that user agent so that we can discern between different

[2021-03-16 08:37] #226 closed

[2021-03-16 20:08] deitch commented on #229
v0.11.0 is released, this should be fine now. Would you care to try it out @morlay and either comment if it is not, or close the issue?

[2021-03-17 01:55] morlay commented on #229
@deitch works well. When PR merged, should be auto closed

[2021-03-17 04:51] deitch commented on #229
It was merged a while ago, but we were waiting for the release. That was completed yesterday. Please close this out.

[2021-03-17 06:42] #229 closed

[2021-03-17 09:43] Silvanoc commented on #238
It looks to me as if you are trying to use ORAS to build container images, without any other artifacts involved. Please, correct me if I'm wrong.

I don't think ORAS is supposed to be used for this purpose... Have you considered using [umoci](https://github.com/opencontainers/umoci)?

BTW, which version of ORAS are you using? I've used v0.10.0 and v0.11.0 and no option `--manifest` exists. Could i

[2021-03-17 10:27] Silvanoc opened #244 "Improve wording to name "what" is being pushed"
I haven't found any documentation about the name of the different elements being pushed to the registry:

A name for all the files composing the artifact (the payload), something like "**artifact items**" or simply "**artifact files**". What is called the "container image layers" in the case of container images.

IMO the right place for this documentation would be under [docs](https://github.com/d

[2021-03-17 11:22] Silvanoc commented on #244
After reading more carefully the [OCI Artifacts Specification](https://github.com/opencontainers/artifacts) I've realized that what I'm calling an "artifact set" in this issue is being called "**artifact**" (although no [definition](https://github.com/opencontainers/artifacts/blob/master/definitions-terms.md) is clearly stating that).

I'm editing the issue description accordingly.

[2021-03-17 12:18] Silvanoc opened #245 "Referring a container image from an artifact set"
I'd like to push an [artifact set](https://github.com/deislabs/oras/issues/244) that includes binaries, text (JSON config files) and container images. Is there any way to do so in order to let ORAS handle the container images as part of the artifact set? Or is it the only way to get it done adding the container image name to a metadata file?

The key difference is that if ORAS can handle container

[2021-03-17 15:53] shizhMSFT opened #246 "Failed to run the example with version 0.11.0"
Here is the output of running `github.com/deislabs/oras/examples`:
[code]

It is a regression introduced by #230

[2021-03-17 15:59] deitch commented on #246
That is pretty straightforward. Easy enough to fix.

I notice that the example depends on having a local registry at `localhost:5000` but doesn't say that anywhere.

[2021-03-17 18:38] sjackman commented on #238
I'm pushing artifacts that happen to be tarballs, and I've added OCI container image metadata to make them look like a container image, even though they're not really..

I didn't know about `umoci`. Thanks for the link! I'll check it out.

Sorry, I wasn't clear. The `--manifest` option doesn't currently exist. That's my feature request. 😁

I have constructed a `application/vnd.oci.image.manifest.v

[2021-03-17 23:00] sjackman commented on #237
- `skopeo copy -a source dest` works for OCI images and creates `application/vnd.oci.image.index.v1+json` https://github.com/containers/skopeo
 `docker buildx imagetools create --tag dest src1 src2` works for OCI images and creates `application/vnd.docker.distribution.manifest.list.v2+json`

[2021-03-18 00:18] shizhMSFT commented on #246
@deitch Running a local registry is as easy as `docker run -itp 5000:5000 registry`.

[2021-03-18 00:37] shizhMSFT commented on #246
I took a loot at #230, which fixes #225.

The idea of the `hybridStore` is that we don't care about the manifest and config in the regular `oras pull` scenarios, and they should not be presistent on the disk. That's why they are ingested in the memory as they ephemeral.

If a developer indeed want everything persist on the disk, the developer should pass the option `oras.WithContentProvideIngester

[2021-03-18 00:38] shizhMSFT commented on #246
I suggest to revert #230.

@jdolitsky @deitch Any thoughts?

[2021-03-18 06:21] shizhMSFT commented on #246
I've submit a PR #249 for a hot fix since it is a critical bug that a manifest won't have a filename and thus pull always fail.

[2021-03-18 06:27] deitch commented on #246
I commented there. Any kind of store should be able to handle any kind of content. If there are kinds of content that it cannot handle, then it has the choice of error or ignore, and that's a choice that should be made at the level of that store. Don't let it be a layer above.

Now, if we want the default to be ignore, rather than error, as @jdolitsky suggested, let's do that.

[2021-03-18 06:30] shizhMSFT commented on #246
OK. I agree with this one. At least, we should try not to block user on default behaviors, especially for CLI users.

[2021-03-18 16:18] jdolitsky commented on #246
PR to change the default behavior here: https://github.com/deislabs/oras/pull/250

This also adds an acceptance test to prevent this in the future

[2021-03-18 17:44] #246 closed

[2021-03-18 18:49] jdolitsky opened #251 "Docker image releases with different Go version than binaries"
[code]

[code]

How should we keep these best in sync other than using `latest` tag? Should we have a `GO_VERSION` file that is used both for CI and Dockerfile?

[2021-03-18 18:52] deitch commented on #251
A few possibilities:

* set the go version in the `Makefile` and pass it via a `--build-arg` when building in Docker, via `ARG` in the `Dockerfile`
* build the distributed artifact using the `Dockerfile`
* do it manually 😄

[2021-03-19 19:15] awakecoding commented on #178
@SteveLasker @deitch I am late to the discussion here, but I am looking for the best way to specify the filename or directory name that corresponds to each layer for my own implementation. The "org.opencontainers.image.title" annotation appears to be doing exactly that, but I am not particularly interested of replacing the annotation by tarballs, especially for small files.

I am looking at using

[2021-03-19 19:26] SteveLasker commented on #178
@deitch

There's a difference between the `artifactType` (`oci.image/manifest.config.mediaType`) and the contents of the layers|blobs.
Today, the ORAS cli focuses on a single file, or a folder. In the single file scenario, ORAS needs a way to state the filename, not just the extension. Just because the artifact is `registry.com/foo:v1`, the file in it may be `mypresentations.pptx`
To do this with

[2021-03-19 19:51] awakecoding commented on #178
@SteveLasker since .tar alone doesn't provide compression, but only bundles multiple files into a single file, it should normally result in identical hashes for the same content. However, the digest of a file is different from the same file inside a .tar archive, even without compression. While using tar everywhere would make the manifest look cleaner, it appears to be that this would only move th

[2021-03-21 09:02] deitch commented on #178
@SteveLasker I edited your comment to add a newline, as it was mixing your quote of what I wrote with your response. If I got it wrong, go ahead and change it.

[2021-03-21 09:06] deitch commented on #178
@SteveLasker if I understood you correctly, you are saying that once we use tar, which by definition includes filenames in tar headers, then we don't need the annotation. it is the moral equivalent (actually pretty close, technically) of instead of making the artifacts the _contents_ of a file (e.g. `"these are some contents"`), but the _contents_ and the _title_ (e.g. `file.txt:"these are some co

[2021-03-22 14:07] awakecoding commented on #178
@deitch @SteveLasker I agree that a "tar by default" approach keeps the manifest small and makes the whole thing much simpler to deal with. I'm all for adding such a mode of operation, and I'll let you guys decide if it should become the default, but how should we handle the non-tar modes?

Pretty much all of the use cases I'm looking into would not use the tar approach, and work towards describin

[2021-03-22 15:23] SteveLasker commented on #178
@deitch

Yup, **K**eep **I**t **S**illy **S**imple

A container image has very specific meanings and behavior to be a runtime image. If a container tool/runtime sees an `oci.image`, the expectation would be it could run it. There's a `config` with entry points, platform expectations, etc. Are we expecting the `oci.image` format to be just a collection of files? If so, is the entrypoint required, a

[2021-03-22 15:32] awakecoding commented on #178
@SteveLasker at this point I think I'm just going to develop my own tooling in PowerShell and Rust under the ["Sogar" project banner](https://github.com/Devolutions/sogar), such that I can have full control over the manifests and how to deal with them. Ideally, I would like to avoid diverging too much from ORAS or at least keeping some level of compatibility with it, such that artifacts pushed by

[2021-04-01 00:42] SteveLasker opened #252 "oras discover shouldn't require --artifact-type"
While the `artifact.manifest` references api may support filtering, not all registries may implement the filtering.
We also want to get a full collection of references, not limited by type

`oras discover --plain-http registry.wabbit-networks.io/net-monitor:v1`

should also be valid

[2021-04-01 00:46] SteveLasker opened #253 "oras discover should return manifest collections"
Similar to the `/v2/_ext/oci-artifacts/v1/{repository}/manifests/{digest}/references?n=10&artifactType={artifactType}` response, we should return a list of manifests, and the digest. See [Artifact References API results](https://github.com/opencontainers/artifacts/pull/29/files#diff-f4344aacfe1e5014cc09cf55e7b548cb73a2b370cf3484ca81900b3ed54d44bcR44)

Output of `--output-json` should be consistent

[2021-04-01 03:05] shizhMSFT commented on #252
Note: this issue only applies to the `prototype-2` branch.

[2021-04-01 03:08] shizhMSFT commented on #253
The raw API response from the distribution server should be transparent to the user.
The `oras` cli outputs the information in the same format of the API response but will never output the API response directly.

[2021-04-01 06:12] shizhMSFT commented on #253
This work item depends on https://github.com/notaryproject/distribution/issues/4

[2021-04-01 07:48] shizhMSFT commented on #252
This work item depends on https://github.com/notaryproject/distribution/issues/4

[2021-04-01 07:50] shizhMSFT commented on #253
Closed by db537ea3f63659f41738f5cfd24a7b47aab7959f

[2021-04-01 07:50] #253 closed

[2021-04-01 07:55] shizhMSFT commented on #252
Closed by 60b9dab763acec48c64b8d53c37f228ccc18d8cd

[2021-04-01 07:55] #252 closed

[2021-04-03 23:57] SteveLasker commented on #130
The user should be aware of what they're pulling. Having to specify both the image:tag reference, and the `media-type` is duplicate info. Having to type `--allow-all` is just another parameter they must type, even though they know the reference they want.

It would be like requiring someone to specify linux or windows on a multi-arch image. They're specifying the tag. The rest just happens.

[2021-04-04 00:00] SteveLasker opened #254 "oras push of oci.artifact.manifest to use default of application/tar"
When using the new `oci.artifact.manifest`, propose we fixup the default behavior for creating blobs.
Today, we create:
[code]

Referencing issue #178 to default to:
[code]

[2021-04-04 00:31] SteveLasker opened #255 "Define human output for `oras discover`"
The new [`oci.artifact.manifest`](https://github.com/opencontainers/artifacts/pull/29) support add discover, to find the list of referenced artifacts.

The question is what should the default, human, output be:

Today:
- default output
[code]

- `-v` output
[code]
- `--output-json` output
[code]

The `--output-json` looks good, as it matches the `/references` API
But, what should the default outpu

[2021-04-05 19:02] SteveLasker commented on #176
I think we're saying the same thing. The ORAS libraries should change to enable artifact authors to do what's correct for their CLI and not get caught in positional arguments that imply a behavior to their experience, or risk of breaking changes.

[2021-04-06 00:54] SteveLasker opened #256 "Create an ORAS Release Checklist"
Capturing the a tracking issue for the work @jdolitsky and @deitch have outlined

[2021-04-06 01:23] SteveLasker commented on #161
@griffin - you might want to checkout https://github.com/deislabs/oras/tree/prototype-2
@shizhMSFT added the `--dry-run` support, along with ` --export-manifest` as part of the Notary v2 prototype work.

If we like, we can promote it up to main, but I do want to give credit for your suggestion.

[code]
Output:
[code]

And, new experimental reference artifact support

[code]

Output:
[code]

[2021-04-06 02:35] jdolitsky commented on #256
Below is the contents of that hackmd:

---

# ORAS Release Checklist

- [x] 1. Make sure your GPG is available on GitHub at `https://github.com/<username>.gpg`. This can be added at https://github.com/settings/keys
- [x] 2. If you haven't already, open PR to add your GPG key to the [`KEYS`](https://github.com/deislabs/oras/blob/main/KEYS) file (see file for instructions)
- [x] 3. Look for any refe

[2021-04-06 07:15] shizhMSFT commented on #130
@SteveLasker Are you suggesting that we should make `--allow-all=true` by default? /cc @jdolitsky

[2021-04-06 07:28] shizhMSFT commented on #255
@SteveLasker It is getting more and more like https://docs.microsoft.com/en-us/cli/azure/format-output-azure-cli

[2021-04-06 08:46] shizhMSFT commented on #178
@SteveLasker Putting everthing in a tar, especially one file per tar, probably need more discussions in terms of engineering and security.

## Artifact Digest

The digest in the manifest is no longer the digest of the file inside of the tarball. It makes the user harder to verify if the registry has got the correct content. Precisely, the user cannot simply do `sha256sum artifact.txt` and compare

[2021-04-06 18:32] SteveLasker commented on #178
Thanks @shizhMSFT,
The focus on security is always important. What I'm suggesting here isn't what the underlying ORAS libraries would be capable of.
What I'm suggesting is we split the ORAS binary from the libraries. The underlying ORAS libraries have the functionality to store files directly into blobs, and they can optionally use the annotation, or they could tar a collection of 1 or more files.

[2021-04-06 20:48] SteveLasker commented on #256
### Complexity of steps
That's a lot of steps. Is there some automation that could be done, where a release is cut and automation done, with minor manual verification?
### Library & Utility
+1 on the independent versioning of the split of the oras binary and oras libraries.
We likely want to keep major versions in sync, but allow the two to evolve on their own, within that major release band. The

[2021-04-06 23:48] SteveLasker commented on #255
Is that a bad thing? :)

[2021-04-06 23:51] SteveLasker commented on #166
If anyone would like to implement ORAS in Python, we'd be happy to adopt it under ORAS. If so, please reach out and we can add it to the ORAS family. We'd love to make ORAS multi-lingual.

[2021-04-07 00:05] SteveLasker commented on #130
Yup.

But, talking with @sajayantony , I realized this has the assumption that we've done the split #181 of the `oras` binary and `oras-library`. The assumption is the library has all the strict apis, enabling very specific configurations. Meaning, `reg-doc` would push and pull the `mediaType=application/x.reg-doc`.
However, in the oras binary, we'd be more generic.

Rather than having to specify

[2021-04-07 00:20] vsoch commented on #166
@SteveLasker I'd really enjoy doing this as a weekend project, seems up my alley :) Is there any documentation or discussion to be had, or just point at this repository and say "Make it Python!" I could probably do that over the weekends as a fun project.

[2021-04-07 00:29] SteveLasker commented on #166
Thanks @vsoch,
We're about to do a split of the libraries and binaries #181, so I'd suggest tracking that item and once complete you should have what you need to do a python version. Or, this will help us understand what we need to doc, so you could write a python version.

Steve

[2021-04-07 01:26] SteveLasker commented on #244
Thanks @Silvanoc,
I think we're missing the generalization of what constitutes a layer in `oci.image.manifest` terminology.
- In the OCI Artifacts terminology, a layer is persisted as a blob in a registry.
- In the `oci.image.manifest` spec, the layers collection is ordinal, and overlay.
- With OCI Artifacts, it makes no assumption about the contents of the blobs, or the ordinal nature. It's reall

[2021-04-07 01:31] SteveLasker commented on #245
Reading #244, I think what you're referring to here is the ability to push mixed content (an artifact set).

While `oras` can push a directory, the `oras` cli focuses on arbitrary content in a directory, and doesn't have knowledge of the specific content.

The concept of `references` is captured in a proposed [oci.artifact.manifest](https://github.com/opencontainers/artifacts/pull/29)

We have a w

[2021-04-07 01:35] SteveLasker commented on #238
Hi @sjackman,
The `oras` cli is focused on pushing/pulling file[s]. If you're looking to push a manifest, that references existing digests, that is a more generic registry tool that we haven't currently focused on.
We are pursing #181, which would split up the `oras` cli and `oras libraries` into separate repos. This would allow you to add use the manifest put library (once it's factored out) and

[2021-04-07 01:39] SteveLasker commented on #237
We were initially planning on adding support for `oci.index`, if it added a `oci.index.config` object to understand which type of artifact the index represented.
As index doesn't actually support blobs, as it's really an index to other manifests that have content, we're looking at other means to store content, with a collection of references.
Please see:
- [OCI artifact manifest #29](https://githu

[2021-04-07 01:40] SteveLasker commented on #208
`oras` provides the underlying libraries that enable [helm registry](https://helm.sh/docs/topics/registries/) support, which is supported by harbor and most other registries.

Does that cover what you were looking for?

[2021-04-07 06:20] Silvanoc commented on #245
You're right.

Although oras focuses on arbitrary content, it relies on containerd with knowledge about container image content. My hope was that oras would support it.
On the other side, if you stay content agnostic, then some when on time you can move to modules for content management without knowledge about container image content.

Thanks for the link. Looks interesting, I'll have a look at it

[2021-04-07 20:35] sjackman commented on #238
https://github.com/containers/skopeo worked for me! Thanks, Steve. You can close this issue. I now use `skopeo` to upload the artifacts and either `skopeo` or `oras` to download the artifacts.

[2021-04-07 20:44] sjackman commented on #237
Homebrew https://brew.sh is a package manager that supports both macOS and Linux. We have binary packages (called bottles), which are tarballs, for multiple versions of macOS and one universal Linux bottle that works on all distributions. We store each bottle in an ORAS artifact in an image manifest. We bundle these image manifests up into a single image index. We use the `.manifests[].platform` o

[2021-04-08 10:16] shizhMSFT commented on #255
@SteveLasker How about this?

[code]

[2021-04-09 09:07] deitch commented on #178
The key element for me, here, is Steve's [most recent comment](https://github.com/deislabs/oras/issues/178#issuecomment-814348494). This is not about the _library_, which (as I understand it) will continue to maintain all of its capabilities. It can:

* store artifacts as individual files in layers as `application/tar`
* store artifacts as individual layers with custom media types
* store artifact

[2021-04-09 09:18] deitch commented on #237
Homebrew stores its bottles as artifacts in an OCI registry? I didn't know that; been using it since earliest days, must be close to a decade now, switched over from, was it "macports"?. Which registry do you use, @sjackman?

@SteveLasker I think @sjackman is looking for something very similar to how container images work. One root index, with `manifests` property, which is a list of manifests, ta

[2021-04-09 20:47] sjackman commented on #237
As of this week!

GitHub Packages, also known as GitHub Container Registry https://ghcr.io
See https://github.com/orgs/homebrew/packages

We actually do use the media types `application/vnd.oci.image.index.v1+json ` and `application/vnd.oci.image.manifest.v1+json` and even `application/vnd.oci.image.layer.v1.tar+gzip ` for compatibility with `oras`, `skopeo`, even `docker`.

[2021-04-09 20:51] sjackman commented on #237
For example
[code]

[2021-04-11 12:35] deitch commented on #237
Then what is missing from oras for your support? It looks pretty solid.

[2021-04-11 12:44] deitch commented on #237
I like that. I am a big advocate for using registries as a universal distribution mechanism. The combination of layers, manifests with annotations and stacking, and hashes (especially hashes), plus natively-attached config to each manifest, makes for a very powerful system.

I have my own tool for doing the same, mostly to inspect and pull down images.

[2021-04-12 16:36] sjackman commented on #237
Nothing. Using `oras` for download works out of the box, and that's great. I don't believe `oras` supports pushing a multi-architecture image index `application/vnd.oci.image.index.v1+json`.  We're using `skopeo` for upload, and that solution is working just fine for us.

[2021-04-20 17:47] mykter opened #260 "Document use with GitLab Container Registry"
Following the README works for logging in, but then when it comes to pushing you hit a 500 error:
[code]

However if you remove the `--manifest-config` option it works.

I don't know if this is a bug on the GitLab front (I couldn't [see anything](https://gitlab.com/gitlab-org/gitlab/-/issues?scope=all&utf8=%E2%9C%93&state=opened&search=%22container+registry%22+oci)) or if this is reasonable and ju

[2021-04-21 08:00] mahendrapaipuri commented on #260
I was trying to push Singularity image into GitLab registry and this worked for me:

`oras push registry.gitlab.com/group/project/images/my-img my-img.sif:appliciation/vnd.sylabs.sif.layer.tar`

Looks like I just have to specify the layer type.

I could pull this image as well without any issues. The only problem is that GitLab container registry UI parses the `creation` timestamp of the config fi

[2021-04-22 19:49] dtrudg commented on #260
It appears GitLab Container registry has the same issue we see (in Singularity) with Harbor. The registry rejects the null config as it has a non-oci image config media type.

In https://github.com/hpcng/singularity/pull/5951 - we are just going to try to push SIF images to a registry using the custom config mediatype, and then if it fails try again without. This should be an effective fix for `si

[2021-04-27 23:44] sagikazarmark commented on #237
This might be an interesting use case for pushing (and pulling) multi-arch binaries (multiple binaries for different architectures), but I'm not sure it's within the scope of oras.

[2021-04-28 03:22] SteveLasker commented on #237
Now, that's an interesting angle I hadn't thought of. Since these are new artifacts, we'll need to think through whether the oci.index is the best solution, or possibly one of the oci artifact manifest proposals
- https://github.com/opencontainers/artifacts/pull/29
- https://github.com/opencontainers/artifacts/pull/37

@justincormack for thoughts around multi-arch for other artifactTypes.

[2021-04-28 08:09] sagikazarmark commented on #237
The upside of using image index is that it works with skopeo and other tools. It doesn't have to be a requirement though, if there are alternatives.

I'm not 100% sure that oras needs to be the tool that supports multi-arch artifacts as it tries to a be a generic tool as far as I can tell. But it could be, I don't know.

I think this is a topic that's worth standardizing though.

[2021-04-28 19:19] SteveLasker commented on #237
I wouldn't say ORAS is trying to be the container image tool, as there are great tools for that. Rather, it's the non-container image tool for utilizing registries, without the constraints of the container image specific artifact type.
That said, the multi-arch pivot was the eye-opener (duhh moment).

[2021-04-29 18:12] deitch commented on #237
Yes, that is exactly how I look at it.

[2021-05-07 02:57] peterj opened #267 "Build for darwin-arm64?"
It would be great if a build for `darwin-arm64` is added.

[2021-05-10 22:56] vsoch opened #269 "implementors.md linked from README"
Hi! I was looking at the code base and it looks like the implementors.md file, last updated here https://github.com/deislabs/oras/commits/6414398e514585f6e8de332cce43a8df8b856285/implementors.md is no longer there. Can we update these links, or should they be removed? I can offer to help if it's a quick housekeeping thing and you can tell me where to find things.

[2021-05-16 05:11] lmcdasm commented on #142
Hello Gents.

Reading through the entirety of this thread, 131, and then the Ref3 information,  i was a bit lost as to where this issues stands presently.

In our setup, we are looking to consolidate all our object types into OCI, and use the config.json as the OPTIONAL addition for our needs (non-container type objects, so arbitrary info.

following all the readme and such, we are able to create

[2021-05-16 10:14] deitch commented on #142
This is one of those issues that is somewhat fundamental, triggered by a seemingly simple question, so it stays open and is a discussion point for quite some time. At least once every few months, I find myself looking for something like this, stumbling across it, and going, "Oh, look, someone raised it already! I wonder who it was?" 😄

We also are looking at some fundamental re-plumbing of oras th

[2021-05-16 15:00] SteveLasker commented on #142
if one puts something in, one should be able to get it out.
the —configOut parameter sounds like a great choice.
We should probably add the option to get just the config as I can imagine scenarios, similar to docker, that the config might provide info that routes the remaining blob pulls to another host process.

[2021-05-17 03:15] shizhMSFT commented on #142
This is really an old thread. Let me write a doc for how to push and pull the config file using the existing `oras` cli. Then I will try to figure out a proper UX to explicitly pull the config.

[2021-05-17 07:42] shizhMSFT commented on #142
Created PR https://github.com/oras-project/oras-www/pull/3 for existing `oras` cli releases to push / pull configs.

[2021-05-17 10:38] shizhMSFT commented on #142
#274 allows CLI to pull config.

The implementation is a bit hacky since all configs and layers are flattened by the containerd remote resolver as descriptors. We are not able to know which descriptor is the config without explicitly unmarshal the manifest, which should be the containerd internal.

[2021-05-18 02:57] #269 closed

[2021-05-19 12:39] shizhMSFT opened #275 "Pull arbitrary manifest config"
As the solution to #142, #274 enables the CLI to pull manifest config. However, the user must provide the desired media type of the config or use the default.

The advantages of specified media types are
- Config can be virtually optional although it is a required field in the manifest.
- `oras` will not pull unrecognized config files.

In this issue, we discuss we should allow pulling arbitrary m

[2021-05-19 17:07] KarsonAlford opened #276 "Links to 0.12.0 in ReadMe are broken"
Some or all of the links to version 0.12 are broken.  Based on your releases page this version does not exist yet.

https://github.com/deislabs/oras/releases/download/v0.12.0/oras_0.12.0_windows_amd64.tar.gz

[2021-06-02 01:56] jdolitsky commented on #267
@peterj - missing documentation, but there is indeed  a darwin-arm64 build: https://github.com/oras-project/oras/releases/tag/v0.12.0

Will keep this open for the documentation updates

[2021-06-02 01:57] jdolitsky commented on #276
@KarsonAlford - apologies, bumped the version in the readme prior to doing the release. v0.12.0 is released now, and these artifacts are now available

[2021-06-02 01:57] #276 closed

[2021-06-07 16:13] #240 closed

[2021-06-08 12:22] Hades32 commented on #148
Noticed this as well. Is that expected @SteveLasker ?

[2021-06-09 15:41] jdolitsky commented on #181
This is done:

- CLI: https://github.com/oras-project/oras
- Library: https://github.com/oras-project/oras-go

[2021-06-09 15:41] #181 closed

[2021-06-09 15:43] jdolitsky commented on #176
Done, see new `ResolverWithOpts`: https://github.com/oras-project/oras-go/blob/dc9aa475e4ca4f9bbf3aa76f04629eab067692bc/pkg/auth/client.go#L44

[2021-06-09 15:43] #176 closed

[2021-06-09 15:44] vsoch commented on #181
I was following this issue intending to implement a python version - is this still desired? And if so, should I use the CLI link as reference?

[2021-06-09 15:44] jdolitsky commented on #240
This can be achieved using `LoginWithOpts` for authn/authz requests and `ResolverWithOpts` for normal requests

[2021-06-09 16:52] SteveLasker commented on #181
Hi Venessa,
Yes, all languages are welcomed. This was one of the reasons to move from deislabs to it’s own org, provide for more language specific repos.

[2021-06-09 17:24] vsoch commented on #181
okey doke! I can probably start on this over the weekend. In case it matters for the future, I'm a "Vanessa." Thanks for the update!

[2021-06-09 17:28] SteveLasker commented on #181
Thanks, and apologies for the misspelling.
If you'd like to create a repo under your own org and stage the python work, we can create the repo when you're ready. Or, if you'd like a oras-python repo to start from there, we can likely do that as well. Let us know what you'd prefer.

[2021-06-09 17:34] vsoch commented on #181
I'm pretty indifferent - a repo transfer is just as much work on your end as creating one, so it's probably easiest for me to start on my user account and then transfer. I'll post an update here after some work this weekend!

[2021-06-09 18:25] jdolitsky commented on #181
@vsoch - we actually have a placeholder for this: https://github.com/oras-project/oras-py

I've just added you to maintainers team, feel free to push to a branch there!

oras-go is currently undergoing a redesign of the API. I would love for the Python version to match that API, so users going between the two have a familiar library to work with. Would you mind reaching out in Slack/Email to discu

[2021-06-14 15:32] SteveLasker commented on #148
@deitch, @jdolitsky, @shizhMSFT can you help with some thoughts?
This looks like the work to standardize around tar would be really helpful. https://github.com/oras-project/oras/issues/178

[2021-07-01 15:36] jdolitsky opened #283 "Remove all documentation, point to docs website section on CLI"
See https://oras.land/cli/

[2021-07-08 17:42] SteveLasker opened #287 "ORAS CLI Templates"
As new artifact types surface, artifact authors seek a cli to enable `thing push|pull`. The `oras` cli has done well to enable iterative testing, however it requires users to specify the `mediaType` and details a `thing` user shouldn't need to specify. With the refactoring of ORAS libraries, it would help new artifact authors with a template for how to implement their own cli.

## Goals

Get a new

[2021-07-13 20:16] caniszczyk opened #288 "Move to Apache 2.0 license per CNCF requirements"
https://github.com/cncf/foundation/blob/master/charter.md

Can this be done for all ORAS components thanks!

[2021-07-20 20:48] bacongobbler commented on #156
pinging here again as another ticket was opened at helm/helm#9956.

[2021-08-04 17:00] myoung3 opened #294 "auto-generated docker commands on github packages"
This is obviously an issue with on github's end, but perhaps this is something that oras can solve universally?

![dockercommands](https://user-images.githubusercontent.com/2517171/128223001-5e94fda7-1ae0-4b94-8733-3aa3002c567b.png)

This package contains a .sif image, but github automatically displays docker command which obviously don't work.
https://github.com/kaufman-lab/build_containers/pkgs/

[2021-08-09 20:04] sajayantony commented on #294
@myoung3 - This sounds like a issue with GHCR. The oras CLI doesn't upload a docker manifest.

[2021-08-09 20:34] myoung3 commented on #294
@sajayantony Yes it's 100% an issue with GHCR, but oras maintainers are better suited to coordinate with github to fix this. I don't understand how tags work in containers and ORAS well enough to submit an coherent feature request to github on this.

[2021-08-12 21:06] SteveLasker opened #295 "ORAS Discover use -o for output format"
The current `oras discover` api has a handy `--output-json` flag. Many other cli's use `-o json`, enabling different output formats.

Change requested:

change `--output-json` to `-o json`

[2021-08-13 23:54] SteveLasker opened #296 "Add Reference Type support"
While capturing the [Notary v2 project requirements](https://github.com/notaryproject/notaryproject/blob/main/requirements.md), we identified the need to have reference types, enabling any artifact to associate itself with an existing artifact.
This would enable a graph of objects to be represented within a registry, including Signatures, SBOMs, Signatures of SBOMs, Security Scan results, and more

[2021-08-15 21:20] deitch commented on #296
A few questions (I know that most of these have been answered in discussions; wanted to capture here on the issue).

- To be clear, these are reverse linkage and not forward? So the signature for an object points to the object, and not the other way around? The impact of that is that if I only know the object, I've got no way to get the signature. Is that correct?
- where does the reference exist

[2021-08-16 00:49] SteveLasker commented on #296
reverse, yes.
Signatures, SBoMs aren’t considered to have individual identity, thus no tag.
You get a signature by requesting for referred objects of a tag net-monitor:v1 with an artifactType of cncf.notary.v2

The reference types branch of Oras has a discover api that Shiwei created. It’s super powerful.
https://www.youtube.com/watch?v=GnmqTyo1a3M

[2021-08-16 01:05] deitch commented on #296
So the distribution (registry) needs to have, at least:

- Tracking of references (forward), independent of what is in the referred item. If signature x refers to manifest y, then x points to y inherently, but the registry needs to track that y is referred to by x. Nothing in y knows it, it isn't listed anywhere
-  Updated garbage collection, since nothing points to x. This may impact local system

[2021-08-16 15:08] deitch commented on #296
OK, makes sense.

I would like to get a better understanding as to what layer of API implementation is library responsibility (and which lib), and what is cli?

A better way of putting it is to list the underlying activities that need to take place, then identifying where the implementation happens, which leads to what gets rolled together by CLI.

E.g. the newer `Copy()` API just copies all of th

[2021-08-16 15:16] SteveLasker commented on #296
Agreed Avi,
If we agree to move forward to address "this issue", we can call out those details in the subsequent PRs.

The discover APIs is implemented, but we do want to enable copy apis as well, with inclusion and exclusion of `artifactTypes` so users can copy the graph from one registry to another, and we'd like to incorporate this into your refactored design.

Just to capture consensus, do you

[2021-08-17 18:55] SteveLasker commented on #295
Tagging @mnltejaswini

[2021-08-17 18:56] mnltejaswini commented on #295
Can you please assign to me

[2021-08-23 17:22] sajayantony commented on #294
@SteveLasker - Do you think you can engage the GitHub or GHCR team for this issue?

[2021-08-23 17:30] SteveLasker commented on #294
Calling @clarkbw for insight

[2021-08-23 17:37] clarkbw commented on #294
@nilofer would know more now

[2021-08-23 19:20] nilofer commented on #294
👋 Yes, GHCR defaults to `docker pull` instructions right now.  We're taking a look at how to better this experience in the future for other package types hosted on GHCR, but I don't have concrete plans or a timeline to share at the moment.

[2021-08-25 02:43] sajayantony commented on #256
/cc @juliusl

[2021-08-25 02:50] juliusl commented on #256
For drafting releases #299, WIP

[2021-09-01 18:12] SteveLasker opened #301 "ORAS get-manifest command"
ORAS Artifacts, notation and other clis associate references to a digest.
However, users think of tags.
The oras CLI and go-lib would take a tag, and return a digest, and the associated manifest.

[2021-09-02 00:24] juliusl opened #302 "Auth story for `oras login`"
Currently we depend on docker login to support auth. In some of the work with retooling oras-go, I've abstracted this out of the resolver. This leaves auth as an open question for oras.

What I would like to propose, and the direction I headed in my PR, is to closely rely on golang's oauth2 implementation. (which is the closest I can get to built-in interfaces/structs)

Specifically  `golang.org/x

[2021-09-02 00:29] northtyphoon commented on #302
@sajayantony @shizhMSFT

[2021-09-03 08:54] dubeno opened #303 "unexpected commit size"
when pull time over than 15 s, will cause this error

Error: failed commit on ref "abc": unexpected commit size 219714896, expected 246893452: failed precondition

[2021-09-03 16:04] shizhMSFT opened #304 "Revisit the Design of ORAS"
Originally, ORAS is designed to upload any files to the registry, mapping the file to the layer blob. Therefore, the remote layer blob can be downloaded to the local disk and renamed according to the `org.opencontainers.image.title` in the annotation field without further operations like untar, decompressing, or even sequential extraction.

Example manifest:

[code]

Apparently, it does not suppor

[2021-09-10 21:29] SteveLasker opened #307 "Copy Artifact Reference Graph"
## Goal
Support copying a graph of artifacts from a source to a destination registry.

### Scope
`oras copy ...`
- source and destination registry
- source and destination authentication
- filter to a set of `artifactTypes`
- filter out a set of `artifactTypes`
- All references are copied before the tag is applied to support tag update scenarios.
- If the digest exists on the destination, the cp s

[2021-09-10 21:38] SteveLasker commented on #288
Closing, based on #292

[2021-09-10 21:38] #288 closed

[2021-09-10 21:39] SteveLasker commented on #255
Closing as #258 and the `-o` commands have been completed.

[2021-09-10 21:39] #255 closed

[2021-09-14 17:34] sajayantony commented on #267
As per @jdolitsky there is a build for darwin and can be located at - https://github.com/oras-project/oras/releases/download/v0.12.0/oras_0.12.0_darwin_amd64.tar.gz

Please reopen if the build does have an issue.

[2021-09-14 17:34] #267 closed

[2021-09-14 17:36] sajayantony commented on #251
Glad we don't have a latest. This makes pre-release pipelines easier since the tag would be the full version. For e.g. `v0.2.0-alpha.1`

[2021-09-15 03:03] SteveLasker opened #314 "Converge oras reference types into main"
Along with oras-go copy capabilities

[2021-09-16 03:54] juliusl opened #317 "Login error with -u -p"
I tried logging in with -u and -p, didn't work, but worked when I did just `login`. I expected either to work. Am I doing something incorrectly?

oras version
[code]

command input  (omitting details)
[code]

[2021-09-17 10:25] akashkeshari opened #318 "Include support for helm 3.7 OCI artifacts"
Hi,

We have a scenario where we push the helm OCI artifacts using ORAS tool to a azure container registry. This registry has anonymous pull enabled and then our customers use the helm client to pull these OCI artifacts (helm chart pull)

1. oras push 'acr_url/chart_path:chart_version' '<path_to_compressed_artifacts>'
2. helm chart pull  'acr_url/chart_path:chart_version'

Recently, there was a br

[2021-09-17 12:52] jdolitsky commented on #318
@akashkeshari - you simply need to define the mediatypes for both the manifest config and chart layer.

Something like the following would work:
[code]

`config.json` should technically be a JSON-ified version of the chart's `Chart.yaml` (vs. empty / `{}`), although this is currently unused.

[2021-09-21 18:33] SteveLasker opened #319 "Release v0.20.0-alpha1"
Milestone [v0.20.0-alpha1](https://github.com/oras-project/oras/milestone/3)

## Release Deliverables

- [ ] Decide on main commit for release
- [ ] Cut branch named `v0.20.0-alpha1` based on agreed upon main commit
- [ ] Cut a tag named `1v0.20.0-alpha1`
- [ ] Update README.md

Maintainers, please respond with a +1 comment once you are in favor of cutting this release?

[2021-09-22 02:13] gaocegege commented on #160
I am closing it since it is not maintained in this repository.

[2021-09-22 02:13] #160 closed

[2021-09-24 15:55] sajayantony commented on #319
We need a similar item for the library since notation and other clients would require these capabil

[2021-09-24 18:23] jdolitsky commented on #319
Should v0.20 be v0.13 ? :)

[2021-09-27 23:46] SteveLasker opened #320 "oras discover doesn't return the full digest"
## Repro Steps
Follow steps from: https://github.com/oras-project/artifacts-spec/blob/main/docs/quick-start.md

At the `oras discover` step, note the output is:

[code]

Curling the `/referrers/` API generates:
[code]

## Expected

The tree and table outout formats should limit to the `digest` and `artifactType`. However, the `-o json` should be consistent with the referrers API to enable nested c

[2021-09-28 01:23] SteveLasker opened #326 "oras push/cp --digest-only"
To support [tag update scenarios](https://github.com/notaryproject/notation/issues/45), where a new digest, and all its references should be pushed before a tag update is applied, we need a way to push a container image, or any `artifactType`, deferring the tag application.

Initially, I considered `docker push --digest-only`, and that may still be the best idea. Except, that would require a chang

[2021-09-28 01:33] SteveLasker opened #321 "oras push/cp --digest-only"
To support [tag update scenarios](https://github.com/notaryproject/notation/issues/45), where a new digest, and all its references should be pushed before a tag update is applied, we need a way to push a container image, or any `artifactType`, deferring the tag application.

Initially, I considered `docker push --digest-only`, and that may still be the best idea. Except, that would require a chang

[2021-09-28 01:37] sajayantony commented on #296
Removing the resolver might address this and now that Copy has been implemented we should focus on supporting the new manifest type -
https://github.com/oras-project/oras-go/pull/17

[2021-09-28 01:41] sajayantony commented on #303
@deitch @shizhMSFT @juliusl  have any of you see this before?

[2021-09-28 01:42] sajayantony commented on #159
If this is still an issue please reopen.

[2021-09-28 01:42] #159 closed

[2021-09-28 01:46] sajayantony commented on #245
With support for copy  ORAS should handle container images as just another manifest with layers that needs to move.  /cc @deitch

[2021-10-13 10:48] tompizmor opened #325 "Error: not_found downloading the manifest-config from a remote artifact"
I am trying to download the manifest config from a remote container image as seen [here](https://github.com/oras-project/oras/pull/274) using the following command:

[code]

The config.json file is downloaded properly with the correct data, however, the cli is returning `Error: not_found` and exiting with error code 1.

Sorry if this issue is already duplicated. I tried looking similar ones but di

[2021-10-20 21:30] sajayantony opened #327 "Remove fork of containerd"
The current [containerd fork](https://github.com/oras-project/containerd) is not being used by artifacts and can be removed is my understanding and can be removed.

/cc @bridgetkromhout since the fork is behind and needs attention.

[2021-10-21 17:38] jdolitsky opened #328 "Upgrade to oras-go v0.5.0"
Please see https://github.com/oras-project/oras-go/releases/tag/v0.5.0

[2021-11-02 22:33] sajayantony commented on #304
For releasing 1.0 having a clear idea of all exposed types have to be agreed upon.

https://gist.githubusercontent.com/sajayantony/75bd90a7f3db4980b02b32bb6d23fd54/raw/e730fc31d6a87014f040f394289c904228af3601/diag.svg

[2021-11-08 23:33] bridgetkromhout opened #334 "adopt a license scanning tool"
As a step towards completing the [CNCF Sandbox project onboarding](https://github.com/cncf/toc/issues/692), the ORAS project needs to adopt a license scanning tool, like FOSSA or Snyk.

https://www.cncf.io/services-for-projects/#tools

[2021-11-08 23:34] bridgetkromhout opened #335 "start on CII best practices badge"
As a step towards completing the [CNCF Sandbox project onboarding](https://github.com/cncf/toc/issues/692), the ORAS project needs to start on a [CII best practices badge](https://bestpractices.coreinfrastructure.org/).

[2021-11-10 00:14] SteveLasker commented on #327
@shizhMSFT, do we need this fork?

[2021-11-10 00:16] SteveLasker opened #336 "oras pull doesn't pull content with oras artifacts"
- Initial setup

[code]

- Build and push an image

[code]

- Create an independent artifact

[code]

- Push the independent artifact

[code]

- Pull an independent artifact

[code]

- Content exists
[code]

## ORAS Artifact - Reference Types

- Push the regDoc to the registry, as a reference to the $IMAGE:

[code]

- Get the digest of the regdoc sample
[code]

- Pull the reference type content

[

[2021-11-10 03:11] shizhMSFT commented on #336
@SteveLasker The branch [artifacts](https://github.com/oras-project/oras/tree/artifacts) works as expected.

Note to `zsh` users: setting `USERNAME` environment variable has no effect. Please use other environment names.

[2021-11-10 08:26] shizhMSFT commented on #327
No, the [artifacts](https://github.com/oras-project/oras/tree/artifacts) branch does not require customized `containerd` anymore.

Although `v0.2.0-alpha.1` requires that fork, it has been succeeded by the `artifacts` branch.

[2021-11-10 13:07] SteveLasker commented on #327
Thanks @shizhMSFT
Since alpha 1 is still our current release, should we keep the fork until alpha 2 is released?

[2021-11-10 14:51] sturlath opened #337 "Is it possible to push two files (same file ending) without it being tared?"
My scenario

I´m packaging versions of C# code using Entity Framework Core to ACR that the will then be picked up in the release stages and run.

I want to package idempotent migration script (just a *.sql file) with the tagged container together. I have managed to do this with one file by pushing and pulling **but** I have not managed to figure out if I can push **two** *.sql files!

The reason f

[2021-11-11 03:58] SteveLasker commented on #336
Confirmed the artifacts branch is working. @shizhMSFT will cut a new release for folks to download.
@shizhMSFT, please tag this issue when the release is done and we'll close this issue.

[2021-11-11 06:35] shizhMSFT commented on #336
Closing this issue as it has been addressed by [v0.2.1-alpha.1](https://github.com/oras-project/oras/releases/tag/v0.2.1-alpha.1)

[2021-11-11 06:35] #336 closed

[2021-11-11 17:50] SteveLasker commented on #327
removed

[2021-11-11 17:50] #327 closed

[2021-11-13 00:53] nathana1 opened #339 "release .zip file for windows instead of .tar.gz"
You can add a format override .goreleaser.yml to make the windows release a bit friendlier.  Something like this (the formatting is a bit off):

archives:
  - format: tar.gz
    files:
    - LICENSE
format_overrides:
      - goos: windows
        format: zip

[2021-11-15 09:57] sturlath commented on #337
Ok closing this! It was an issue in my script! I got it to work

[2021-11-15 09:57] #337 closed

[2021-11-15 10:41] sturlath commented on #337
Sorry I thought I had figured this out but it looks like I can push successfully but when I pull I just get the latest  one. I created another ticket here https://github.com/opencontainers/artifacts/issues/52

[2021-11-16 05:55] sajayantony commented on #304
I think given the number of request to show manifests - I've started a discussion here - https://github.com/oras-project/oras/discussions/340
/cc @mnltejaswini @shizhMSFT @deitch @jdolitsky

[2021-11-16 20:21] jdolitsky commented on #334
Is there some example from another CNCF project somebody can share? Thinking we can easily copy paste something here

[2021-11-16 20:21] jdolitsky commented on #335
Is there some example from another CNCF project somebody can share? Thinking we can easily copy paste something here

[2021-11-16 20:40] jdolitsky commented on #334
this looks relevant https://github.com/distribution/distribution/pull/3396

[2021-11-16 20:41] jdolitsky commented on #335
seems relevant https://github.com/kedacore/keda/pull/691

[2021-11-16 21:34] bridgetkromhout commented on #335
We can't just PR in a file - we need to click through starting on https://bestpractices.coreinfrastructure.org/en/projects/new and "add" ORAS as a project.

[2021-12-06 08:18] gaocegege commented on #166
Hi, is there any progress here? I am still waiting the upstream python SDK to support https://github.com/kleveross/ormb

Or I can help implement such an SDK for the community.

[2021-12-06 08:46] vsoch commented on #166
I started but I haven't been able to make the time, so please take the reins if you can! https://github.com/vsoch/oras-python

[2021-12-06 08:55] gaocegege commented on #166
Cool!

Can you please push it to the upstream https://github.com/oras-project/oras-py, then maybe we can collaborate on it!

[2021-12-06 09:00] vsoch commented on #166
Sure! It’s 2am here so I can do this tomorrow - feel free to grab the commits and do it on my behalf.

I can definitely more easily help if it’s a team effort - would be nice to have someone to chat to about it. I was trying to reproduce the Go structure verbatim which in retrospect I’m not sure was the right approach.

[2021-12-06 10:29] gaocegege commented on #166
I am in https://cloud-native.slack.com/archives/CJ1KHJM5Z and my slack ID is https://cloud-native.slack.com/archives/D91B8M3J4 (gaocegege), we can discuss it in the channel.

[2021-12-06 18:18] idvoretskyi commented on #334
@jdolitsky our suggestion would be to use either FOSSA (which is a pure license scanning tool mostly), or Snyk (which is way more feature-rich, and worth considering if you need other security&scanning features).

We can provide you with the premium-tier licenses for both tools, so let me know if you need any assistance with this :)

[2021-12-09 09:06] Hades32 commented on #178
We're currently using the oras CLI and would really like to not have to write our own CLI on top of the lib. The way it currently is, is not perfect (no file-mode persistence, no compression) but it allows clients to easily discover what a repo contains and download individual files as needed. This proposed change would make this use-cases hard/impossible.

You wrote above

In my mind a reference

[2021-12-18 15:40] pytimer commented on #317
I use the latest oras login successed. Can you try the latest version?

[2022-01-07 15:47] ndeloof opened #346 "support `--output -` to pull to stdout"
My use case is to rely on oras CLI to restore a data cache, stored as tar.gz
on pull, I'd like to pipe directly the downloaded artifact to `tar xz`

[2022-01-14 20:50] SteveLasker opened #348 "Update ORAS to reflect ORAS Artifact Manifest Draft.2"
Once [Draft.2 of the ORAS Artifact manifest](https://github.com/oras-project/artifacts-spec/milestone/3) is released, implement the changes in [oras-go](https://github.com/oras-project/oras-go/issues/95) and then oras (this issue)

[2022-01-14 20:58] SteveLasker commented on #296
Closing as this was merged in the [alpha.1 release](https://github.com/oras-project/oras/releases/tag/v0.2.1-alpha.1).

[2022-01-14 20:58] #296 closed

[2022-01-14 20:59] SteveLasker commented on #314
Main reflects the current reference type and refactored oras-go library work.

[2022-01-14 20:59] #314 closed

[2022-01-14 20:59] #319 closed

[2022-01-14 21:01] SteveLasker opened #349 "Update root readme to reflect main as 2.0, with 1.0 cut for Helm OCI support"
Update https://github.com/oras-project/oras/issues/319 when complete.

[2022-01-14 21:44] SteveLasker opened #350 "Update the release `v0.20.0-alpha2` to `v2.0.0-alpha.1`"
With the Helm OCI v1.0 release, all the work that was being tracked as `v0.20.0-alpha2` is no longer a relevant version.

Confirming with maintainers to change the release reference to `v2.0.0-alpha.1`

[2022-01-14 22:52] SteveLasker commented on #346
Looks super interesting. Please open a PR for the proposal.

[2022-01-14 22:53] SteveLasker commented on #339
Thanks @nathana1, great idea. Can you create a PR?

[2022-01-14 22:55] SteveLasker commented on #328
I agree with @jdolitsky. I think users are used to `push` | `pull`, where `copy|cp` is yet a 3rd choice. They all implement the same underlying functionality, but the concepts are `push`, `pull`, `copy`

[2022-01-14 22:57] SteveLasker commented on #325
Hi @tompizmor,
Did this get resolved?

[2022-01-16 12:42] deitch commented on #328
I can agree with that. We got away from push and pull underneath for technical reasons, to enable us to treat all targets as the same, and thus open up many possibilities. It shouldn't matter _from a technical perspective_ if the "from" is local or remote, or the "to" is local or remote, or both are remote, or one is a directory and one is memory, etc.

From a non-engineer UX perspective, though,

[2022-01-17 20:43] volo-droid commented on #237
@sjackman do you have an idea why `docker pull` complains with "operating system is not supported"?
[code]

[2022-01-17 20:58] SteveLasker commented on #237
Hi @volo-droid , You're pulling with the docker client. Since this isn't a container runtime, rather a homebrew package, you'll need to use the specific client. https://github.com/homebrew/homebrew-core/pkgs/container/core%2Fhello#how-do-i-install-these-formulae

[2022-01-19 22:15] sjackman commented on #237
[code]
The Docker client does not support pulling images for `darwin`, even on macOS. It can pull images for `linux` though.

[2022-01-25 20:35] SteveLasker commented on #334
Thanks, @idvoretskyi, FOSSA seems like a fine suggestion. Can you please set us up?

[2022-01-25 21:31] idvoretskyi commented on #334
@SteveLasker sure! Please file a ticket to the CNCF ServiceDesk - servicedesk.cncf.io, happy to help

[2022-01-25 21:34] bridgetkromhout commented on #335
https://bestpractices.coreinfrastructure.org/en/projects?q=oras

[2022-01-25 21:34] #335 closed

[2022-02-14 16:35] makkes opened #352 "New tags with semantically older names exists in this repo"
The two tags  v0.2.0-alpha.1 and v0.2.1-alpha.1 were created after the v0.12.0 tag. Should those have been called v0.20.x instead of v0.2.x? Was that a mistake?

[2022-02-16 08:59] sturlath opened #354 ""sudo: command not found" in Azure pipeline"
For some reason I can´t install oras anymore in my Azure build pipeline ( `ubuntu-latest`).

The following bash (from [this blog](https://gaunacode.com/publishing-helm-3-charts-to-azure-container-registry-using-azure-devops-part-1)) **used to work** but doesn´t now

[code]

It ends with `sudo: command not found`

![image](https://user-images.githubusercontent.com/2386572/154229678-7da53da6-37a0-48

[2022-02-16 09:21] sajayantony commented on #354
To unblock can we fully qualify the binary location or move it to a any writable location in $PATH ?

[2022-02-16 11:01] sturlath commented on #354
Thank you. This here worked

[code]

But I feel like there is more to this... it didn´t work on my "Build and test job" step but did if I moved it to the next job step... sorry but I don´t have time to research this more so am just leaving this here for others if it could help.

[2022-02-16 11:01] #354 closed

[2022-02-23 22:36] etrexel commented on #205
Do you know if Harbor supports the oras artifact spec? In order to push with oras the registry needs to support oras artifacts.

[2022-02-24 13:53] mbaykara opened #355 "Multiple tags at the once"
I did not find either in the documentation of oras or somewhere else. Is there any multi-tagging support?
i.e:

`oras push myregistry/artifact:a,b,c` then in my registry following artifacs are available:
[code]
I know I can make for each tag a `oras push` but the feature might be already there.

[2022-03-04 08:43] #339 closed

[2022-03-04 09:20] shizhMSFT commented on #355
Instead of pushing mutiple tags at once, it makes more sense if we have something like `oras tag`. /cc @qweeah

[2022-03-04 09:33] mbaykara commented on #355
I mean, the way of how other tools like `ko`, `jib` works is more convinced to me.  It does require an extra command to append it.
[code]
Currently, I don't see how the `oras tag` makes more sense. Could you explain more? @shizhMSFT

[2022-03-04 10:43] shizhMSFT commented on #355
If it is just for `oras push` scenario, it seems a better UX. Since a comma `,` is not a valid symbol in a tag name `[\w][\w.-]{0,127}`, we can add it the next iteration of oras development.

[2022-03-04 10:47] mbaykara commented on #355
Look forward to this feature!

[2022-03-09 16:56] shizhMSFT commented on #205
ORAS works with all OCI-compliant registries for non-experimental features. Hence, `oras` does not require the registry to support oras artifacts.

[2022-03-09 17:00] shizhMSFT commented on #205
From the error message, it seems an error in the OAuth2 path.

[2022-03-09 17:01] shizhMSFT commented on #205
@hemantha-kumara Closing since this is an auth error. Please re-open this issue if you still have problem.

[2022-03-09 17:01] #205 closed

[2022-03-30 21:48] SteveLasker opened #361 "Support uploading an ORAS Artifact Manifest type without a subject"
# Repro Steps
[code]
Assuming you have $IMAGE, the following command works:

[code]

However, if I want to upload a readme file, that doesn't have a `subject`, I'm unable to exclude the `--subject` field:
[code]

[2022-03-30 22:02] SteveLasker opened #362 "ORAS Push should support annotations, without having to specify a file"
# Repro steps

[code]

Fails, as it expects `--manifest-annotations` to be a file. I was hoping the docs were wrong :(

[code]

## Desired

The default experience should enable a user to pass annotations as a string, so they don't have to create a file just to upload a single annotation
I'd suggest a file could be sent in as a stream if we really needed to support files.
We should also support mul

[2022-03-31 16:56] sajayantony commented on #362
+1. I ran into this one as well.
I think we need to target a v2 release of oras since this is breaking.

Recommend renaming these to singular with multi value support and not plural as called out in the issue.

`—manifest-annotation` maybe alias to `-n` and
`—manifest-annotations-file`

[2022-04-01 13:59] russkel opened #363 "Feat req: Add layers to existing image"
As a follow on from https://github.com/AkihiroSuda/apt-transport-oci/issues/2 it would be nice if oras had the ability to add layers to an existing image by only pushing the new layer[s] and updating the image config accordingly.

[2022-04-04 08:17] lmussier opened #364 "Could it be possible to add 32 bits binaries?"
Hi,

There is an amd64 and arm64 binaries availabe from the project, do you have the possibility to push the 32bits version for those artifacts?

[2022-04-08 17:37] deleomike opened #365 "Error Storing Credentials"
Hello! I ran into this error using ORAS v0.12 out on Ubuntu 18.04.

[code]

[code]

Then I enter my credentials.

[code]

I've tried installing ```gnome-keyring``` [because that may be the issue](https://github.com/zalando/go-keyring/issues/18), but I got the same error.

ORAS works fine for me on Mac, windows and docker. So, is there a missing package on my linux system?

[2022-04-08 17:44] jdolitsky commented on #365
Hi, please see https://github.com/helm/helm/issues/10611#issuecomment-1022857870

[2022-04-08 17:48] deleomike commented on #365
Thanks! That solved my issue.

[2022-04-08 17:48] #365 closed

[2022-04-15 08:54] souleb commented on #217
Hi,

I would like to work on this issue if possible.

Regards,
Soule

[2022-04-15 14:56] qweeah opened #366 "Upgrade login/logout commands to oras-go v2"
Add login/logout packages for docker and general registries. Re-implement `login` and `logout` commands based on the new packages.

[2022-04-15 14:56] qweeah commented on #366
Related to #328 and #347

[2022-04-15 15:13] sajayantony commented on #217
Should we target using oras-go v2?

[2022-04-15 15:49] sabre1041 commented on #217
@sajayantony I would recommend it be part of `v1` and `v2` since it is a capability that would be desired by consumers of each version

[2022-04-15 19:22] sajayantony commented on #366
Recommend breaking this up if possible or if not then can we describe why not in this thread.

[2022-04-16 03:41] shizhMSFT commented on #366
@qweeah Looks like both `v0.4.0` and `v2.0.0` of `oras-go` can exist at the same time.

[code]

Let's split this PR / issue into 3 parts:

1. Login / logout
2. Push
3. Pull

[2022-04-16 04:09] shizhMSFT commented on #364
Could we understand the scenarios of the demand of 32 bits arch binaries? and also the OS types?

[2022-04-17 19:37] scottrigby commented on #217
👍 should be fixed in v2 first, then would need a backport to v1 for Helm users to take advantage.

PS, when there is a plan for the `oras-project/oras-go` stable v2.0.0 release, we should coordinate to also plan the Oras dependency upgrade in Helm.

[2022-04-18 07:43] qweeah commented on #366
@sajayantony @shizhMSFT I have made this issue specific for login/logout

[2022-04-18 07:45] sajayantony commented on #366
Currently there is also an issue for supporting certs for auth #217 - how do we make sure that v2 can support cert login as well.

Does the client have to significantly change?

[2022-04-18 07:54] shizhMSFT commented on #366
We can address #217 after addressing #366. The idea is simple that the client should construct a specific TLS config for the client with the specified cert. No changes required for `oras-go`.

[2022-04-19 18:28] sajayantony commented on #208
Please re-open if there anything more needed. Currently as @SteveLasker points out, the helm registry command is what is the recommended way to push and pull helm charts to a registry.

[2022-04-19 18:31] sajayantony commented on #22
@jdolitsky - should we close this - I believe porter support publishing bundles -

[2022-04-19 18:35] sajayantony commented on #328
Should we close this in favor of upgrading to oras-go v2?

[2022-04-19 18:40] sajayantony commented on #318
Closing for now. Please reopen in case this needs attention @akashkeshari .

[2022-04-19 18:41] sajayantony commented on #303
Closing due to inactivity. @dubeno  - please reopen if you are still seeing the issue.

[2022-04-19 18:41] #303 closed

[2022-04-19 18:43] sajayantony commented on #294
Closing the issue since the behavior is a GitHub behavior and not related to the ORAS project from the above discussion.

[2022-04-19 18:43] #294 closed

[2022-04-19 18:48] sajayantony commented on #260
From the above discussion this appears to be a GitLab Container Registry specific issue. Please consider reopening the issue if there is any specific action that needs to be taken on the ORAS-go or ORAS CLI side.

[2022-04-19 18:48] #260 closed

[2022-04-19 18:51] sajayantony commented on #317
Closing this issue for now as a part of general book keeping. @juliusl please reopen if this issue persists.

[2022-04-19 18:51] #317 closed

[2022-04-19 18:53] sajayantony commented on #137
@jdolitsky - do you want to bring this into the next release?

[2022-04-19 19:00] sajayantony opened #369 "Support ORAS Artifact Spec RC2"
Tracking releasing oras CLI of RC1 of artifact spec

Predecessor
- [x] https://github.com/oras-project/distribution/issues/4
- [x] https://github.com/oras-project/oras-go/issues/131
- [x] https://github.com/oras-project/oras-go/issues/53
- [x] https://github.com/oras-project/oras-go/issues/63
- [x] https://github.com/oras-project/oras/issues/366

Issues that need resolution -
- [x] https://github.

[2022-04-19 20:24] SteveLasker commented on #328
closing as it looks like we have consensus on the external API vs. internal details

[2022-04-19 20:24] #328 closed

[2022-04-21 06:47] sajayantony commented on #369
@qweeah - I will add more items to this issue as part of the migration to v2 and release of RC1.

[2022-04-21 15:48] scottrigby commented on #217
Update to this note. I was not aware that v2 has removed docker auth and implemented their own auth. Because of this v2 would have to implement things from scratch that v1 could do more easily using Docker client auth. So we may need to propose a working change for v1 to start which would then need to be ported to v2 (not backported from v2 to v1).

However, to keep with our agreement to ensure v1

[2022-04-28 10:01] qweeah opened #371 "Add insecure prefix to insecure cmd flags"
It would be great if the flag name was more meaningful. Flags that directly weakens existing security controls should name them, so my suggestion would be: `--insecure-allow-plain-http`.

_Originally posted by @pjbgf in https://github.com/oras-project/oras/pull/367#discussion_r855566574_

[2022-05-05 00:00] bradbeck opened #373 "Multi-arch docker image"
It would be great if you could publish a multi-architecture docker image that would include support for arm64.

[2022-05-06 03:09] #366 closed

[2022-05-07 09:14] shizhMSFT commented on #352
Those `v0.2.x-alpha.1` are pre-releases built from the feature branch [artifacts](https://github.com/oras-project/oras/tree/artifacts). They will be removed once its feature being merged to the `main` branch. At that time, we will have `v0.13.x` and higher versions, which are semantically higher than `v0.2.x`.

/cc @SteveLasker

[2022-05-07 09:14] #352 closed

[2022-05-07 09:14] shizhMSFT commented on #349
Closing as #319 has been closed.

[2022-05-07 09:14] #349 closed

[2022-05-07 09:22] shizhMSFT opened #377 "Refine release pipeline"
This issue to track the enhancement on auto releasing `oras` when a new version is cut.

The current [release pipeline](https://oras.land/cli/5_developer_guide/#release-checklist) requires lots of manual steps and personal credentials. Instead of personal credentials, we can leverage [GITHUB_TOKEN](https://docs.github.com/en/actions/security-guides/automatic-token-authentication) for releases. An

[2022-05-07 09:23] shizhMSFT commented on #256
Closing as this is succeeded by #377

[2022-05-07 09:23] #256 closed

[2022-05-07 09:28] shizhMSFT commented on #302
Closing as it is succeeded by oras-go v2.

[2022-05-07 09:28] #302 closed

[2022-05-07 11:35] shizhMSFT commented on #156
Closing as `runc` has already upgraded to `v1.1.1`. Once we upgrade to `oras-go` v2. The `runc` dependency should go away.

[2022-05-07 11:35] #156 closed

[2022-05-07 11:37] shizhMSFT commented on #350
The `oras` CLI is following its own version. The next version is `v0.13.0`.

[2022-05-07 11:37] #350 closed

[2022-05-07 11:40] shizhMSFT commented on #364
@lmussier May we know the scenario behind this request?

The real scenario I could think about is the Raspberry Pi but in general all systems should be 64 bits.

[2022-05-07 11:44] shizhMSFT commented on #346
This is an interesting one. How would you handle multiple files?

[2022-05-07 11:45] #318 closed

[2022-05-07 11:47] shizhMSFT commented on #283
Closing as it is resolved by #285

[2022-05-07 11:47] #283 closed

[2022-05-07 11:49] shizhMSFT commented on #254
@SteveLasker looks like this issue is outdated. Please re-open and add up-to-date details if needed.

[2022-05-07 11:49] #254 closed

[2022-05-07 11:51] shizhMSFT commented on #251
Once we resolves #377, we will have the same go version for the same oras version.

[2022-05-07 12:00] shizhMSFT opened #378 "Push / Pull Artifacts from OCI Image Layout"
ORAS is evolving into a generic registry client along with `oras-go` v2. With the support of `oras-go` v2, the `oras` CLI should be able to push / pull artifacts from [OCI image layout](https://github.com/opencontainers/image-spec/blob/main/image-layout.md).

By resolving this issue, the following issue should be auto resolved.
- #244
- #245
- #453

[2022-05-07 12:06] shizhMSFT commented on #177
Currently, `oras` CLI read docker CLI format config and can be configured to use existing docker credential helpers.

[2022-05-07 12:07] shizhMSFT commented on #172
We can close this once we moved to `oras-go` v2.

[2022-05-07 12:08] shizhMSFT commented on #171
oras is evolving into a generic registry client. Yes, it's in the plan

[2022-05-07 12:11] shizhMSFT commented on #166
@SteveLasker @vsoch What's the repository status on the oras python SDK?

[2022-05-07 12:13] shizhMSFT commented on #165
@jdolitsky I lost context on this issue. Please re-open if it still need to be resolved. /cc @SteveLasker

[2022-05-07 12:13] #165 closed

[2022-05-07 12:19] #177 closed

[2022-05-07 12:22] shizhMSFT commented on #147
This should be auto resolved once we move to oras-go v2. Let's validate it after the oras-go v2 migration.

[2022-05-07 12:25] shizhMSFT commented on #145
Closing as it is succeeded by `oras.Copy()` in `oras-go`.

[2022-05-07 12:25] #145 closed

[2022-05-07 12:27] shizhMSFT commented on #138
@jdolitsky We might need drop the "allow media type" by #130

[2022-05-07 12:30] shizhMSFT commented on #137
@jdolitsky @sajayantony I am planning it to be in the next release.

[2022-05-07 12:37] shizhMSFT commented on #118
Closing as it has been addressed.

[2022-05-07 12:37] #118 closed

[2022-05-07 12:39] shizhMSFT commented on #115
@SteveLasker please re-open this issue if it is still valid.

[2022-05-07 12:39] #115 closed

[2022-05-07 12:41] shizhMSFT commented on #114
@SteveLasker Please re-open this issue if it is still valid and up to date.

[2022-05-07 12:41] #114 closed

[2022-05-07 12:44] shizhMSFT commented on #90
Closing as the issue content seems to be outdated. Please re-open if needed.

[2022-05-07 12:44] #90 closed

[2022-05-07 12:44] shizhMSFT commented on #22
Closing as the issue content seems to be outdated. Please re-open if needed.

[2022-05-07 12:44] #22 closed

[2022-05-07 13:05] shizhMSFT opened #379 "Merge features in `artifacts` branch as experimental features"
With `oras-go` v2, we can "merge" (re-implement) those features in the `artifacts` branch into `main` with those features marked as experimental.

Features:
- [x] `oras discover`.
- [x] `oras push` artifact manifest.
- [x] `oras pull` artifact manifest.

[2022-05-07 13:08] vsoch commented on #166
There is a branch that starts to mirror the Go SDK, but after starting i I think copying the same design is the wrong approach, so it's largely abandoned. If there were a more general design spec I could probably whip together the project, but I wasn't able to not knowing those details.

[2022-05-11 07:13] qweeah commented on #377
Ack

[2022-05-12 18:42] swu000 opened #382 "Discover sub-command is not using the latest ORAS Manifest Referrers API spec"
The [current logic](https://github.com/oras-project/oras/blob/58fa344544b34571012d91f523cea54bf364549b/pkg/remotes/docker/discoverer.go#L119) still uses the old Manifest Referrers API spec. The API signature has been updated [here](https://github.com/oras-project/artifacts-spec/blob/main/manifest-referrers-api.md).

[2022-05-13 16:12] shizhMSFT commented on #382
@swu000 Thanks for noticing. We planned to implement the latest spec in the near future, starting with `oras-go` v2.

The work is tracked at https://github.com/oras-project/oras-go/issues/131. Note that the underlying implementation of the `oras` CLI is migrating to `oras-go` v2, targeting the milestone `0.13.0`.

[2022-05-16 09:38] qweeah opened #385 "Move common options to a common file"
Some options are duplicated for all the command line operations like `oras login/pull/push/copy/discover`. Could we refactor it to `commonOptions` in `common.go`?

_Originally posted by @shizhMSFT in https://github.com/oras-project/oras/pull/380#discussion_r873403214_

[2022-05-17 06:09] #377 closed

[2022-05-17 06:09] #251 closed

[2022-05-17 06:09] #364 closed

[2022-05-17 06:09] #373 closed

[2022-05-17 06:20] qweeah commented on #130
ack

[2022-05-17 06:35] SteveLasker commented on #130
@shizhMSFT just confirming the tar mediaType. Will all files be placed in a tar archive, meaning it will also maintain the file names without the annotation? This would really help simplify things. Having the api support all granularity would enable implementers to make their choice per type.

[2022-05-17 06:59] shizhMSFT commented on #130
@SteveLasker That's still in the discussion (see #178 ). Also,

The above statement looks a brand new topic to discuss with.

[2022-05-17 07:55] lmussier commented on #364
@shizhMSFT  Sorry I've missed the question.
We are using low end arm32v7 devices as gateway, the idea is to retrieve artefact from somewhere, and since our system already have an oci registry we are putting these aretefacts (mainly conf and binaries) into the registry.

Thanks to have make it possible.

[2022-05-17 08:19] shizhMSFT commented on #364
@qweeah has added arm32v7 support with #384 merged. We will release 32 bits binaries along with docker images when we release `v0.13.0`, which should happen soon.

[2022-05-18 07:35] #130 closed

[2022-05-19 08:40] qweeah opened #388 "Run unit tests in the git actions"

[2022-05-19 08:41] #385 closed

[2022-05-19 09:17] shizhMSFT commented on #88
Linking #388

[2022-05-19 11:35] shizhMSFT opened #389 "Token cache for auth.Client"
Currently, the token cache is not set in

https://github.com/oras-project/oras/blob/db86d1c32dcddc65d931e2874b7879a3163dfaf1/cmd/oras/internal/option/remote.go#L95-L101

see also

https://github.com/oras-project/oras-go/blob/31f7572a6976e5b273843c693ac65bf2d513b119/registry/remote/auth/client.go#L38

[2022-05-19 11:37] shizhMSFT commented on #389
We also need to revisit other options for the `auth.Client`.

[2022-05-20 04:54] #389 closed

[2022-05-23 01:52] qweeah opened #392 "If a blob already exists before push, status tracker should output the information"

[2022-05-26 12:21] #172 closed

[2022-05-26 12:21] #147 closed

[2022-05-26 12:21] #392 closed

[2022-05-27 09:28] shizhMSFT opened #397 "Reviewing Pull Requests"
Like https://github.com/oras-project/oras-go/issues/132, it is good to [make a reviewing guide](https://contribute.cncf.io/maintainers/github/templates/recommended/reviewing/) for `oras`.

[2022-05-30 06:03] qweeah commented on #88
@shizhMSFT Do we have a quantified target for the coverage?

[2022-05-30 06:05] shizhMSFT commented on #88
We can start with 80%.

[2022-05-31 06:18] #388 closed

[2022-06-07 03:55] shizhMSFT commented on #137
@SteveLasker Is this still the case? Do we still need to remove the `+json` prefix? From `application/vnd.unknown.config.v1+json` to `application/vnd.unknown.config.v1`?
Also, this is a change to be made in `oras-go`.

[2022-06-07 03:58] FeynmanZhou commented on #397
Please assign it to me. Willing to help

[2022-06-08 01:02] shizhMSFT commented on #301
@FeynmanZhou What do you suggest on the UX of `oras get-manifest`?

[2022-06-08 13:24] shizhMSFT opened #404 "Add Dynamic Code Analysis"
Like in `oras-go`, `oras` CLI also requires code scanning tools like CodeQL.

Related: https://github.com/oras-project/community/issues/12

[2022-06-09 19:24] sajayantony commented on #369
/cc @michaelb990

[2022-06-09 19:33] sajayantony opened #406 "Tracking OCI working group proposal for reference artifacts"
The OCI reference type working group is formulating a proposal for supporting storing reference types.
The ORAS cli could be expanded to support the OCI reference types.

This issue can be used to track and gain consensus on the path forward. We need to update the design and related dependency enhancing [oras-go](https://github.com/oras-project/oras-go) libraries to absorb the OCI working groups p

[2022-06-09 20:26] sajayantony commented on #301
I have outlined some details here - https://github.com/oras-project/oras/discussions/340 - @FeynmanZhou

[2022-06-21 06:52] qweeah opened #409 "Support pulling manifest config"
User cannot pull manifest config and `--manifest-config` option is disabled for `pull` command.

Should add the option back after oras-go support cutomized down-edge filter option in oras.Copy oras-project/oras-go#189.

We should fix this before v0.13.0 release

[2022-06-21 09:28] #217 closed

[2022-06-21 09:28] #325 closed

[2022-06-21 09:40] shizhMSFT opened #410 "Normalize Debug Log"
The request URL may contain special symbols. It is better to wrap it in double quotes.

https://github.com/oras-project/oras/blob/d2ca8f51fbed3b0d8851461602d7771a68833376/internal/trace/transport.go#L49

[2022-06-21 10:38] FeynmanZhou commented on #397
@shizhMSFT and ORAS maintainers,

This [reviewing guide](https://github.com/oras-project/oras-go/blob/main/REVIEWING.md) is a general guide and also applicable to other repositories, I propose to migrate it to the [ORAS website](https://oras.land/community/) or [community repo](https://github.com/oras-project/community).

It is not necessary to create and maintain a duplicated document in differen

[2022-06-22 01:11] #410 closed

[2022-06-22 04:15] qweeah commented on #409
v0.13.0 fix: #412
Long term solution: #412

[2022-06-22 08:26] shizhMSFT commented on #397
LGTM

[2022-06-22 15:00] shizhMSFT opened #414 "Remove dependency on docker CLI"
`oras` CLI leverage `github.com/docker/cli` for reading / writing docker config file for login and logout. It is possible that using an old version of oras CLI with a new version of docker CLI at the same time may cause loss on some config fields.

[2022-06-22 15:07] shizhMSFT commented on #361
Linking https://github.com/oras-project/distribution/issues/9

[2022-06-22 15:08] shizhMSFT commented on #379
@qweeah You may create issues according to this issue.

[2022-06-22 16:02] qweeah opened #415 "Print out the digest and media type even when a unnamed content is skipped for pulling"
Print out the digest and media type even when a unnamed content is skipped for pulling and verbose option is set.

- unnamed: the to-be-pulled content doesn't have a title annotation(org.opencontainers.image.title).

- skipped: the content won't be fetch during the pull.

- For one digest, the skipped log should be only printed out once.

_Originally posted by @shizhMSFT in https://github.com/oras

[2022-06-23 08:10] #409 closed

[2022-06-23 08:13] shizhMSFT opened #416 "Release v0.13.0"
We have upgraded the underlying `oras-go` dependency for the `oras` CLI from `v1` to `v2`, and is ready to release a `v0.13.0`.

/cc @FeynmanZhou @yizha1

[2022-06-23 08:45] FeynmanZhou commented on #416
I assume we should update the download URL from `0.12.0` to `0.13.0` in some places accordingly. For example, the [installation guide](https://oras.land/cli/) should be updated.

Please also help to add me as an assignee. I would like to check if any other user-facing changes we need to make.

[2022-06-23 15:30] #404 closed

[2022-06-24 09:13] qweeah commented on #379
ack

[2022-06-24 23:18] iamsamirzon commented on #369
@shizhMSFT -  Could you share your plans ( with dates) on updating the ORAS libraries that is utilized in Notation Client to support the latest ORAS artifact spec 1.0.0-rc.1 ? As I understand the current ORAS library used by Notation client is pegged to the earlier alpha revision ?

[2022-06-25 06:52] shizhMSFT commented on #369
Notation depends on `oras-go` not `oras`. Therefore, you might want to track [this milestone](https://github.com/oras-project/oras-go/milestone/5) instead.

[2022-06-25 13:27] iamsamirzon commented on #369
Thank you @shizhMSFT

[2022-06-28 02:29] shizhMSFT opened #424 "Specification for ORAS attach command"
### Discussed in https://github.com/oras-project/oras/discussions/407

<div type='discussions-op-text'>

<sup>Originally posted by **sajayantony** June 10, 2022</sup>
Currently the ORAS CLI has a command that pushes an reference type using the subject flag

[code]

I would like to recommend moving this under a new command group `attach` and credit goes to @jdolitsky for showing this in the OCI wor

[2022-06-28 02:30] qweeah commented on #424
Ack

[2022-06-28 02:31] shizhMSFT commented on #424
@qweeah It is related to #326 and #379

[2022-06-28 02:33] CharingJC commented on #307
I will help with this

[2022-06-28 02:35] shizhMSFT commented on #307
@CharingJC You may start with basic functionalities similar to https://github.com/oras-project/oras/pull/391

[2022-06-28 03:19] qweeah commented on #379
# Implementation Gaps
## Pull
This command is already provided in the main branch. Below options are new in the `artifacts` branch:
- `media-type` and `allow-all`: Since we have already removed the metia-type filtering features in https://github.com/oras-project/oras/issues/130, those options are deprecated.
- `allow-empty-name`: File target already support in-memory caching for non-named manifest

[2022-06-28 23:54] dtzar opened #426 "Use v1.0.0-rc.1 instead of v0.14.0"
Suggestion is to call the current v0.14.0 milestone as v1.0.0-rc.1 since at this point we will match the RC1 specifications, it will be easier for people to understand interoperability, AND there has been much work/releases to the oras client semver warranting a major version upgrade.

[2022-06-29 03:26] shizhMSFT commented on #426
/cc @FeynmanZhou @yizha1 for comments.

[2022-06-29 03:34] shizhMSFT commented on #426
`v0.14.0` is not ready for `1.0.0` release. Once `v0.14.0` is done, we can decide whether we are ready for a `v1.0.0` release. At that time, we can consider `v1.0.0-rc.1` version.

Note: The version of `oras` and `oras-go` are tracked in their own pace. They depend on `artifact-spec` but should not use the same version.

[2022-06-29 03:35] shizhMSFT commented on #416
Released https://github.com/oras-project/oras/releases/tag/v0.13.0

[2022-06-29 03:35] #416 closed

[2022-06-29 03:38] qweeah opened #427 "Specify scopes for github token used in releases"
For now we are using the [default ](https://docs.github.com/en/actions/security-guides/automatic-token-authentication#permissions-for-the-github_token) scope. We should specify a least-priviledged access for GITHUB_TOKEN used in the binary and container image releases configurations.

[2022-06-29 03:39] shizhMSFT commented on #426
In other words, we may have oras `v1.0.0-rc.2` --> oras-go `v2.0.0-rc.3` --> artifact-spec `v1.0.0-rc.1` where "-->" means "depends on".

[2022-06-29 04:58] dtzar commented on #426
I understand they are tracked at their own pace.  That said, we should consider if it is possible to keep a versioning scheme which is easy to track that aligns with SemVer.   i.e.
oras v1.x.x --> oras-go --> 2.x.x --> artifact-spec 1.x.x
OR
oras v0.x.x-**RC1** --> oras-go --> 2.x.x-**RC1** --> artifact-spect 1.x.x-**RC1**

[2022-06-29 16:01] shizhMSFT commented on #326
`oras push` without a tag means "pushing with digest only"

[2022-06-29 16:05] shizhMSFT commented on #348
Succeeded by #369

[2022-06-29 16:05] #348 closed

[2022-06-29 16:09] SteveLasker commented on #326
@shizhMSFT, correct.

[2022-06-29 16:44] shizhMSFT opened #428 "Empty tag is not checked for `oras pull`"
https://github.com/oras-project/oras/blob/bb75f50fb5c21a59beb09ce1b632291182046632/cmd/oras/pull.go#L151

[2022-06-29 16:53] shizhMSFT commented on #428
@qweeah Could you take a look?

[2022-06-30 06:47] qweeah commented on #326
@shizhMSFT Can you assign this to me? Thanks

[2022-06-30 12:14] qweeah commented on #428
Ack

[2022-07-01 02:11] shizhMSFT commented on #426
What if `oras-go` wants to bump to `2.0.0-rc.2` after `2.0.0-rc.1`? We cannot have `2.1.0-rc.1` since we don't have `2.0.0` released yet.

[2022-07-01 09:31] #382 closed

[2022-07-01 09:34] shizhMSFT commented on #379
Closed by #419 and #425

[2022-07-01 09:34] #379 closed

[2022-07-04 09:26] CharingJC opened #434 "Fix description that out of date"
https://github.com/oras-project/oras/blob/main/cmd/oras/pull.go

[code]

first two scenarios are covered by the third one, and no more "-a" flag is required.

[2022-07-04 09:29] CharingJC commented on #434
should be

Example - Pull all files:
  oras pull localhost:5000/hello:latest

[2022-07-04 09:33] FeynmanZhou opened #435 "Check the license header for ORAS and its dependencies"
We need to check license headers and dependencies' licenses for ORAS before the RC.1 release. This is important to align with the open source compliance policy.

[SkyWalking-Eyes](https://github.com/apache/skywalking-eyes) might be a good tool to implement the license header check and can be integrated into the [GitHub Actions workflow](https://github.com/marketplace/actions/license-eye).

[2022-07-04 13:38] johankees opened #436 "oras pull error: empty response Docker-Content-Digest"
Pulling a container from **AWS ECR** fails with error `empty response Docker-Content-Digest`.

Steps to reproduce:
* login as per https://oras.land/implementors/#amazon-elastic-container-registry-ecr
* `oras pull ${ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/${IMAGE}:${TAG}`

Expected result:
* Image pulled successfully, and response:
[code]

Actual result:
* Image failed to be pulled:
[code]

[2022-07-05 03:10] shizhMSFT commented on #307
Advanced scenarios depend on https://github.com/oras-project/oras-go/issues/201 and https://github.com/oras-project/oras-go/issues/203.

[2022-07-05 03:20] FeynmanZhou commented on #428
We need to investigate if ORAS should support pulling the `latest` tag by default as Docker CLI.

[2022-07-05 03:28] shizhMSFT opened #439 "Return error if tag or digest is not specified"
Impacted commands:

- [x] `oras pull` #440
- [x] `oras discover` #442
- [x] `oras copy` #432

[2022-07-05 03:28] qweeah commented on #439
ack

[2022-07-05 03:29] CharingJC commented on #439
I will help with the copyCmd

[2022-07-05 04:26] FeynmanZhou commented on #439
@shizhMSFT  I assume `oras pull` has supported the error return. Is there any additional work?

[code]

[2022-07-05 05:14] shizhMSFT commented on #436
AWS ECR is not compliant with [Docker Registry HTTP API V2](https://docs.docker.com/registry/spec/api/#get-manifest) where `Docker-Content-Digest` is required in the response.

In [OCI spec](https://github.com/opencontainers/distribution-spec/blob/main/spec.md#pulling-manifests),

/cc @michaelb990

[2022-07-05 06:52] qweeah commented on #439
@FeynmanZhou You must be using ORAS 0.12.0

[2022-07-05 13:37] #434 closed

[2022-07-06 19:02] sajayantony commented on #439
So does this mean that oras will not default to latest?

[2022-07-07 01:07] sajayantony commented on #307
I would recommend limiting the number of references of that get copied.
for e.g. `--max-referrs-per-artifact 10`
Also filter by artifacts types `--include-referrer-type $TYPE1, $TYPE2 `

If we are deep copying referrers then we need to make sure that we also have `--max-depth 2` which could be the default.

[2022-07-07 06:43] #428 closed

[2022-07-07 14:28] SteveLasker commented on #307
If we compared this to a file system folder copy, would a user expect only the first `n` files, or only `x` folders deep to be copied?

What if we made the copy cancellable, just like a folder copy?
As `oras cp` is copying artifacts, it outputs
[code]

If the user cancells the operation, we simply stop where it left off.
The question would be:
- Do we need to calculate the number of manifests befo

[2022-07-07 17:20] shizhMSFT opened #441 "Migrate to codecov.io"
Apply https://github.com/oras-project/oras-go/issues/233 to `oras` CLI.

/cc @qweeah @Wwwsylvia

[2022-07-08 09:42] CharingJC commented on #441
ack

[2022-07-08 09:42] #307 closed

[2022-07-08 12:03] shizhMSFT commented on #326
Closed by #432

[2022-07-08 12:03] #326 closed

[2022-07-08 12:15] #439 closed

[2022-07-11 06:43] qweeah opened #443 "`push` `attach` `copy` commands display partial transfer status"
# Reproduce
1. Start a local registry service
[code]

2. Create files to be uploaded
[code]
3. Push the files
[code]
The output will look like below, where `Uploading` and `Uploaded` status is missing either for `foo` or `bar`
[code]
`copy` and `attach` command have similar issue.

# Possible solution
## Option 1: Display transfer status for each file
Since the layer blob are identical and only th

[2022-07-11 06:44] qweeah commented on #443
This is related to oras-project/oras-go#236

[2022-07-13 11:02] suyash691 opened #446 "oras login is failing for ghcr.io with the oras cli version 0.13"
With the newer version of oras cli, oras login is failing for ghcr.io with `Error: invalid reference: invalid registry`, while the older version works.
<img width="1517" alt="Screenshot 2022-07-13 at 4 31 22 PM" src="https://user-images.githubusercontent.com/9547836/178718841-0b257aaf-7ede-4466-888d-af3116bb6637.png">

[2022-07-13 11:17] suyash691 commented on #446
@qweeah can you take a look at this since i see that the login implementation was changed in this [PR](https://github.com/oras-project/oras/pull/367/files)

[2022-07-14 10:25] afdesk opened #447 "`oras` doesn't pull a file with 2 tags"
hi team! thanks for your really useful tool.

there is a problem with the latest version (0.13.0):
`oras` can't upload a file with 2 tags:
[code]
the result:
[code]

but it works correctly for version v0.12.0.

I hope it'll fix. thanks!

[2022-07-15 04:19] satyaye commented on #446
@shizhMSFT - Can you please look into this since you have reviewed the referred PR earlier? I could not reach @qweeah

[2022-07-15 04:29] qweeah commented on #446
@suyash691  @satyaye Looking into it.

[2022-07-15 04:36] qweeah commented on #446
@suyash691 You don't need to specify the https, `oras login ghcr.io -u *****` should do the job.

[2022-07-15 04:39] qweeah commented on #447
Thanks @afdesk, looking at this

[2022-07-15 04:46] qweeah commented on #446
@shizhMSFT Do we need to support the protocol check for login? BTW the protocal prefix can be recognized by docker cli but not for crane.

[2022-07-15 05:51] qweeah commented on #447
This should be a bug from oras-project/oras-go.  @Wwwsylvia Can you take a look?

# Reproduce Step
oras version: 0.13.0
1. Package an OCI artifact and push
`echo "test" > hi.txt && oras push $REG/$REPO hi.txt`
2. Repush the artifact
`oras push $REG/$REPO:tag hi.txt`
3. Push will be successful on client side but `tag` won't be created in the registry.

# Root Cause
If a manifest blob is found exist

[2022-07-15 10:21] suyash691 commented on #446
IMO this would be a breaking change for end-users who have been using the protocol prefixes in the older version of the CLI, so it should be supported still or the CLI should inform with a message on login that this is no longer supported.
We have seen some end users CIs breaking due to this change without any information as such

[2022-07-15 10:34] Wwwsylvia commented on #447
Thanks for reporting the issue! I will look into this next week.

[2022-07-15 14:39] warrenb-cgi commented on #446
It's at minimum a documentation defect: https://oras.land/implementors/#github-packages-container-registry-ghcr

[2022-07-20 16:33] codewithcheese opened #453 ""Downloaded empty artifact" when `oras pull` from docker.io"
Hey all, I was expecting to be able to pull a docker hub image using ORAS CLI.

`oras pull docker.io/library/ubuntu:latest`

results in:

[code]

With no image on disk, I would expect it to write a tar like any other mime type.

I am writing a TypeScript client to push/pull images AND artifacts and would prefer to only have a single implementation using oras for all the mime types. Don't necessari

[2022-07-21 03:17] qweeah commented on #443
- [ ] Fix `push` and `attach`
- [ ] Fix `copy`

[2022-07-21 12:30] qweeah commented on #453
ORAS v0.13.0 cannot be used to download an image. It will only download layers annotated with [OCI image title](https://github.com/opencontainers/image-spec/blob/main/specs-go/v1/annotations.go#L52)

[2022-07-21 12:37] shizhMSFT commented on #453
As @qweeah has mentioned, the current oras CLI can only pull named artifacts.

In the future version of `oras`, we will support `oras copy` from a remote registry to a local OCI store or a tarball in OCI layout.

[2022-07-21 12:47] FeynmanZhou commented on #307
@SteveLasker  Support _cancellable copy of artifacts_ like file system mechanism sounds useful. I think we can turn it into a GitHub discussion and listen to more users' feedback. This feature might be nice to have but not very urgent for basic scenarios.

[2022-07-21 13:14] FeynmanZhou commented on #453
Is it corresponding to this [feature request](https://github.com/oras-project/oras/issues/378)?

[2022-07-21 13:29] shizhMSFT commented on #453
@FeynmanZhou Yes, exactly.

[2022-07-21 14:56] shizhMSFT commented on #446
@suyash691 The usage of `oras login https://ghcr.io` with the prefix `https://` was a mistake in the first place. To fix this mistake, we removed this "feature" / bug.

Although `docker login` also allows the prefix `https://` and `http://`, it's also a mistake. Running
[code]
does not guarantee the docker cli will use HTTP. Instead, it will still use HTTPS.

Similarly, running
[code]
does not gua

[2022-07-21 17:22] jobcespedes opened #456 "Error: PUT request body is not rewindable"
Oras version 0.13.0
[code]

[2022-07-21 18:35] SteveLasker commented on #307
Agreed. What I'd suggest is recognizing this is more likely the direction we'd go, that we don't overly constrain the depth or quantity, which could actually create instability as users won't understand why some references were truncated when copying.

To this end, I'd suggest we might limit to 50 total references.

What is the current behavior of the prototype? If a user starts a copy, and hits c

[2022-07-22 08:05] qweeah commented on #456
@jobcespedes Is this recurring or intermittent? Looks like blob a39831967c0c(all_state_image_artifact.tar.gz) got uploaded but got 401 when querying the status.

[2022-07-22 15:54] jobcespedes commented on #456
I got it consistently with a file, let's call it  file A. Then I tried to push a smaller file B. The smaller one got pushed. I also tried a different file C, bigger than B, it through the error.

After that, I downgraded to Oras version 0.8.0, pushed file A and it worked without issues.

[2022-07-24 02:15] qweeah commented on #456
Just to confirm, with oras 0.13.0,
- file A(10485760 bytes) cannot be uploaded
- file B(<10485760 bytes) and file C(??? bytes) can be upload

With oras 0.8.0, ABC can all be uploaded

[2022-07-24 14:07] jobcespedes commented on #456
I mislead you with my suggestion bigger file size had something to do. Sorry. This are correct the upload results acording to file sizes in my case:

file A.tar.gz: 3122 -> consistent error
file B.tar.gz: 95148 -> ok
file C.tar.gz: 5586668 -> ok

However, with other oras version (it is actually v0.8.1) there are no errors with any of those three files.

[2022-07-25 03:10] qweeah opened #458 "Improve output if invalid number of command line arguments are provided"
For all ORAS commands (login, logout, pull, push, attach, discover, copy), if the number of input argument doesn't match expected, user will get errors like:

It could confuse users who are not familiar with cobra concepts. E.g. they might think number of flags doesn't meet what is expected.

We need to provide more clear details for the error, including:
1) what is expected
2) what is got from in

[2022-07-25 03:38] qweeah commented on #456
Can you kindly share the debugging logs for uploading `A.tar.gz`?

[2022-07-25 03:41] qweeah commented on #456
Also how did you provide the credential? Via running `oras login` in advance, or username/password flags for `oras push`?

[2022-07-25 08:11] shizhMSFT commented on #138
Closing as `--allow-media-type` is dropped.

[2022-07-25 08:11] #138 closed

[2022-07-25 08:30] qweeah opened #459 "Support manifest/blob/repository/tag commands in ORAS"
Repository / Tags
- [x] #470
- [x] #469
- [x] #471

Manifest
- [x] #472
- [x] #301
- [x] #473

Blob
- [x] #476
- [x] #475
- [x] #474

[2022-07-25 09:02] junczhuMSFT commented on #459
I am highly interested in following tasks and want to start working on them.  Please assign them to me.

- [ ]  oras repository list: List repository
- [ ]  oras repository show-tags: List tags of a repository

[2022-07-25 13:17] qweeah commented on #424
Need to support annotation for `oras attach`

[2022-07-25 13:18] qweeah opened #460 "Need to support annotation for `oras attach`"
Need to support annotation for `oras attach`

_Originally posted by @qweeah in https://github.com/oras-project/oras/issues/424#issuecomment-1194036821_

[2022-07-26 00:06] qweeah commented on #460
Just checked the code, it's already supported.

[2022-07-26 00:06] #460 closed

[2022-07-26 00:08] qweeah commented on #362
This also needed for `attach` cmd.

[2022-07-26 03:30] shizhMSFT commented on #424
Closed by #433

[2022-07-26 03:30] #424 closed

[2022-07-26 03:38] #426 closed

[2022-07-26 03:41] shizhMSFT commented on #446
Closing as by design.

[2022-07-26 03:41] #446 closed

[2022-07-26 03:43] shizhMSFT commented on #456
/cc @nima for helping investigation.

[2022-07-26 04:13] jobcespedes commented on #456
Via `docker login` (config.json)

Command `oras push -v -d public.ecr.aws/e3i0l4d7/all_state_image_artifact:b9c7f4a9b868c47ab2106935aa1434aa3c99e7f0 /tmp/testA.tar.gz`:
[code]

[2022-07-26 07:29] yuehaoliang-microsoft commented on #361
[code]
The command above now can be substituted by
`oras attach $IMAGE ./readme.md:application/md --artifact-type signature/example`
for the sake of UX. It will pack an ORAS artifact and push it to the registry.

[code]

This command without  `--artifact-type 'signature/example' \` will push an OCI artifact.
Since artifactType is a property of ORAS artifact, if we want to add artifactType, we want

[2022-07-26 09:28] qweeah commented on #301
@shizhMSFT Please assign it to me.

[2022-07-26 09:29] qweeah commented on #275
@shizhMSFT Please assign it to me.

[2022-07-26 13:21] shizhMSFT commented on #355
/cc @FeynmanZhou @yizha1 for UX comments.

[2022-07-26 13:38] shizhMSFT commented on #458
In that case, users should run the `help` command for usages.

[2022-07-26 13:40] shizhMSFT commented on #406
/cc @FeynmanZhou @yizha1

[2022-07-26 15:15] FeynmanZhou commented on #362
+1, I left more context in https://github.com/oras-project/oras/discussions/407#discussioncomment-3232163.

As we decide to implement and support pass annotations without specifying a file for both `oras push` and `oras attach` in one PR, do we need to include `oras attach` in this issue title?

[2022-07-26 15:42] SteveLasker commented on #362
+1 on splitting the annotations as strings and attach

[2022-07-26 17:44] dtzar commented on #426
If you're following SemVer - from 0.13.0 to 0.14.0 is not really correct unless i'm missing something.  You're not really just adding new features, you're doing a major breaking change upgrade no?  If so - at a minimum IMO you should do 1.0.0-alpha/beta/etc.  @FeynmanZhou @yizha1

[2022-07-26 19:55] sajayantony commented on #459
These are awesome additions to ORAS and will make interacting with the an OCI registry so much easier.

[2022-07-27 02:09] #441 closed

[2022-07-27 05:23] junczhuMSFT commented on #362
Hi team, I am highly interested in the issue above, please assign to me @shizhMSFT

[2022-07-27 16:37] SteveLasker commented on #361
Thanks @yuehaoliang-microsoft,
Being able to pivot when to use the new oras aritfact manivest, vs. the oci image manifest is a good clarification.
As the oras artifact manifest isn't yet broadly supported, and the oci wg for reference types isn't yet complete, may I suggest the following:

Regardless of which manifest is used to persist, I'd suggest we use the `artifact-type` parameter for both `p

[2022-07-27 21:55] sajayantony commented on #238
Manifest push discussed in https://github.com/oras-project/oras/issues/459 should cover this.

[2022-07-28 02:34] qweeah commented on #301
As is described in #459, also need to add `--descriptor` flag for fetching a descriptor of the target manifest.

[2022-07-28 03:23] yuehaoliang-microsoft commented on #361
Thank you for your response, Steve!

To clarify our previous thought (as discussed with @[qweeah](https://github.com/qweeah)):
- For the `attach` command, it has already been doing well: it pushes an `oras.artifact.manifest`, and the `--artifact-type` will set `manifest.artifactType` property.
- For the `push` command, if user doesn't give an `--artifact-type` flag, it pushes an `oci.manifest` as

[2022-07-28 03:31] yuehaoliang-microsoft commented on #361
@SteveLasker Forgot to pin you in the above comments. Need some confirmation to continue the implementation. Thank you!!

[2022-07-28 04:36] qweeah opened #463 "Support fetching a descriptor for a manifest reference"
As is described in #459, `manifest get` also need to support specifying `--descriptor` flag for fetching a descriptor of the target manifest.

_Originally posted by @qweeah in https://github.com/oras-project/oras/issues/301#issuecomment-1197583592_

[2022-07-28 17:53] dtzar commented on #369
Suggestion @sajayantony to update the title to support RC2 since there is a very minor delta between and I don't really think it will change much on your action issue list above...

[2022-07-29 02:47] shizhMSFT commented on #361
@SteveLasker I have few comments and elaborations on your suggestions.

The artifact type is different from the media type. However, given the fact that we use `manifest.config.mediaType` as the artifact type for OCI artifact, we can set `manifest.config.mediaType` to the value by `--artifact-type` if `--manifest-config` is not present so that users will get a meaningful media type other than the

[2022-07-29 10:25] FeynmanZhou commented on #426
According to the context above from @shizhMSFT, @dtzar and [SemVer](https://semver.org/), I vote to remain `v0.14.0` instead of `v1.0.0-rc.1` at the current stage.

- ORAS CLI 0.14 still can not be considered a production-grade status at present. `v1.0.0-rc.1` is targeted to be released after `v0.15.0`.
- Although there will be [two breaking releases](https://github.com/oras-project/oras/labels/br

[2022-07-29 15:17] SteveLasker commented on #361
Thanks @shizhMSFT
Clarifying a few things:

Can you explain this? What I'm suggesting is we always present `-- artifact-type` as the property users set from an experience perspective. When using `oci.manifest`, we pass this value to `manifest.config.mediaType`. When using `oras.artifact.manifest` we set the `manifest.artifactType` value.

You bring up a good point that we need to account for scnea

[2022-08-01 03:45] shizhMSFT commented on #361
It is a separate issue. If we always present `--artifact-type`, the user experience will be changed and may be unexpected. /cc @FeynmanZhou @yizha1