[2022-08-01 04:28] SteveLasker commented on #361
Would like to hear more.
config.mediaTyoe was considered the artifactTyoe. It just requires a user to pass in a null config, with cryptic and different syntax between windows and linux. :(
Was there something else?

[2022-08-01 06:45] shizhMSFT commented on #361
@SteveLasker Wait... There is an UX conflict. When the user do
[code]
we should always push an oras artifact manifest as long as `--artifact-type` is specified.

[2022-08-01 06:50] shizhMSFT commented on #361
To be clear, the changes are summarized as follows

- `oras push --artifact-type` will push an oras artifact manifest with no subject.
- `oras push` no files without `--artifact-type` will push an oras artifact manifest.

[2022-08-01 10:38] junczhuMSFT commented on #362
- [ ] Rename the --manifest-annotations into --manifest-annotations-file
- [ ] Use --manifest-annotations to add annotation into manifest

[2022-08-01 14:16] shizhMSFT opened #466 "`--artifact-type` support in `oras push`"
This proposal contains two changes derived from #361.

1. When `--artifact-type $type` is specified, `oras push` will change the media type of the config blob, which is equivalent to `--manifest-config <(echo {}):$type`
2. When there is no blob specified, `--artifact-type` must be specified and an ORAS artifact manifest will be pushed.

[2022-08-01 14:17] shizhMSFT commented on #361
Closing as discussed with @SteveLasker that UX for uploading an ORAS artifact manifest without a subject is not supported in CLI.

[2022-08-01 14:17] #361 closed

[2022-08-01 16:48] dtzar commented on #426
In keeping the current versioning plan of moving to v0.14.0, I suggest at a minimum clarifying the odd behavior that https://github.com/oras-project/oras/releases/tag/v0.2.1-alpha.1 has functionality which 0.13.0 does not and now is back again in 0.14.0.

[2022-08-01 20:59] sajayantony commented on #466
Could we do a zero byte blob for this?

[2022-08-02 01:17] shizhMSFT commented on #466
We are still not sure if a zero-byte config blob is allowed for all registries.

[2022-08-02 01:18] shizhMSFT commented on #466
BTW, even if we have a zero-byte blob, we still need to upload that empty blob.

[2022-08-02 01:29] yuehaoliang-microsoft commented on #466
Hi, team! I'll start to work on resolving this issue.

[2022-08-02 01:39] FeynmanZhou commented on #362
@junczhuMSFT  The implementation plans look good to me. We can support these two ways in v0.14.0 and then deprecate the previous one going forward.

[2022-08-02 03:10] lizMSFT commented on #275
Assigned

[2022-08-02 03:15] shizhMSFT commented on #415
@wangxiaoxuan273 Could you take a look?

[2022-08-02 03:16] wangxiaoxuan273 commented on #415
Sure

[2022-08-02 04:04] sajayantony commented on #362
Consider it you can just rename to annotations. Layer and config annotations are more coMplex scenario and so maybe if you wanted those we could use the —layer or —config

I would recommend keeping the default flag short and -a or something simpler as prefix.

[2022-08-02 04:04] SteveLasker commented on #362
Thanks @FeynmanZhou
Just to clarify, will the parameter be --manifest-annotation with or without the (s)?
Would the CLI be:
[code]

[2022-08-02 04:07] sajayantony commented on #466
Yes zero byte blobs need to be uploaded but you can choose to short circuit it on the pull path.
Also registry implementation may also choose to short circuit the writes.

[2022-08-02 06:03] qweeah opened #467 "`attach` should allow packing nil `Blobs` in the artifact manifest"
User might want to use annotation to store information in the manifest content.

If no blob and manifest annotation are provided, should exit with error.

[2022-08-02 08:06] sajayantony commented on #362
I don’t think we need the config or layer in the CLI. Just discussing that it’s possible if and when the requirement comes, we have possibilities of opening up without affecting the —annotation flag.

[2022-08-03 02:32] qweeah opened #469 "Command to show tags in a repository"
The proposed command is:

[code]

The output should be a list of tags with one tag per line.

Related to #459

[2022-08-03 02:34] qweeah opened #470 "Command to list repositories in a remote registry"
The proposed command is:

[code]

The output should be a list of repositories with one name per line.

Related to #459

[2022-08-03 02:49] qweeah opened #471 "Command to create a tag for a manifest in the remote registry"
The proposed command is:

[code]

Relate to #459

[2022-08-03 02:58] qweeah opened #472 "Command to push a manifest to a remote registry"
User can use this command to push a manifest with any media type to a target registry.

The proposed commands is:

[code]

User need to make sure that successor nodes in the manifest are already pushed to the registry.

Related to #459

[2022-08-03 03:00] qweeah opened #473 "Command to delete a manifest from a remote registry"
The proposed commands is:

[code]
Related to #459

[2022-08-03 03:14] qweeah opened #474 "Command to delete a blob from a remote registry"
The proposed commands is:

[code]

Only the specified blob will be deleted, predecessor nodes will not be touched.

Related to #459

[2022-08-03 03:19] qweeah opened #475 "Command to fetch a blob from a remote registry"
The proposed commands is:

[code]

Related to #459

[2022-08-03 03:20] qweeah opened #476 "Command to push a blob to a remote registry"
The proposed commands is:

[code]

Related to #459

[2022-08-03 04:03] FeynmanZhou opened #477 "Add issue and PR template for the ORAS repositories"
To make ORAS Pull Request and issue clear and traceable, I propose adding a Pull Request and issue template for the ORAS repositories.

## Issue Template

Currently, I think these three types of issue template are enough for the ORAS community:
- Bug Report
[code]
- Feature Request
[code]
- Support
[code]

## PR Template
The PR template will include the following questions:

[code]

[2022-08-03 05:29] vsoch commented on #477
@FeynmanZhou great idea! When we ask for specific information (e.g., versions) I would put in a bulleted list, like:

[code]
And rendered:

- **ORAS CLI version**:
- **What registry are you using?**:
- **OS Version**:

It's technically the same information, but in this form it (visually) seems like less than the large sections. And I removed the example registry names because I suspect people will

[2022-08-03 07:28] shizhMSFT opened #478 "Bump up golang to `1.19`"
[Go 1.19](https://go.dev/blog/go1.19) is released with [release notes](https://go.dev/doc/go1.19)!

It is time to bump up golang version to `1.19` by updating

- `go. mod`
- GitHub Actions
- Dockerfile

[2022-08-04 07:08] qweeah commented on #443
Will use option 1 for all three commands. Suppose we have below artifact and non of its content are stored in the remote registry.
[code]
- Pushing it to an registry should output:
[code]
- Copying it between registries should output:
[code]

- Attaching `Foo` and `Bar` to an existing image should output
[code]

[2022-08-05 01:47] FeynmanZhou commented on #477
@vsoch  Okay. Thanks for your good suggestion! I will remove the registry from the issue list.

[2022-08-05 09:20] osamamagdy commented on #130
Although the pull command documentation is updated and mentions this issue as a reason to eliminate `--media-type` and `--allow-all`, yet the `oras pull --help` and the implementors' [documentation](https://oras.land/implementors/#github-packages-container-registry-ghcr) are not updated. I was very confused while trying to work with those flags. Should we open a separate issue for this?

[2022-08-08 05:28] qweeah commented on #477
@FeynmanZhou Thanks for the effort. All templates look good and are exactly what we need.

[2022-08-08 09:14] wangxiaoxuan273 commented on #415
We came up with an edge case and need to confirm the design: imagine a **manifest** A which has 2 successors, node B and C, both have empty content and thus the same digest. If both of them are unnamed, we will skip them and the current UI will print "skipped 44136fa35v" twice. How should we handle this? @shizhMSFT
@qweeah Correct me if I have any mistake.

[2022-08-08 22:34] sajayantony commented on #466
Thinking more have we considered using --config-media-type and --artifact-type to disambiguate between them.
This way there is no guess work on the CLI and the flags are mutually exclusive since `artifactManifest` does not have a config media type.

[2022-08-09 03:31] JasmineTang1231 commented on #467
Please assign to me

[2022-08-09 03:38] junczhuMSFT commented on #470
I am interest in this, please assign this issue to me

[2022-08-09 03:39] junczhuMSFT commented on #469
I am interest in this, please assign this issue to me

[2022-08-09 03:39] lizMSFT commented on #476
please assign this to me

[2022-08-09 03:39] lizMSFT commented on #475
please assign this to me

[2022-08-09 03:39] lizMSFT commented on #474
please assign this to me

[2022-08-09 03:41] yuehaoliang-microsoft commented on #473
Hi team, I'm interesting in resolve both this issue and #472.

[2022-08-09 03:42] yuehaoliang-microsoft commented on #472
Hi team, I'm interesting in resolve both this issue and #473.

[2022-08-09 06:53] shizhMSFT commented on #466
I think here is to make the concept of `artifact type` transparent. Currently, we use OCI manifest to mimic ORAS artifact manifest where the config media type is used as artifact type. In the future when ORAS artifact manifest is widely adopted, we can default `oras push` to ORAS artifact manifest without interface changes.

[2022-08-09 09:56] yuehaoliang-microsoft commented on #466
I made a mistake to handle #483, as I clicked the Github UI "fetch upstream" in my repo/branch. Since that PR attempted to merge from my repo/branch, after my repo/branch is updated to upstream, the PR was automatedly closed.

[2022-08-09 10:34] milosgajdos opened #529 "oras should be able to tag the same digest with different tags"
We've been experimenting with `oras` for a bit while and came across a rather _unexpected_ behaviour. Specifically, `oras` cli does not seem to be able to tag the same [manifest] `digest` with different tags.

**Example scenario:** I want to push some content to a registry and tag it with a tag. Then I want to tag the same content with a _different_ tag. The latter does not happen. My _suspicion_

[2022-08-09 11:49] FeynmanZhou commented on #130
@osamamagdy Yes, please help to raise a new issue to track. I think we need to update the documentation accordingly.

[2022-08-09 13:13] qweeah commented on #130
@osamamagdy thanks for bring this up, I already raised a PR to fix it https://github.com/oras-project/oras-www/pull/45

[2022-08-09 17:13] jobcespedes commented on #456
Sure. Would you share the latest binary with me? Or, you want me to built it?

[2022-08-10 02:28] qweeah commented on #456
We haven't done a release yet. You can build via following https://oras.land/cli/5_developer_guide/

[2022-08-10 03:04] jobcespedes commented on #456
Confirm: no error

oras version
[code]

[2022-08-10 10:35] shizhMSFT commented on #415
Let's print twice as it is.

[2022-08-10 13:42] qweeah commented on #415
I think this is already avoided by current implementation.

There is still a pending edge case: Should we print both `skipped` and `downloaded` for content with **same digest**?

Suppose we pull the below oras artifact:
[code]
The `config` blob is referred by `blobs` in oras manifest with name "test", but used as an unamed config in OCI manifest.

Pulling the oras artifact, the log can be like:
[c

[2022-08-11 14:46] catric333 opened #491 "X509 Authentication with OCI registry"
I previously opened [this](https://github.com/helm/helm/issues/10798) issue in helm and was directed to this repo as it is upstream to helm's OCI registry features.

However, I wasn't able to find a related issue here. Would anyone be able to point me in the right direction or link me to the updates to ORAS facilitating x509 mTLS authentication?

[2022-08-12 07:49] yangjuexi-ones opened #492 "--manifest-annotations can't work as expect when push to GitHub Packages"
## Details:

1. command and oras version(0.13):
[code]
2. content in annotations.json

[code]

3. expecte result

![image](https://user-images.githubusercontent.com/106501704/184310023-d823345f-aa54-462d-ae5d-70a657993959.png)

5. GitHub Packages Page

![image](https://user-images.githubusercontent.com/106501704/184310206-ab2baaf1-1855-4d59-bc3a-f52a028beda6.png)

## question
something i forget to

[2022-08-12 11:23] #478 closed

[2022-08-12 11:39] shizhMSFT commented on #466
Closing this as #482 is merged and #486 is closed.

[2022-08-12 12:08] #443 closed

[2022-08-12 13:23] SteveLasker commented on #466
Would like to make sure we’re in sync on the UX and experience before closing.

[2022-08-12 17:00] FeynmanZhou commented on #362
@SteveLasker You are correct. `--annotation` is the final UX. See the following examples:

**ORAS Attach**
[code]

**ORAS Push**
[code]

[2022-08-13 11:44] qweeah commented on #362
@FeynmanZhou  Why `attach` uses `:` but `push` uses `=` for delimiterring the annotation key and value? Is it a typo?

[2022-08-15 03:24] qweeah commented on #492
Which version of oras are you using(you can check via `oras version`)

[2022-08-15 03:32] qweeah commented on #492
My guess is that GHCR did something when redering the manifest on the web page, e.g. the manifest annontation key should be `annotations` but in your screenshot it's `labels`. You can validate that via comparing the manifest digests.

[2022-08-15 03:33] yangjuexi-ones commented on #492
The oras version is 0.13.0. I just copy the code snippet from official website and use it in GitHub Action.
<img width="1038" alt="image" src="https://user-images.githubusercontent.com/106501704/184572668-a9821dac-59a8-48ea-b287-e4a39614aa6a.png">

[2022-08-15 03:35] qweeah commented on #491
@shizhMSFT @wwwsylvia Looks like HELM 3.8.0 is still using [oras-go](https://github.com/oras-project/oras-go) v1. This should goes to v1 branch of oras-project/oras-go.

[2022-08-15 03:40] yangjuexi-ones commented on #492
The oras version is 0.13.0. I just copy the code snippet from official website and use it in GitHub Action.
<img width="1038" alt="image" src="https://user-images.githubusercontent.com/106501704/184572668-a9821dac-59a8-48ea-b287-e4a39614aa6a.png">

[2022-08-15 04:08] qweeah commented on #492
Github web page is not displaying the real manifest content stored in GHCR.

[2022-08-15 04:14] qweeah commented on #492
Unfortunately ORAS doesn't support getting a raw manifest for now(but it should be in 0.14.0, see #463)

You can verify that via some other reigstry client, like `crane manifest get ghcr.io/yangjuexi-ones/test:1.0` to see the real content of the uploaded manifest. ([installation](https://github.com/google/go-containerregistry/tree/main/cmd/crane#installation))

[2022-08-15 04:23] shizhMSFT commented on #491
`oras-go v2` supports mTLS natively.

[2022-08-15 04:29] yangjuexi-ones commented on #492
Thanks. I have checked the document of GHCR and find nothing about this.So, i open a discussion in community.

[2022-08-15 04:29] shizhMSFT commented on #492
The manifest presented by the "GitHub Packages Page" is re-organized and is **NOT** the original update manifest. If you copy and paste the manifest to a file and calculate a sha256 digest of it, you will see a manifest digest mismatch.

[2022-08-15 04:30] shizhMSFT commented on #492
For instance, the `digest` field is not in the original manifest but appears on the GitHub packages page.

[2022-08-15 04:30] yangjuexi-ones commented on #492
That's good news.Can't wait to try it.

[2022-08-15 04:36] yangjuexi-ones commented on #492
Thanks. That's right. I have open a discussion in GHCR community and maybe the developer will give me an guidance.

[2022-08-15 05:39] shizhMSFT commented on #492
Closing this issue as it has been resolved.

[2022-08-15 05:39] #492 closed

[2022-08-15 08:39] #362 closed

[2022-08-15 08:47] lizMSFT opened #495 "ORAS pull manifest config: rename the --manifest-config to --config"
Since issue https://github.com/oras-project/oras/issues/362 and PR https://github.com/oras-project/oras/pull/468 have supported manifest annotation flags via `--annotations`. We could also simply `oras pull --manifest-config` to just `oras pull --config`.

Note:
`--config` is already reserved for auth config. We need to use another flag name for auth config.

Discussion: https://github.com/oras-pr

[2022-08-15 08:55] shizhMSFT commented on #495
/cc @FeynmanZhou @yizha1 for UX

[2022-08-15 11:30] #275 closed

[2022-08-15 12:18] shizhMSFT commented on #142
Resolved by #480

[2022-08-15 12:18] #142 closed

[2022-08-15 13:59] #301 closed

[2022-08-15 15:10] shizhMSFT opened #497 "Output the descriptor of pushed artifact by `oras push`"
The `oras push` command should have an option like `--export-manifest-descriptor` to write the descriptor of pushed artifact to a file so that the descriptor can be used for other processes like signing.

[2022-08-15 15:15] shizhMSFT commented on #497
This can also be done by `--export-manifest` but more simplified.

@FeynmanZhou @yizha1 Any comments?

[2022-08-15 16:46] sajayantony commented on #497
Could we consider aligning this with commands like `manifest fetch` ?
Could you also describe what is the advantage of outputting these to a file instead of stdout and maybe just applying jq on top.

For e.g. `docker manifest inspect` has a --verbose option that outputs a different format with more fields -

[code]

this would just enable scripts to easily compose

[code]

[2022-08-15 16:54] shizhMSFT commented on #497
That's a different thing. The idea was to export the manifest or the manifest descriptor without fetching anything from the remote registry, which may not be trusted.

[2022-08-15 16:57] shizhMSFT commented on #497
This also can be resolved by resolving #378 and then `oras manfiest fetch --descriptor`.

[2022-08-16 00:09] shizhMSFT opened #498 "Improve error message on platform mismatch"
We should improve the error message when the platform is not found and maybe even validate that the platform is invalid.

[code]

[2022-08-16 00:10] shizhMSFT commented on #498
@lizMSFT Could you help with this?

[2022-08-16 01:23] lizMSFT commented on #498
I will take care of it👌

[2022-08-16 03:03] shizhMSFT commented on #88
Closing as unit tests have been added. @qweeah will add more E2E tests.

[2022-08-16 03:03] #88 closed

[2022-08-16 03:03] shizhMSFT commented on #369
Closing as all items are resolved.

[2022-08-16 03:03] #369 closed

[2022-08-16 03:04] shizhMSFT commented on #456
Closing as fix has been confirmed.

[2022-08-16 03:04] #456 closed

[2022-08-16 03:19] jwang1013 commented on #471
I will take care of this issue.

[2022-08-16 03:21] qweeah commented on #131
Ack

[2022-08-16 03:37] yuehaoliang-microsoft commented on #472
May need suggestions for the UX.

ORAS needs to know the media type of the manifest it tries to push, yet the command mentioned above doesn't ask user to provide the media type. We can let ORAS try to parse the provided manifest file, unmarshalling json, to get the media type. However, in the future we may want to support manifests not in OCI and ORAS specs, even manifest as a YAML file. In this c

[2022-08-16 03:43] yuehaoliang-microsoft commented on #472
In addition, the ORAS client side will not check whether the manifest file user provided is valid or supported, the checking will be done by the server (distribution/registry). If users try to push manifest with a wrong file, the server will through "invalid manifest" error.

[2022-08-16 08:06] shizhMSFT commented on #497
I was expecting to have something similar to [--metadata-file](https://docs.docker.com/engine/reference/commandline/buildx_build/#metadata-file).

[2022-08-16 08:43] shizhMSFT commented on #497
By running the following commands, we will get a `metadata.json` file.
[code]
The content of `metadata.json` is
[code]

[2022-08-16 11:59] qweeah commented on #131
This is already supported with `--manifest-config` option for `oras pull`. @SteveLasker Do we need to take a step further to support **downloading only the config**?

[2022-08-16 13:39] FeynmanZhou commented on #497
Hi @shizhMSFT @sajayantony ,

From my understanding, this feature is intended to export the descriptor of an artifact to a file instead of fetching something from a remote registry. ORAS has a flag of `--export-manifest` so using `--export-manifest-descriptor` looks more specific and intuitive to me.

Users can also use this feature to simplify the local signing process for Notation since they can

[2022-08-16 23:29] sajayantony commented on #495
Looking at other clients -

Having a good name for oras-config file both as an environment variable and a qualified flag aligns nicely with other tools shown below.
Instead of auth config we could just name this `orasconfig` or `oras-config` If we have other default options like host level mappings for say localhost:5000 use `plainHttp`, these kinds of settings can be placed in the config file and

[2022-08-17 00:22] shizhMSFT commented on #495
Since oras originally uses `--config` for credentials for registry access, `--registry-config` makes more senses.

[2022-08-17 00:23] #498 closed

[2022-08-17 00:35] sajayantony commented on #131
If we want to first class config then having a top level command under `oras config` might be the better option.
As per the call - this is an old issue and if it not something that we want to promote then maybe we can close this issue.

[2022-08-17 10:03] #467 closed

[2022-08-17 11:12] lizMSFT commented on #495
IMHO, I feel that it may depend on what is the purpose of the `--config` option. I checked the use of the `-c/--config` option, and currently it is used to specify an alternate location store credentials. By default, this will store credentials in `~/.docker/config.json`. (ref: https://oras.land/cli/0_authentication/).

I am not sure whether this configuration file is only for accessing credential

[2022-08-17 15:58] FeynmanZhou commented on #362
I think both should work but `--annotation "key : value"` is much standard according to the [OCI annotation rules.](https://github.com/opencontainers/image-spec/blob/main/annotations.md#annotations). We can use `:` by default. BTW, [regclient](https://github.com/regclient/regclient/blob/main/docs/regctl.md#artifact-commands) supports using `--annotation "key = value"`.

[2022-08-17 17:05] sajayantony commented on #495
@lizMSFT - that's a good point. Also I don't see that --oras-config would be passed in most cases. I've honestly never used that parameter so keeping that is mind having a longer name for the config makes sense since its not just registry settings and we can use it to store things about other settings like default cache and settings as well.

[2022-08-18 02:52] lizMSFT commented on #475
Hi @shizhMSFT, should we enable ORAS_CACHE for this fetch blob workflow?

[2022-08-18 03:30] shizhMSFT commented on #475
Yes, should be also the same for `oras manifest fetch`. /cc @qweeah

[2022-08-18 03:41] qweeah opened #503 "feature request: support customer-defined http headers"
- What would you like to be added?
User can specify http headers sent to to the remote registry. There are two ways to do that:
   - Dedicated cmd flags like annotation
   - Reusing `HttpHeaders` field in docker config

- Why is this needed? Please describe your user story or scenario.

Customer-defined http header is also supported in other registry tools like [docker ](https://github.com/docker/

[2022-08-18 05:02] qweeah commented on #415
@wangxiaoxuan273 Synced offline with @shizhMSFT on the above case, it's acceptable。

[2022-08-18 05:24] #495 closed

[2022-08-18 05:51] shizhMSFT commented on #466
Closing again as https://github.com/oras-project/oras-go/issues/271 is planned.

[2022-08-18 05:51] #466 closed

[2022-08-18 06:59] wangxiaoxuan273 commented on #415
As per discussion offline with @qweeah and @shizhMSFT, there are currently four small to-do items in this issue, the order matters:

- [ ] docs: add a doc comment before the loop of successors, describing the 2 things done inside the loop.
- [ ] fix: empty string should not be written to Annotations, and the unnamed check should use the variable `ok`.
- [ ] feat: when unnamed content is skipped, p

[2022-08-18 08:19] jwang1013 commented on #471
Do we need to support multi-tagging in one cmd? If so, what should we use as a delimiter.  @FeynmanZhou @shizhMSFT

[2022-08-19 08:01] lizMSFT commented on #475
- **crane**: fetch a blob UX
  doc: https://github.com/google/go-containerregistry/blob/main/cmd/crane/doc/crane_blob.md
  code: https://github.com/google/go-containerregistry/blob/main/cmd/crane/cmd/blob.go#L26

  Example:
  - `crane blob zoeycr0707.azurecr.io/hello-world:linuxarmv5@sha256:b921b04d0447ddcd82a9220d887cd146f6ef39e20a938ee5e19a90fc3323e030 > blob.tar.gz`
  Will save the blob output

[2022-08-19 11:07] shizhMSFT commented on #415
Closed by #508, #509, #510, #511

[2022-08-19 11:07] #415 closed

[2022-08-19 16:28] FeynmanZhou opened #512 "Propose to release ORAS CLI v0.14.0"
Hi team @oras-project/oras-client-release-managers ,

The ORAS community has put great effort into ORAS projects in the past months, completed the development of planned features, fixed known bugs, and reached the following milestones, I am proposing to release ORAS CLI v0.14.0.

- [x] [ORAS-go v2.0.0 RC.2](https://github.com/oras-project/oras-go/releases/tag/v2.0.0-rc.2) released on Aug 12
- [x]

[2022-08-19 22:29] sajayantony commented on #470
Since other targets don't have repositories maybe cranes approach of calling it catalog makes more sense to me since it also matches with the API. Also are there any other commands under the repository group? If there are then `repository list` makes sense.

[2022-08-19 22:31] sajayantony commented on #471
Let's use a multi-value flag similar to
[code]

This would avoid the need for a delimiter.

[2022-08-19 22:35] sajayantony commented on #469
Recommend keeping this consistent and using `list-tags` instead of `show-tags` if we want to keep this command under repository.

Why don't we move these directly under oras and have `oras list-tags` and `oras list-repositories` or `oras catalog` -

Basically this is in continuation of the discussion for #470

[2022-08-19 22:39] sajayantony commented on #472
Sounds good. If the flag is not passed then inferring the mediaType from the manifest makes sense since the OCI spec does specify that the manifest SHOULD have a mediaType.

Also requiring the user to pass this flag in makes it harder for tools to maybe download a manifest edit and upload it since they need to now also extract and pass an additional argument.

For e.g.
[code]

[2022-08-22 03:22] danielzhanghl opened #513 "can't pull behind proxy on version 0.13.0"
Hi,
I met issue when pull one artifact behind proxy with 0.13.0, procedure is as below, and if I use the version 0.12, that works fine(the proxy is set correctly, as I could download ORAS and curl the endpoint ), is there anything I missed?
thanks,

# curl -LO https://github.com/oras-project/oras/releases/download/v0.13.0/oras_0.13.0_linux_amd64.tar.gz
  % Total    % Received % Xferd  Average Spee

[2022-08-22 03:34] qweeah commented on #475
Thanks @lizMSFT for driving this UX discussion. My thoughts are
1) Printing out a blob can be a valuable feature to user, e.g. when running `oras blob fetch mcr.microsoft.com/mcr/hello-world@sha256:fce289e99eb9bca977dae136fbe2a82b6b7d4c372474c9235adc1741675f587e` user might want to only view the config content without saving it to a file.

2) We should avoid printing out a unprintable blob. We can

[2022-08-22 04:53] qweeah commented on #513
@danielzhanghl Thanks for reporting this. Will fix in #514 and release it today in 0.14.0

[2022-08-22 04:59] shizhMSFT commented on #513
Reopen for now and will be closed once #512 is resolved.

[2022-08-22 05:10] qweeah commented on #512
- [ ] Update the [quick start doc](https://github.com/oras-project/artifacts-spec/blob/main/docs/quick-start.md) with `attach` command

[2022-08-22 05:14] danielzhanghl commented on #513
thanks for the quick action! will have a try in 0.14.0

[2022-08-22 06:18] FeynmanZhou commented on #475
I agree with @qweeah 's thoughts and I want to share two typical scenarios. To fetch a specific sha256 blob from a remote registry, there are [two typical types of blob](https://github.com/opencontainers/image-spec/blob/main/image-layout.md#blobs) that users will request to:

a. JSON
b. Tar layer

- If users are requesting a JSON blob, it returns it to stdout:
[code]
- If users are requesting a ta

[2022-08-22 09:09] shizhMSFT commented on #513
@danielzhanghl oras CLI [v0.14.0](https://github.com/oras-project/oras/releases/tag/v0.14.0) is released! Could you have a try?

[2022-08-22 09:13] danielzhanghl commented on #513
0.14.0 works very well, thank!

[2022-08-22 09:13] #513 closed

[2022-08-22 12:58] shizhMSFT commented on #475
Blobs are intended to be binaries with garbled characters. Except config blobs, they are most likely to be non-printable. Since ORAS focuses more on artifacts where artifact manifest does not leverage configs, it does not make sense to print non-printable blobs by default.

Therefore, I’d like to always have an `--output` parameter to write the blob, and save stdout for printing progress status.

[2022-08-22 13:20] yizha1 commented on #475
Here are my two cents:

- Use an optional `--output` flag, so the user can store the blob somewhere in the file system
- Display readable blob in the `stdout `, no matter output flag is used or not, so that the user can view it directly. It is convenient.
- No output to `stdout `for non-readable Blob, but inform the user it is not readable, no matter `--output `flag is used or not.

[2022-08-23 02:08] qweeah opened #521 "Support specifying http headers via `--header` flag"
As an ORAS user, I should be able to specify an array of http headers, which will be added to the outgoing http requests.

[2022-08-23 02:46] FeynmanZhou opened #522 "Improve the Help doc command with more examples"
There are some new commands and flags introduced in 0.14 and 0.15. To make the help doc commands more user-friendly, we should provide more command examples and make them consistent with all commands.

See `oras attach` as an example:

[code]

[2022-08-23 03:11] shizhMSFT opened #523 "Building up E2E Tests for ORAS"
### Discussed in https://github.com/oras-project/oras/discussions/485

<div type='discussions-op-text'>

<sup>Originally posted by **qweeah** August  9, 2022</sup>
## What is Needed
End-to-end tests that continuously validate the functional correctness of oras features.

## Why it's Needed
- As the number of supported commands grows, it's impossible to manually validate all the features before rel

[2022-08-23 03:11] qweeah commented on #523
ack

[2022-08-23 03:32] shizhMSFT commented on #471
Linking https://github.com/oras-project/oras/issues/355

[2022-08-23 03:41] shizhMSFT commented on #497
@jasminetMSFT Could you help follow up?

[2022-08-23 03:46] jasminetMSFT commented on #497
@shizhMSFT No problem, I will look into this.

[2022-08-23 03:50] lizMSFT commented on #476
Current UX:
![image](https://user-images.githubusercontent.com/108315938/186065386-ddd9ca35-a834-48e3-98c7-38373ab35eb5.png)
![image](https://user-images.githubusercontent.com/108315938/186065444-aaf059ec-3e82-4a68-9840-d8aa95534860.png)

[2022-08-23 03:55] lizMSFT commented on #474
Current UX:
![image](https://user-images.githubusercontent.com/108315938/186066095-58bed00b-d47f-4fd3-821e-bb62ff4061ce.png)

[2022-08-23 07:11] lizMSFT commented on #475
Current options are:

**Option 1:**
- Use a mandatory output argument: `oras blob fetch localhost:5000@digest blob.tar.gz`
- `stdout` for printing progress status, e.g.,
[code]
- NOT support printing blob content
- Question: what about using `--descriptor` flag?
  - `oras blob fetch localhost:hello-world@digest blob.tar.gz --descriptor`
  Choice 1: `stdout` for printing progress status, and save t

[2022-08-23 16:41] FeynmanZhou commented on #470
@sajayantony I see `repository` is more common than `catalog`, I vote for naming `repository` here. There will be an another command `list-tags` under the `repository` group.

@qweeah @junczhuMSFT
Let me give a detailed example for this CLI UX:

``
$ oras repository list samplecr.cncf.io
acr/hello-world
library/alpine
net-monitor
sample/hello-world
[code]

[2022-08-24 03:47] FeynmanZhou commented on #469
@oras-project/oras-maintainers

IMO, _show tags_ defaults to the repository level, which means it is not necessary to add a noun (root command) `repository` here.

Considering we will provide a new group `tag` in ORAS CLI 0.15, I would suggest putting _show tags_ under the `tag` group directly and using `tag list` like the following sample CLI UX. This looks more intuitive to me:

[code]

[2022-08-24 04:37] yizha1 commented on #476
One minor comment:
- Push a blob to `a` remote registry

Some questions:

- Can we change the mediaType for the blob?
- What is the supported maximum size of a blob? What will happen if the blob size exceeds the maximum value?
- Can we cancel pushing a blob? What will happen if I `ctrl+c` while pushing a large blob?

[2022-08-24 04:43] sajayantony commented on #469
How would you differentiate the adding tag command?

[2022-08-24 04:44] yizha1 commented on #474
How can users make sure they delete the right blob?
- We could add a help doc to show the user how to get the digest for a blob
- How about a confirmation dialog before deleting the blob, and a `--force` flag that user can delete the blob without confirmation.

[2022-08-24 04:54] yizha1 commented on #475
Option 1 and 3 are similar. The difference is option 3 allows printing descriptors to stdout. I vote for option 3.

[2022-08-24 06:36] FeynmanZhou commented on #471
@jwang1013 @oras-project/oras-maintainers
It makes sense to support multi-tagging in the `oras push` group instead of `oras tag`. There is a request from a user in https://github.com/oras-project/oras/issues/355. How about we create a separate issue to track multi-tagging in the `oras push` group?

[2022-08-24 08:07] qweeah commented on #523
- [ ] PoC: Test specs for `manifest push` and `manifest fecth`, based on oras-distribution
- [ ] Refactor commands(login, logout, push, pull, attach, copy, discover) to be testable
- [ ] Add e2e tests for commands(login, logout, push, pull, attach, copy, discover)

[2022-08-24 12:23] lizMSFT commented on #476
Hi @yizha1,

Thanks for pointing out, I will change the command message to `Push a blob to a remote registry` 👌

I'd say no. The blob only has one mediaType `application/octet-stream`, ref: https://docs.docker.com/registry/spec/api/#initiate-blob-upload

Currently we do not have a maximum limit on the size of a blob from our ORAS side. But a registry should have some limit on the maximum blob size

[2022-08-24 12:46] lizMSFT commented on #474
Do you mean adding some help messages to tell users how to calculate the digest for a blob? (for example, using `sha256sum` command: `sha256sum artifact2.txt`), or add help doc for users to find the digest for a blob?
From my point of view, delete a blob could be a dangerous behavior, and users should know what they are doing, and know exactly what they are going to delete. So I'm not sure whether

[2022-08-24 15:44] FeynmanZhou commented on #476
The overall UX of `oras push` looks intuitive to me. Would it be more exact to update `<name>` to `<registry>`?
![image](https://user-images.githubusercontent.com/40452856/186460544-58839476-8b51-47dc-817d-2889d204cb0b.png)

[2022-08-24 16:25] sajayantony commented on #476
I think it would be helpful to output the full descriptor to a file.
without that how is the user planning to use this ?
/cc @shizhMSFT

[2022-08-24 16:32] FeynmanZhou commented on #474
I think we can prompt users that `oras discover` has this capability.

I think it is not necessary to add confirmation prompt in this first-time implementation when users explictly delete a blob with specifying a digest.

According to the suggestion of [Confirm before doing anything dangerous](https://clig.dev/#arguments-and-flags) in CLIG, we can wait for users feedback to determine whether this

[2022-08-24 17:53] sajayantony commented on #474
Experience of `oras blob delete localhost:5000/0817hello@sha256:73720a3a5a2809700408e72ede153c7985889b1796a0b5edb30188e89edced5c`
sounds good 👍

[2022-08-25 00:59] qweeah commented on #475
@lizMSFT Can you add `if blob path is '-', output to stdout` to option1? So user can do cool things like one-line downloading and unzipping as below:

And one vote for both option1 and 2 since they are the same except the descriptor experience.

[2022-08-25 01:59] qweeah opened #527 "UI bug: pull status missing if two files have identical content"
Suppose we have below artifact store in the repository `localhost:5000/oras:debug`
[code]
Pulling the below artifact with command `oras pull localhost:5000/oras:debug -v`, the log will be like
[code]
Although indeed `foo` and `bar` are both pulled, in the UI there is no hit for downloading `foo`.

[2022-08-25 02:04] shizhMSFT commented on #476
@qweeah We need to unify the UX across all command sets like `oras manifest` and `oras blob` as they all do CRUD. Let's discuss it.

[2022-08-25 03:01] lizMSFT commented on #476
That's a good idea! But I notice we are now only using `registry` in login and logout commands, and `name` for others (such as `oras push`). We might need to unify the UX across all commands first.
![image](https://user-images.githubusercontent.com/108315938/186562906-2f8e15b2-621d-480a-a6aa-11b7faa508ba.png)

[2022-08-25 06:24] sajayantony commented on #471
I realized that multiple flag values would mean you can pass in different repos. This might not be a good idea now and the comma separated values are probably better.

[2022-08-25 07:09] lizMSFT commented on #459
Below is the UX design for ORAS manifest commands and ORAS blob commands from our discussion @shizhMSFT @qweeah @yuehaoliang-microsoft @lizMSFT
[code]
please let us know if you have any suggestions, thanks
cc @sajayantony @FeynmanZhou @yizha1

[2022-08-25 08:08] yuehaoliang-microsoft commented on #473
The UX of `az acr manifest delete` is:
[code]

Refer to [az-acr-manifest-delete](https://docs.microsoft.com/en-us/cli/azure/acr/manifest?view=azure-cli-latest#az-acr-manifest-delete).

[2022-08-25 09:31] yuehaoliang-microsoft commented on #473
Use case: use `-h` to see the usage of `oras manifest delete`:
<img width="857" alt="image" src="https://user-images.githubusercontent.com/109199020/186629264-975bea9a-e662-4b5b-aae6-c9299f9b2d10.png">
Use Case: decide not to delete the manifest:
<img width="858" alt="image" src="https://user-images.githubusercontent.com/109199020/186625568-bc32fb29-79a4-437e-a4c8-de92e82eb0b6.png">
Use Case: deci

[2022-08-26 04:03] qweeah commented on #459
For `manifest fetch`, what is the scope of `--pretty`? Should below commands store prettified manifest to file?
[code]

Storing prettified manifest to file makes more sense to me, e.g. below commands should saves indentical file content to `<path>`
[code]

@shizhMSFT @FeynmanZhou @yizha1 Can you help confirm. /cc @yuehaoliang-microsoft @lizMSFT

[2022-08-26 05:22] junczhuMSFT commented on #470
provided an alias -l for list in the latest #525

[2022-08-26 05:35] junczhuMSFT commented on #470
Shall we provide "first" and "skip" flags? @FeynmanZhou
There is an azure cli feature, for example, users can skip the first 3,000 records and return the first 1,000 records after those records skipped

[LINK](https://docs.microsoft.com/en-us/azure/governance/resource-graph/concepts/work-with-data#paging-results)

/cc @sajayantony @shizhMSFT @qweeah

[2022-08-26 05:46] yizha1 commented on #459
If user can redirect the pretty out to a file using `>`, then we don't need a `--output` flag, right?

[2022-08-26 07:40] qweeah commented on #459
Yes, the `--output` is designed for the scenario that user want to save the manifest somwhere and get the descriptor in stdout.

[2022-08-26 08:08] qweeah commented on #470
@junczhuMSFT **IF** `--first` and `--skip` are provided, will oras fetch the skipped records?
e.g. `oras repository list some.oci.distro --first 100 --skip 300`, at least 400 records will be fetched right?

If so, I don't think they need to be added to oras, user can use oras to fetch all the repositories and use `tail` and `head` to chop out the records they need.

[2022-08-26 14:37] lizMSFT commented on #476
UX design (08/26/2022)
[code]
![image](https://user-images.githubusercontent.com/108315938/186927989-674db588-8a03-4ff2-8706-56fc2901531d.png)
help doc
![image](https://user-images.githubusercontent.com/108315938/186929218-7639dbeb-2742-419e-ac66-a7021887be60.png)

[2022-08-26 15:26] shizhMSFT commented on #459
Good point. I'd suggest that `--pretty` only applies to data output to `stdout`.

In other words,
[code]

or we drop the `--pretty` option for all commands.

[2022-08-26 15:29] shizhMSFT commented on #470
@junczhuMSFT Instead, you may think about `last` and `n` according to the [Docker Registry V2 API](https://docs.docker.com/registry/spec/api/#catalog).

[2022-08-30 10:13] mbaykara commented on #355
AFAIK, when I try to push an artifact with multiple tags then I have to push one by one
i.e
[code]
which requires multiple API calls. But instead if can push as follow:
[code]
or something similar. /cc @FeynmanZhou

[2022-08-30 13:24] FeynmanZhou commented on #355
@mbaykara Thanks for your clarification! It makes sense, I think this scenario could be supported in ORAS 0.15.

[2022-08-31 02:33] FeynmanZhou commented on #435
Two things we need to complete for this issue
- [ ] Generate a template to generate the summary of dependencies' licenses
- [ ] Add this license check to GitHub Actions

[2022-08-31 03:02] FeynmanZhou commented on #459
The top-level commands look good. But the description copywriting of some commands needs to be polished and straightforward. For example, @nima expressed his confusion about the meaning of the flag `--descriptor`.

We can use this [doc ](https://hackmd.io/aLxws7mhSZukfFzx3PKq3w?view) to summarize the final CLI UX.

[2022-08-31 07:01] FeynmanZhou commented on #459
If we want to show prettified manifest for every `oras manifest fetch` command, why not set it as default and drop this flag?

[2022-08-31 07:40] shizhMSFT commented on #355
@jwang1013 Could you help this issue?

[2022-08-31 07:41] jwang1013 commented on #355
I will take on this item.

[2022-08-31 07:42] shizhMSFT commented on #435
@jasminetMSFT Could you help this?

[2022-08-31 07:48] shizhMSFT commented on #131
How about `oras manifest fetch-config`?

[2022-08-31 07:49] shizhMSFT commented on #131
@yuehaoliang-microsoft Could you follow up?

[2022-08-31 07:52] shizhMSFT commented on #527
@wangxiaoxuan273 Could you follow up?

[2022-08-31 07:54] wangxiaoxuan273 commented on #527
Sure

[2022-08-31 12:17] yizha1 commented on #529
@milosgajdos  Could you verify whether this issue is fixed in ORAS CLI 0.14.0? Thanks.

[2022-08-31 13:05] FeynmanZhou commented on #512
Close this issue since we have other three separate issues to track:
https://github.com/oras-project/artifacts-spec/issues/113
https://github.com/oras-project/oras-www/issues/49
https://github.com/oras-project/oras-www/issues/50

[2022-08-31 13:05] #512 closed

[2022-08-31 13:05] yizha1 commented on #463
released in v0.14.0.

[2022-08-31 13:05] #463 closed

[2022-08-31 13:52] yizha1 commented on #238
Covered by #472

[2022-08-31 14:18] yizha1 commented on #129
Docker Hub supporting for OCI artifacts are tracked here https://github.com/docker/roadmap/issues/135

[2022-08-31 14:21] shizhMSFT commented on #287
Artifact authors can use [oras-go](https://github.com/oras-project/oras-go) to create their own CLIs.

[2022-08-31 14:21] #287 closed

[2022-08-31 14:58] FeynmanZhou commented on #166
@swiftdiaries @mirdaki @gaocegege  Now we have the ORAS-py project officially: https://github.com/oras-project/oras-py, I would appreciate you if you can try it and provide your feedback.

@vsoch Shall we move this discussion to ORAS-py repo?

[2022-08-31 15:10] shizhMSFT opened #530 "Platform support for `oras pull` and `oras copy`"
Should we support `--platform` for `oras pull` and `oras copy`?

Actual:
[code]

Expected:
[code]

[2022-08-31 16:48] vsoch commented on #166
Sure, that works for me! Any issues / questions that are opened there I'm happy to field.

[2022-09-01 07:23] yuehaoliang-microsoft commented on #131
As @qweeah mentioned above, user can use `oras pull --config` to fetch the config of a manifest, but `oras pull` will pull the entire image, everything.

My understanding is that now we are considering to introduce a new command to allow user to only fetch the config. I think fetching a config is kind of a specific case of fetching a blob. User can use `oras blob fetch` to fetch the config.

The a

[2022-09-01 07:42] yuehaoliang-microsoft commented on #131
`oras pull --config` let user provide an optional media type, which could be omitted for image manifest. If user provides the media type, then the successor who has a matched media type will be fetched.

If we decide to have a new command to let user fetch the config more straightforward, I think it could align the same UX, and `--output`, `--descriptor`, `--pretty` could also be supported.

[2022-09-01 13:48] shizhMSFT commented on #497
The user requirement needs to be verified by the local signing functionality of notation (Notary V2).

[2022-09-01 14:11] #469 closed

[2022-09-02 06:29] yuehaoliang-microsoft commented on #473
Updated some UX:
<img width="862" alt="image" src="https://user-images.githubusercontent.com/109199020/188071790-fdea160a-fafc-4025-8721-de0e54eaa2f8.png">
<img width="863" alt="image" src="https://user-images.githubusercontent.com/109199020/188071853-7e800653-6806-4bba-91f6-42cb016e500d.png">
<img width="866" alt="image" src="https://user-images.githubusercontent.com/109199020/188071952-fa15e42f-

[2022-09-02 09:37] yuehaoliang-microsoft commented on #131
Will add `oras manifest fetch-config` to act similarly as [`crane config`](https://github.com/google/go-containerregistry/blob/main/cmd/crane/doc/crane_config.md).

[2022-09-02 10:41] qweeah commented on #459
@FeynmanZhou prettifying a manifest will change the content(by adding space and newlines), thus **changing the digest of the fetched manifest**, so returning raw content is a must and should be set to default.

[2022-09-02 10:51] qweeah opened #531 "Enhance `manifet fetch`"
1. Refactor the implementation with `oras.Fetch` and `oras.FetchBytes` in oras-go
2. Add below UX
[code]

[2022-09-02 15:24] SteveLasker commented on #355
I thought we already supported passing `-t` multiple times, but I was confusing it with `az acr build`.
What about supporting additional -t
[code]

[2022-09-03 15:26] mathieu-benoit opened #532 "Cannot `oras push` artifact with 0.14.0: `Error PUT ... unexpected status code 400: Bad Request`"
With `oras` 0.13.0, I'm able to accomplish this successfully:
[code]
But with `oras` 0.14.0, I'm getting this error:
[code]
Is there a known issue with `oras push`? Or am I missing something since the 0.14.0 version?

My OCI registry is Google Artifact Registry.

[2022-09-04 08:29] qweeah commented on #532
@mathieu-benoit Can you provide detailed log via setting the debug flag? like
[code]

[2022-09-04 16:21] mathieu-benoit commented on #532
Sure thing @qweeah, here you are:

<details><summary>With 0.14.0:</summary>

[code]

</details>

<details><summary>With 0.13.0:</summary>

[code]

</details>

Apparently the `401 Unauthorized` error happens for both version but the `404 Not Found` error is just for 0.14.0.

[2022-09-05 01:26] qweeah commented on #532
`401 Unauthorized` is expected since it's the first step of [oauth flow](https://www.rfc-editor.org/rfc/rfc6749#section-1.2)

400 is returned for uploading blob `sha256%3Ae3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855`, which is the checksum of empty string (checked with below commands):

[code]

The root cause is the the default image config is changed from `{}` to empty string

[2022-09-05 01:28] qweeah commented on #532
@mathieu-benoit You can work this around by using `--config` to specify a non-empty config, see command below:
[code]

[2022-09-05 01:32] qweeah commented on #532
I also created a issue for that https://github.com/oras-project/oras-go/issues/294
cc @shizhMSFT @sajayantony @wwwsylvia

[2022-09-05 01:43] qweeah commented on #532
Closing this as it will be further discussed & fixed in [oras-project/oras-go](https://github.com/oras-project/oras-go)

[2022-09-05 01:57] FeynmanZhou commented on #522
We should add an example for its flag `--export-manifest` in the help doc of `oras push` , it was missing in ORAS 0.14.0.

[2022-09-05 02:33] FeynmanZhou commented on #532
@mathieu-benoit ORAS will release a patch for this bug today.
@qweeah I would suggest leaving this open and waiting for @mathieu-benoit to test and verify the new patch of ORAS CLI with GAR later.

[2022-09-05 06:34] #471 closed

[2022-09-05 10:18] #470 closed

[2022-09-05 13:08] mathieu-benoit commented on #532
Wonderful, thanks @qweeah and @FeynmanZhou for your help and the fix. I just tested `oras push` and `oras pull` with 0.14.1, and it's now working succesfully, thanks!

[2022-09-05 13:08] #532 closed

[2022-09-06 03:00] FeynmanZhou commented on #435
@oras-project/oras-maintainers

@jasminetMSFT checked the license header for ORAS and its dependencies for ORAS, ORAS-go, and ORAS-py repo using SkyWalking Eye. You can find the scanning results from this [doc](https://hackmd.io/w15Y3hdKS9K5Wm-giaEzkA?view).

The dependencies' licenses are correct. We detected some source code files lack license headers, the next step is to fix those files.

[2022-09-06 03:49] jasminetMSFT commented on #530
I'm interested in this, please assign this to me. @shizhMSFT

[2022-09-06 03:54] shizhMSFT commented on #531
@yuehaoliang-microsoft Could you help this issue?

[2022-09-06 04:37] yuehaoliang-microsoft commented on #531
I'll leverage new methods in oras-go to improve `oras manifest fetch`, and support new flags.

[2022-09-06 08:53] junczhu commented on #470
For your information, here is the output sample of this command:

![image](https://user-images.githubusercontent.com/74894646/188591607-4e989a7e-5853-4a40-888c-6e9fc1dd66db.png)

/cc @FeynmanZhou

[2022-09-06 08:57] junczhu commented on #469
For your information, here is the sample output of this command:

![image](https://user-images.githubusercontent.com/74894646/188592900-7d469c47-d79b-44ce-a5ea-d81d388e9dee.png)

/cc @FeynmanZhou

[2022-09-06 15:17] FeynmanZhou commented on #131
@shizhMSFT @yuehaoliang-microsoft @qweeah

How about aligning the pulling `manifest.config` object command with `oras pull --config`? Using `oras manifest fetch --config` might provide a more consistent UX for users.

[2022-09-06 16:44] shizhMSFT commented on #131
Those commands are not semantically consistent.
- `oras pull --config` means pull an artifact with config. However, not all artifact manifest has config. For instance, OCI Artifact does not have one although OCI image has one.
- `oras manifest fetch --config` means _fetch a manifest_ with a config. It will download both the manifest and the config where the manifest is not desired.

[2022-09-07 01:47] qweeah commented on #503
The headers will be consumed by registry service. Below are some examples for Azure Container Registry:
1) [X-Meta-Source-Client]( https://github.com/Azure/acr/blob/main/docs/http-headers.md#azure-container-registry-http-headers): tells the service provider who is using the registry service.
2) X-Ms-Correlation-Request-Id: provides an id which can be used to correlate telemetry during trouble-shoo

[2022-09-07 05:22] yuehaoliang-microsoft commented on #473
Should `oras manifest delete` support `--platform` to delete the manifest of a specific platform if target is multi-platform capable?
@qweeah @shizhMSFT

[2022-09-07 05:33] shizhMSFT commented on #473
No, `--plaform` should not apply to any delete operation.

[2022-09-07 09:11] yuehaoliang-microsoft commented on #531
@shizhMSFT Should `oras manifest fetch <name> --output <path> --pretty` save a prettified content to the file? If not, should it through an error to say that `--output <path>` and `--pretty` can't be used together.
@lizMSFT I think `blob fetch` should through an error in this case.

[2022-09-07 09:22] shizhMSFT commented on #531
No. `--pretty` should only work on `stdout`. If `--pretty` is specified with `--output`, the `--pretty` option is ignored.

[2022-09-07 09:24] yuehaoliang-microsoft commented on #531
Thank you for clarifying. I see, `--pretty` should be just ignored when used with `oras manifest fetch <name> --output <path>`.

[2022-09-07 15:01] FeynmanZhou opened #542 "ORAS CLI should support interacting with docker.io"
Currently, ORAS is not able to authenticate `docker.io` and will return 401 error:
[code]
It requires users to specify `registry-1.docker.io` to authenticate with DockerHub. I think ORAS should support the most common domain `docker.io` when interacting with DockerHub.

[2022-09-07 15:05] shizhMSFT commented on #542
The root cause is the `docker.io` is a very special case. In docker CLI / daemon, the domain `docker.io` is mapped to `registry-1.docker.io`. `oras-go` does the same trick for `docker.io`.

However, when accessing the credentials, the hostname `registry-1.docker.io` is not recognized as `docker.io`.

@junczhu Could you help fixing this bug and update [internal/credential/store.go](https://github.c

[2022-09-07 17:16] junczhu commented on #542
Thanks for the insight.
@shizhMSFT Please assign this issue to me and I will start working on it.

[2022-09-08 00:50] qweeah opened #543 "oras pull may stuck if cache enabled and pushing to cache fails"
When using [cache.target](https://github.com/oras-project/oras/blob/9ea7aee84a1a3829a6506d44114424609b546f22/internal/cache/target.go#L36), we fetch data from the base storage while pushing it to the cache storage.

If any errors occur when pushing to the cache storage, there will be a deadlock. This is because the used pipe is not properly closed when there is a [push error](https://github.com/or

[2022-09-08 03:16] #543 closed

[2022-09-08 08:02] #435 closed

[2022-09-08 09:41] lizMSFT opened #547 "Need verify rc against the descriptor after calling oras.Fetch()"
When reading from the io.ReadCloser returned by `oras.Fetch()` function, it's recommended to verify the read content against the descriptor.
We could use the utility method from ORAS-GO to do the verification after https://github.com/oras-project/oras-go/issues/306 being resolved.

reference:
`desc, rc, err := oras.Fetch(ctx, src, opts.targetRef, oras.FetchOptions{})`
https://github.com/oras-proje

[2022-09-08 09:55] #475 closed

[2022-09-08 13:15] Hiieu opened #548 "Error: unknown flag: --manifest-config"
It looks like oras doesn't recognize the `--manifest-config` parameter:

[code]

Version:
[code]

[2022-09-09 00:29] qweeah commented on #548
@Hiieu It's changed to `--config`, see **Breaking Changes** in [0.14.0 releasing log](https://github.com/oras-project/oras/releases/tag/v0.14.0)

[2022-09-09 00:29] #548 closed

[2022-09-09 01:12] SteveLasker commented on #474
Are we trying to delete a blob, or an artifact?

[2022-09-09 02:09] qweeah commented on #474
@SteveLasker  This command is designed for deleting only a blob.

Deleting an artifact can be done via `oras manifest delete`.

[2022-09-09 07:24] junczhu commented on #542
@FeynmanZhou Have open an PR #549 for this fix.
Please check it out

<img width="731" alt="image" src="https://user-images.githubusercontent.com/74894646/189294567-5c229d7a-cddb-4ac6-99b5-4193912fc8f8.png">

/cc @qweeah @shizhMSFT

[2022-09-09 08:01] junczhu commented on #542
For your information:

By default, command `docker login` and `docker login docker.io` will store following credential on line 3.
Command `docker login registry-1.docker.io` will store the credential on line 4.

<img width="380" alt="image" src="https://user-images.githubusercontent.com/74894646/189298062-97f6adca-327e-4c18-a614-fa9709247ced.png">

And when using docker cli to push an image to the

[2022-09-09 09:33] jasminetMSFT commented on #530
@shizhMSFT Could we use format like `linux/arm/v5` specified in [`Parse()`](https://github.com/oras-project/oras/blob/10f567bf5c5e8e8c5150ac6ea33b15044cb961f5/cmd/oras/internal/option/platform.go#L38) for `--platform` ?

[2022-09-09 15:47] shizhMSFT commented on #530
Why not? /cc @lizMSFT @qweeah

[2022-09-10 09:33] shizhMSFT opened #550 "Missing `get` alias for `oras blob fetch`"
Since there is an alias `oras manifest get` for `oras manifest fetch`, it is better to have `oras blob get` alias to `oras blob fetch`.

[2022-09-12 22:20] qweeah opened #552 "e2e: run distribution in github actions"
ORAS E2E test will be ran against latest [oras-project/distribution container](https://github.com/oras-project/distribution/pkgs/container/registry/33953026?tag=latest). Need to add CI steps to run it based on a config file with ORAS artifact and authentication supported.

Related to #523

[2022-09-12 22:36] qweeah opened #553 "e2e: prepare registry mount files for command specs"
For command-specific E2E tests, the test spec should not have dependency on each other. So the underlying storage for testing distribution need to be initialized before test runs. E.g. `oras pull` need to test pulling `hello:test` so the manifest blob, config blob and layer blobs will be mounted into the test distribution before running the tests.

The mount files should be checked into the source

[2022-09-12 22:47] qweeah opened #554 "test(e2e): add execution helper"
add execution helper so E2E specs can easily run with customized
- stdin/stdout/stderr rediection
- matching output in stdout/stderr

Realted to #523

[2022-09-12 22:50] qweeah opened #555 "test(e2e): matching output of spec runs"
Need to support below when running a e2e spec

- Match full content of a output
- Match keywords
- Match status logs in the output
- Match JSON output
- Use multiple matchers in one command execution

Related to #523

[2022-09-12 23:00] qweeah opened #556 "test(e2e): add documentation for E2E testing"
Need a document to cover
- How to setup and run E2E tests on a local dev machine
- Best practices need to be follow when writing E2E specs

[2022-09-13 00:50] FeynmanZhou opened #557 "Failed to attach a SBOM json to the image in Docker Hub"
I generated an SBOM JSON file using SBOM Tool and then attached it to the docker image in Docker Hub, but it returns error code 400 as follows, is anything not supported by the Docker Hub server side, or is something wrong in my SBOM file?

[code]

See the reproduced steps from this [PR](https://github.com/oras-project/oras-www/pull/52/files#diff-af43525124ec8a0512a648e97646e1e106d92ca7117551a4ca6

[2022-09-13 02:34] wju-MSFT commented on #553
Please assign this to me.

[2022-09-13 02:54] qweeah commented on #557
It has nothing to do with SBOM. `oras attach` will generate an [oras artifact](https://github.com/oras-project/artifacts-spec/blob/main/artifact-manifest.md#oras-artifact-manifest-spec), which is not supported by docker registry.

[2022-09-13 03:22] shizhMSFT commented on #550
@lizMSFT Could you help on this issue?

[2022-09-13 03:23] lizMSFT commented on #550
I will take care of this issue. 👌　

[2022-09-13 03:34] shizhMSFT commented on #557
@junczhu Could you help verifying if Docker Hub support OCI image manfiest.

[2022-09-13 03:35] junczhu commented on #557
Sure

[2022-09-13 03:36] shizhMSFT commented on #557
If it supports **OCI image manifest**, could you try to push a manifest with a `refers` field?

[2022-09-13 07:06] #476 closed

[2022-09-13 07:09] #550 closed

[2022-09-13 08:37] junczhu commented on #542
Hi @FeynmanZhou , the issue has been fixed.
Kindly check it out once you are available. 😊

/cc @shizhMSFT @qweeah

[2022-09-13 14:15] Silvanoc opened #559 "Issue with DNS name resolution?"
I'm having issues with ORAS on my company network and I suspect that it can be related with name resolution (DNS).

# Environment

## Network setup

### Working in the office

Directly connected to my company intranet.

### Working from home

**VPN** enables connectivity with the company intranet based on routing.

## Container Registry and Authorization Service

Both reachable from both company i

[2022-09-13 14:52] FeynmanZhou commented on #542
@junczhu Thanks for your quick response and action. I will test it from the latest main branch. Let's keep this issue open until I verify this issue.

[2022-09-14 03:18] yuehaoliang-microsoft opened #560 "delete multiple manifests at the same time"
In #473, we introduced a new command `oras manifest delete` to let user delete a specific manifest by tag or its digest. Do we want to support deleting multiple manifests in a single command?

Usage:
  `oras manifest delete [flags] REG/REPO<:TAG1|@DIGEST1> REG/REPO<:TAG2|@DIGEST2>` ...

[2022-09-14 03:35] sajayantony commented on #560
Maybe you can post a comment with the option of NO so that folks can vote for yes or No.
my vote is no and let someone from the community open an issue with this need.

[2022-09-14 05:24] junczhu commented on #557
@shizhMSFT  Based on my test, Docker Hub supports OCI image manifest and we can push a manifest with a refers field.

<img width="881" alt="image" src="https://user-images.githubusercontent.com/74894646/190063823-9df80484-4dc1-48a5-8800-2952664fe5e7.png">

After update the manifest, I am still available to pull the image from Docker Hub with docker CLI
Besides, refers field can be add to docker im

[2022-09-14 05:29] shizhMSFT commented on #559
ORAS CLI uses golang built-in `http` package for HTTP/HTTPS connections with the default `net.Dialer`.

[2022-09-14 05:37] shizhMSFT commented on #559
@Silvanoc Can you provide more information so that we can help you to troubleshoot as it may be a general golang issue?

Information required to be collected are:
- CPU Architecture
- OS Name and Version
- Method to obtain the `oras` binary
  - If the `oras` binary is built by yourself, please check the value of `CGO_ENABLED`
- Output of `oras version`

[2022-09-14 05:40] shizhMSFT commented on #559
There is a known issue at https://github.com/golang/go/issues/12524.

Since `oras` CLI binaries in the release page are built with cgo disabled, it will have the same issue in macOS.

[2022-09-14 06:12] shizhMSFT commented on #557
@junczhu Does Docker Hub support arbitrary media types for config and layers?

[2022-09-14 06:57] junczhu commented on #557
@shizhMSFT
Docker Hub supports arbitrary media types for layers.
And based on my test, config media type should match the manifest media type.

eg.
[code]

[code]

[2022-09-14 07:05] Silvanoc commented on #559
_CPU Architecture_: x86-64
_OS Name and Version_: Debian Stable/Bullseye/11
_Method to obtain the oras binary_: downloaded from [GitHub project release 0.14.1](https://github.com/oras-project/oras/releases/download/v0.14.1/oras_0.14.1_linux_amd64.tar.gz)
_Output of oras version_:
[code]

[2022-09-14 07:29] yuehaoliang-microsoft commented on #560
It's a really good idea.

Hello guys, please vote to this comment for whether supporting deleting multiple manifests in a single command is a valuable experience for our users. Please have a 👍 for "I agree" and 👎 for "I don't think so".

[2022-09-14 08:06] #473 closed

[2022-09-14 10:48] qweeah opened #562 "e2e: collect common use cases for scenario-based e2e test"
For now we have below use cases:

OCI Image users:
- should be able to use `oras push`oras  command to upload files
- should be able to use `oras manifest fetch`oras  command to inspect the packed manifest
- should be able to use `oras pull` command to pull uploaded files
- should be able to user `oras copy` command to copy the OCI image to a new repository

Common ORAS users:
This is pending for

[2022-09-14 10:49] qweeah commented on #562
@FeynmanZhou @yizha1 Can you engage oras users to get more valuable scenarios for E2E tests, thanks.

[2022-09-14 11:06] qweeah opened #563 "e2e: test oras commands before 0.15.0"
Below commands need to be covered:

# Common Commands
- oras login
- oras logout

# OCI Image Commands
- [x] oras-project/oras#565
- [x] https://github.com/oras-project/oras/issues/566
- [x] https://github.com/oras-project/oras/issues/567
- [x] https://github.com/oras-project/oras/issues/568

# ORAS Artifact Commands
- oras attach
- oras discover
- oras copy -r

[2022-09-14 11:12] qweeah opened #564 "e2e: test oras commands before 0.16.0"
Need to cover below ORAS commands

# Manifest
- [x] https://github.com/oras-project/oras/issues/586
- [x] https://github.com/oras-project/oras/issues/585
- [x] https://github.com/oras-project/oras/issues/565
- [x] https://github.com/oras-project/oras/issues/588

# Repository
- [x] https://github.com/oras-project/oras/issues/714

# Blob
- [x] https://github.com/oras-project/oras/issues/587
- [x] ht

[2022-09-14 11:24] qweeah commented on #560
What benefit can an user get from this multi-deleting?
If this command breaks halfway, can user rerun the same command?

[2022-09-14 11:31] qweeah opened #565 "e2e: add test specs for `oras manifest fetch` command"
Happy paths:
Before 0.15.0
- should fetch a manifest list via a tag
- should fetch a manifest list via a digest
- should fetch the descriptor of a manifest via a tag
- should fetch the descriptor of a manifest via a digest
- should fetch a manifest with a target platform from a manifest list
- should fetch the descriptor of a manifest with a target platform
- should fetch a manifest with platform

[2022-09-15 02:24] #474 closed

[2022-09-15 03:54] shizhMSFT commented on #559
@Silvanoc Thanks for the environment information.

I did some analysis on Debian 11. I tried `skopeo` installed using `apt`.
[code]
As shown above, `skopeo` from `apt` is dynamically linked and is using dynamic selection of DNS resolver.

For the `oras` binary from our release page, we have
[code]
As shown above, `oras` is statically linked and is using Go's DNS resolver.

@Silvanoc I think the DN

[2022-09-15 06:24] #472 closed

[2022-09-15 06:26] shizhMSFT commented on #238
Closed by #494

[2022-09-15 06:26] #238 closed

[2022-09-15 06:29] shizhMSFT commented on #171
Addressed and closed by #506. As long as the remote registry supports deletion, helm chart artifacts can be deleted by `oras manifest delete`.

[2022-09-15 06:33] shizhMSFT commented on #171
Note: `untag` is not possible with generic docker registries as neither docker spec nor OCI spec support untagging at the HTTP API level.

However, `untag` are available in registry by some cloud providers (e.g. Azure Container Registry).

[2022-09-15 06:34] #171 closed

[2022-09-15 06:37] Silvanoc commented on #559
@shizhMSFT that's it! Thanks!

I've built ORAS with CGO_ENABLED=1 and it works! If I disable the *cgo* resolver (*go* native one gets used) with `GODEBUG=netdns=go` (or `GODEBUG=netdns=go+2` to see the debug output confirming that the *go* resolver is being used), then it stops working.

So as ORAS is built, it cannot work in my network environment. Since I'm only in an experimentation phase, that

[2022-09-15 06:53] FeynmanZhou commented on #563
To clarify the OCI image and ORAS artifact commands, the OCI image commands above mean they will not be impacted after [migrating to the OCI artifact](https://github.com/oras-project/oras-go/issues/271), but the ORAS artifact commands above mean they will be impacted and should be added E2E testing after ORAS fully supports and migrates OCI reference types.

[2022-09-15 07:43] qweeah opened #566 "e2e: add test specs for `oras push` command"
Happy paths:
- should push files to remote registry
- should push files with customized media types to remote registry
- should push files with packed manifest exported
- should push files to remote registry with customized config file
- should push files to remote registry with customized config file and config type
- should push files to remote registry with customized manifest annotation
- shou

[2022-09-15 07:58] qweeah opened #567 "e2e: add test specs for `oras pull` command"
Happy paths:
- should pull all files in an image to a target folder
- should also pull config file with `--config` option
- should pull specific platform with `--platform` option

should show correct pull status for all the pulling

Bad paths:
- ~~should fail if path traversal is needed but not enabled~~
- should fail if file overwrite is needed but not enabled
- should fail directly if not logged

[2022-09-15 08:01] qweeah opened #568 "e2e: add test specs for `oras copy` command"
Happy path
- should copy image between remote repositories
- should copy artifacts between remote repositories

Bad paths:
- should fail if no source/destination reference provided
- should fail directly if not logged in

[2022-09-15 08:43] FeynmanZhou commented on #563
The E2E testing of ORAS login/logout can be implemented after https://github.com/oras-project/oras/issues/414 since ORAS will implement a separate authentication system in v1.0.0.

[2022-09-15 08:57] shizhMSFT commented on #459
Closing as all sub tasks are finished.

[2022-09-15 08:57] #459 closed

[2022-09-15 10:29] shizhMSFT commented on #559
Thank @Silvanoc for confirmation.

@FeynmanZhou @yizha1 We need to think about distributing software like `oras`, `notation` via package managers like `apt`, `brew`, etc. so that we can release Linux/Unix distribution specific binaries for native support.

Let's leave this issue open for tracking.

[2022-09-15 15:25] FeynmanZhou commented on #562
Sure. @qweeah Currently, I can provide a sample that how users use ORAS in the secure supply chain scenario with oras `copy`, `attach`, and `discover`, see this [blog](https://deploy-preview-53--oras-project.netlify.app/blog/oras-0.14-and-future/) for details.

We can continue to investigate and append more user scenarios for E2E testing.

[2022-09-15 15:34] FeynmanZhou commented on #414
@shizhMSFT Does it mean ORAS CLI will need to implement its own authentication system?

[2022-09-15 18:00] rchincha opened #570 "pushing annotations via --annotations-file causes manifest's config.mediaType to become 'unknown'"
Testing against the zot registry. After pushing annotations, the conifg.mediaType changes to "unknown".

[code]

The annotations file only has `$manifest` entry.

[code]

https://github.com/oras-project/oras/blob/main/cmd/oras/push.go#L163

This behavior seems wrong?

[2022-09-15 21:14] rchincha opened #571 "append annotations instead of overwrite?"
oras push with annotations appears to assume a full update. Is there any way to perform an append to existing annotations?

[2022-09-15 21:29] sajayantony commented on #571
+1 on this. I would like to propose an amend command that would
1.  Add and annotation to an existing manifest
2. Put the new manifest
3. Delete the old manifest by digest so that we don’t have a dangling manifest but maybe have and option to skip delete(flag)

[2022-09-15 21:33] rchincha commented on #570
Looks like I can work around this by also specifying --artifact-type

[2022-09-16 02:14] qweeah commented on #571
@rchincha Will this functionally cover what you need?

[2022-09-16 02:18] qweeah commented on #570
Yes you can do that if you want to use an default config file.

If you want to customize the content of config file, you can also use `--config` parameter.

[2022-09-16 02:32] shizhMSFT commented on #414
No, the new implementation will still be compatible with the `config.json` of the docker CLI.

[2022-09-16 03:59] yuehaoliang-microsoft commented on #131
Update the UX for `oras manifest fetch-config`:

I built and pushed this image as an example.
![image](https://user-images.githubusercontent.com/109199020/190553037-17658757-6eaf-4e14-a193-0f7414b3a406.png)

`oras manifest fetch-config $IMAGE` and `oras manifest fetch-config $IMAGE --output -` are exactly the same, and both print the config content.
`oras manifest fetch-config $IMAGE --descriptor`

[2022-09-16 06:26] rchincha commented on #571
https://github.com/opencontainers/distribution-spec/blob/main/spec.md#pushing-manifests

Note the two options that are possible.
By digest, it is a read-copy-update operation but by tag, it is a single in-situ update.
Thoughts?

[2022-09-16 07:01] qweeah opened #573 "e2e: add test specs for `oras blob fetch` command"
Happy paths:
- should fetch blob content and output to a file
- should fetch blob descriptor
- should fetch prettified blob descriptor
- should fetch blob content to a file with prettified descriptor in stdout
- should fetch blob content and output to stdout
- ~~progress status should be disabled when `--output -` or `--descriptor` is provided~~
- should show preview hint in help doc

Bad paths:
-

[2022-09-16 07:18] FeynmanZhou commented on #542
@shizhMSFT @junczhu
I verified ORAS CLI from the main branch and it works with `docker.io`. Thanks for fixing it!

[2022-09-16 07:18] #542 closed

[2022-09-16 09:15] #527 closed

[2022-09-16 14:16] #531 closed

[2022-09-16 14:52] shizhMSFT commented on #570
Closing as the default `application/vnd.unknown.config.v1+json` is by design. It can be overwritten by `--artifact-type`.

[2022-09-16 14:52] #570 closed

[2022-09-16 15:03] shizhMSFT commented on #571
**Amending manifests** can have _unintended consequences_ that can affect existing attached artifacts and associated tags.

- **Scenario 1**: Amending annotations of a signed image
  - Modifying a manifest will results a manifest with a new digest. The signature of the previous manifest gets invalidated immediately.
- **Scenario 2**: Amending annotations of an image tagged with `latest`, `v1.1.0`,

[2022-09-16 15:17] shizhMSFT commented on #571
Although we don't have a command like `oras manifest amend --annotation key=value`, this operation can be equivalently achieved by

1. `oras manifest fetch localhost:5000/test:latest --descriptor -o manifest.json`
2. Edit `manifest.json` with any tools
3. `oras manifest push localhost:5000/test:latest manifest.json`
    - Optionally, push with multiple tags once [#355] get resolved.
4. Delete the

[2022-09-16 18:31] rchincha commented on #571
Signatures or any other invariant will be invalidated since the image manifest itself is changing, which may be ok and would requiring re-signing etc.

When we compose, extend or distribute images based off of other images, this is really the normal.

[2022-09-17 08:32] shizhMSFT opened #577 "Make `repo` alias to `repository`"
It is too long to type `oras repository list`. It would be better to type `oras repo ls` for human beings.

[2022-09-17 08:43] shizhMSFT commented on #577
@junczhu Could you help on this in working hours?

[2022-09-17 08:56] shizhMSFT opened #578 "Update example doc: Make flags before arguments"
Although flags work when put after arguments, it is better to make all examples consistent that flags are before arguments.

For instance, changing

[code]

to

[code]

[2022-09-17 08:57] shizhMSFT commented on #571
If we decide to do this, a suggested command is

[code]

which is consistent with `oras push`.

[2022-09-17 08:59] shizhMSFT commented on #578
@junczhu Could you help with this issue in the working hours? Meanwhile, it is better to update the example to take multiple annotation pairs.

[2022-09-17 09:06] shizhMSFT commented on #571
/cc @FeynmanZhou @yizha1 for inputs.

[2022-09-17 09:10] junczhu commented on #577
Well Noted.

[2022-09-17 09:11] junczhu commented on #578
Sure. I will help update the description for this command.

[2022-09-19 02:42] junczhu commented on #577
I have already added `repo` alias.
Here is the UI/UX we have so far for this command.

<img width="438" alt="image" src="https://user-images.githubusercontent.com/74894646/190941780-fd279261-789e-4ec4-967d-8046215a7e4d.png">

[2022-09-19 04:52] #577 closed

[2022-09-19 05:11] yuehaoliang-microsoft commented on #131
Added a new flag `--platform` to support fetch the config of a manifest with certain platform.

Eg. `oras manifest fetch-config docker.io/library/hello-world:latest --pretty --platform 'linux/arm/v5'`
<img width="843" alt="image" src="https://user-images.githubusercontent.com/109199020/190952867-21364a8f-f72e-4706-8275-3913cc8a4986.png">

Compare to: `oras manifest fetch-config docker.io/library/h

[2022-09-19 05:17] #131 closed

[2022-09-19 05:59] #530 closed

[2022-09-19 06:03] wangxiaoxuan273 commented on #547
Sure.

[2022-09-19 06:26] shizhMSFT commented on #522
Examples shown in the help commands are basic scenarios. Advanced scenarios should be documented elsewhere.

[2022-09-19 08:55] Silvanoc commented on #559
I've found out that I had an erroneous resolver configuration on my machine. Apparently the Glibc resolver was capable of somehow workaround the error, what the Go native resolver couldn't. Therefore Skopeo was working, but ORAS wasn't.

I'd say that there's no bug on ORAS on the Go native resolver, but it's a bit less robust than the Glibc one. Of course by using the Glibc resolver ORAS wouldn't

[2022-09-19 10:50] shizhMSFT opened #582 "Better UX on delete confirmation"
It is better to have spaces around `[y/N]` as currently we have
[code]

[2022-09-19 10:57] #582 closed

[2022-09-19 11:16] #578 closed

[2022-09-20 05:29] shizhMSFT commented on #355
Using `-t` seems inconsistent in UX. If we want to make it consistent, it will be

[code]

However, it is still weird. Therefore, I think the original proposal makes more sense.

[2022-09-20 08:02] qweeah opened #584 "e2e: add test specs for `oras blob delete` command"
Happy paths:
- should delete a blob with interactive confirmation, with delete prompt
- should delete a blob with confirmation flag
- should delete a blob with confirmation flag and output descriptor to stdout
- progress status should be disabled when --descriptor is provided
should show preview hint in help doc

Bad paths:
- should fail if no blob reference is provided
- should fail if no confirm

[2022-09-20 08:04] qweeah opened #585 "e2e: add test specs for `oras manifest delete` command"
Happy paths:
- should delete a manifest with interactive confirmation, with delete prompt
- should delete a manifest with confirmation flag
- should delete a manifest with confirmation flag and output descriptor to stdout
- progress status should be disabled when --descriptor is provided
- should show preview hint in help doc

Bad paths:
- should fail if no manifest reference is provided
- should

[2022-09-20 08:22] qweeah opened #586 "e2e: add test specs for `oras manifest push` command"
Happy paths:
- should push a manifest from stdin
- should push a manifest from a file with media type flag
- should push a manifest from a file without media type flag
- should push a manifest from a file and output the descriptor
- progress status should be disabled when --descriptor is provided
- should show preview hint in help doc

Bad paths:
- should fail if no manifest file reference is prov

[2022-09-20 08:23] qweeah opened #587 "e2e: add test specs for `oras blob push` command"
Happy paths:
- should push a blob from stdin
- should push a blob from a file
- should push a blob from a file and output the descriptor
- progress status should be disabled when --descriptor is provided
- should show preview hint in help doc

Bad paths:
- should fail if no blob file reference is provided
- should fail directly if not logged in

[2022-09-20 08:52] lizMSFT commented on #587
Hi @qweeah , could you also add:

Happy paths:
- should push a blob from a file and output the descriptor with specific media-type (using --media-type)
- should push a blob from a file and output the prettified descriptor

Bad paths:
- should fail if read from input (-) and read password from input (--password-stdin) are both used
- should fail if push a blob from stdin but either blob size (--siz

[2022-09-20 09:11] yuehaoliang-microsoft commented on #586
Happy path:
Should print prettified descriptor when `--descriptor --pretty` is applied.
Bad path:
Should fail if the file is not in valid json format, and `--media-type` is not specified.
Should fail if the file is in json format but does not contains `mediaType` field, and `--media-type` is not specified.

[2022-09-20 09:12] yuehaoliang-microsoft commented on #564
There's one more `oras manifest fetch-config` command.

[2022-09-20 09:24] yuehaoliang-microsoft opened #588 "e2e: add test specs for `oras manifest fetch-config` command"
Happy paths:

- should fetch a config via a tag
- should fetch a config via a digest
- should fetch the descriptor of a config via a tag
- should fetch the descriptor of a config via a digest
- should fetch a config with a target platform
- should fetch the descriptor of a config with a target platform
- should show experimental preview hint in help doc

Bad paths:
- should fail directly if not lo

[2022-09-20 09:44] shizhMSFT commented on #571
There are more questions:

- We can amend an image manifest. How about OCI Index / manifest list?
- What's the UX to delete an annotation entry?

[2022-09-20 13:03] lizMSFT commented on #584
Hi @qweeah , could you also add:

Happy paths:
- should delete a blob with confirmation flag and output prettified descriptor to stdout

Bad paths:
- should fail if the blob reference is not in the form of <name@digest>
- should fail if the specific blob does not exist

[2022-09-20 13:27] lizMSFT commented on #573
Happy paths:
- should fetch blob content and output to a file
- should fetch blob content and output to stdout
- should fetch a blob and output descriptor to stdout
- should fetch a blob and output prettified descriptor to stdout
- should fetch blob content to a file and output prettified descriptor to stdout
- progress status should be disabled when --output - or --descriptor is provided
- should

[2022-09-21 03:06] FeynmanZhou commented on #522
@shizhMSFT
IMO, all functional flags need to be added example in the help doc. I can raise a PR to append some examples accordingly in 0.15 this week.

[2022-09-21 09:01] #547 closed

[2022-09-21 14:19] FeynmanZhou commented on #571
I think it's significant to support amend annotations to simplify the process above.

The effects on the existing attached artifacts, associated tags, and associated manifest list / index is acceptable but should be explicitly informed to users in the documentation or somewhere.

[code]

This is only considered for appending new annotations. Should `Delete` or `Modify` annotations also be consider

[2022-09-21 14:49] FeynmanZhou commented on #560
IMO, the only benefit is to allow delete manifest in bulk. But this use case is not frequent at all.
I can confirm it with some users in the community to see whether this is a significant use case.

[2022-09-22 01:37] shizhMSFT opened #590 "Alias `show-tags=tags` for `oras repository`"
It will be better to have
[code]
alias to
[code]
for human to type.

[2022-09-22 01:38] shizhMSFT commented on #590
@FeynmanZhou Do you have any comments?

[2022-09-22 02:24] patrickzheng200 opened #592 "ORAS delete confirmation prompt directly pressing Enter"
When trying to delete using ORAS CLI, after the confirmation prompt pops up, directly pressing Enter (without typing anything) would trigger "unexpected newline" error. Expect behavior is to default as 'No'.

related code: https://github.com/oras-project/oras/blob/02274658891c7968e8b641138a23eeb52dbd13de/cmd/oras/internal/option/confirmation.go#L46

[2022-09-22 02:26] shizhMSFT commented on #592
@yuehaoliang-microsoft Could you take a look?

[2022-09-22 02:31] shizhMSFT commented on #590
@junczhu Could you help with this issue?

[2022-09-22 02:32] junczhu commented on #590
I can help with this please assign this issue to me

[2022-09-22 02:45] qweeah opened #593 "unify styling for all command help documents"
# Usage Notation
Reference: https://learn.microsoft.com/en-us/windows-server/administration/windows-commands/command-line-syntax-key
- Text without brackets or braces: Items you must type as shown.
- `<Text inside angle brackets>`: Placeholder for which you must supply a value.
- `[Text inside square brackets]`: Optional items.
- `{Text inside braces}`: Set of required items. You must choose one.

[2022-09-22 03:06] binbin-li opened #594 "Show complete error msg when pulling non-existing repo"
Current behavior:

![image](https://user-images.githubusercontent.com/6919333/191649343-8fa1eb28-ecc1-45c5-904b-6e5fbcc2188b.png)

Expected behavior:
Error: test:latest not found

[2022-09-22 03:31] #590 closed

[2022-09-22 03:53] wju-MSFT opened #597 "Update `oras blob fetch` documentation to better explain flag usage"
For `oras blob fetch`, the current Usage states:  `oras blob fetch [flags] <name@digest>`, which indicates the flags are optional, but when we try
`oras blob fetch <name@digest>`, we will get `Error: either --output or --descriptor must be provided`.
We will need to update the documentation to better explain flag usage.

[2022-09-22 03:57] lizMSFT commented on #597
please also help remove the last example
[code]
Thanks

[2022-09-22 04:04] lizMSFT opened #598 "Improve --platform documentation to better explain its usage format"
Current documentation:
[code]

Provides more examples or add the form messages for platform flag, e.g.,
[code]

[2022-09-22 04:13] shizhMSFT opened #599 "Incorrect order of the manifest downloading status"
The downloading status of manifest is printed in a wrong order.

Actual:
[code]

Expected:
[code]

The root cause is that the manifest is downloaded to memory to find out all the successors. Then attempt all the successors.

[2022-09-22 04:17] shizhMSFT commented on #593
@junczhu Could you help with this issue?

[2022-09-22 04:18] Wwwsylvia opened #600 "Improve `oras manifest fetch --platform` error message"
When image `myregistry.example.com/myrepo:mytag` exists, but there is no platform "non-exist".

Command:
[code]
Output:
[code]
The error message is confusing to users.

[2022-09-22 04:20] shizhMSFT commented on #600
@Wwwsylvia Could you elaborate more on the details?

[2022-09-22 04:29] FeynmanZhou opened #601 "Failed to push manifest to Docker Hub"
Hi team,

I am testing ORAS 0.15 from the main branch and trying to push manifest to Docker Hub, this error msg confused me a lot. Is it caused by the Docker Hub registry side?

[code]

The return msg also seems duplicated in one line.

[2022-09-22 05:16] Wwwsylvia opened #602 "Improve `oras attach` help doc"
Command:
[code]
Output:
![image](https://user-images.githubusercontent.com/8113721/191662543-dfa0b887-ba19-497d-887d-793817c358e8.png)

Users can't tell that `--artifact-type` is a required field from the current help doc.
Besides, the usage format `name<:tag|@digest>` is not consistent with other commands like `manifest fetch`.
![image](https://user-images.githubusercontent.com/8113721/191663010-

[2022-09-22 05:43] qweeah commented on #593
@junczhu I had a PR out for the fix #596, you may refer to it.

[2022-09-22 06:17] qweeah commented on #602
option2 is need Cobra change, go with option 1

[2022-09-22 06:58] junczhu commented on #593
I can help with this.
Please go ahead and assign this issue to me.

@shizhMSFT

[2022-09-22 07:18] shizhMSFT commented on #601
You need to push the blob first then the manifest first.

Closing since it is customer error.

[2022-09-22 07:18] #601 closed

[2022-09-22 07:56] qweeah commented on #594
This is should be fixed in oras-go

[2022-09-22 08:00] #600 closed

[2022-09-22 08:11] shizhMSFT commented on #593
@junczhu It seems @qweeah has already started the work.

[2022-09-22 08:13] #597 closed

[2022-09-22 08:20] junczhu commented on #593
Well noted. Kudos goes to @qweeah

[2022-09-22 08:21] shizhMSFT commented on #594
@Wwwsylvia Could you help revising [registry/remote/repository.go](https://github.com/oras-project/oras-go/blob/2b4088ec4aa4460dc230f252d5c9380eb649bbdc/registry/remote/repository.go#L863) so that it will be consistent with the code [here](https://github.com/oras-project/oras-go/blob/2b4088ec4aa4460dc230f252d5c9380eb649bbdc/registry/remote/repository.go#L823)?

[2022-09-22 08:24] yuehaoliang-microsoft commented on #592
NP.

[2022-09-22 08:36] yuehaoliang-microsoft commented on #592
What should be expected when user input some spaces, like "ye s"?

[2022-09-22 08:41] qweeah commented on #598
Since `arch` may come from $env:GOOS, I will make it optional

[2022-09-22 09:22] #592 closed

[2022-09-22 09:43] FeynmanZhou commented on #602
For `oras attach` help doc, I think we need to add an example for attaching a multi-file artifact as a reference. Users might not be aware that `oras attach` support attaches a multi-file artifact by default, see [this doc](https://learn.microsoft.com/en-us/azure/container-registry/container-registry-oras-artifacts#attach-a-multi-file-artifact-as-a-reference).

[2022-09-22 09:50] FeynmanZhou commented on #602
Another wording I think we need to polish in `oras attach` help doc, how about:

[code]

[2022-09-22 13:02] shizhMSFT opened #608 "Make `oras blob/manifest push` consistent with `oras push`"
As mentioned by
- https://github.com/oras-project/oras/pull/596#discussion_r977620391
- https://github.com/oras-project/oras/pull/596#discussion_r977621132

we should remove `--media-type` and make `<file>` to `<file>[:<type>]` in `oras blob push` and `oras manifest push` so that the UX is consistent with `oras push`.

/cc @qweeah @lizMSFT @yuehaoliang-microsoft @FeynmanZhou

[2022-09-22 13:04] shizhMSFT commented on #608
@yuehaoliang-microsoft Could you help resolving this issue?

[2022-09-22 13:11] shizhMSFT opened #609 "Bump up `oras-go` version"
We need to bump up the `oras-go` version to capture the latest fixes that resolves
- #594
- #600

[2022-09-22 14:11] qweeah commented on #602
Examples added with some improvisation, please help review in #603 @FeynmanZhou

[2022-09-22 21:44] sajayantony commented on #593
Very cool. @qweeah .
@FeynmanZhou given that `repo` alias and `tags` alias has already been checked in, I'm leaning towards not using or considering removing `show-tags` and possibly even the long `repository` and just use these easier short commands. Just makes the UX so much nicer.
Any point in keeping these long commands anymore before GA?

[2022-09-23 02:52] yuehaoliang-microsoft commented on #608
I got the point. Instead of using a flag `--media-type`, we should let user input the optional type param `<file>[:<type>]` directly following the file path.

[2022-09-23 03:23] yuehaoliang-microsoft commented on #608
I came up with one scenario when users do `push [flags] <name>[:<tag>|@<digest>] -` where `-` means read from stdin.

If we have `--media-type` flag, users could specify the media type, otherwise, they couldn't give this param. It's a difference from `oras push`.

@shizhMSFT do you have any comment?

[2022-09-23 05:20] #593 closed

[2022-09-23 05:20] #602 closed

[2022-09-23 05:47] yuehaoliang-microsoft commented on #608
`push [flags] <name>[:<tag>|@<digest>] -[:<type>]` is not valid.

`Error: unknown shorthand flag: ':'`

[2022-09-23 06:22] qweeah opened #613 "fix flag name parsing error for `oras blob push`"
The type of flag `--media-type` is parsed to `--descriptor`, which should be `string`.

https://github.com/spf13/pflag/commit/7f60f83a2c81bc3c3c0d5297f61ddfa68da9d3b7

[2022-09-23 06:29] shizhMSFT commented on #608
Thank @yuehaoliang-microsoft for pointing the `-:type` issue here.

I've tested with the `cat` command, and it show the same behaviour:
[code]

Therefore, we have to have `--media-type` for manifest / blob push. `oras push` is a different story since it has multiple input files. The user scenarios are different and thus we don't need to make them consistent.

[2022-09-23 06:29] #608 closed

[2022-09-23 07:09] #613 closed

[2022-09-23 07:39] #598 closed

[2022-09-23 07:58] #609 closed

[2022-09-23 09:23] #599 closed

[2022-09-24 13:35] shizhMSFT opened #618 "feature request: verbose output of tagging"
The current UX for tagging is a bit loss. For instances:

[code]

and

[code]

It is better to have something like

[code]

or

[code]

or

[code]

[2022-09-26 08:12] wju-MSFT opened #620 "feature request: add concurrency flag for `oras pull`"

[2022-09-26 08:42] #620 closed

[2022-09-26 10:01] #355 closed

[2022-09-27 02:05] #522 closed

[2022-09-29 08:47] qweeah opened #625 "`oras logout` not working for non-default auth config"

[2022-09-29 08:59] FeynmanZhou commented on #625
Could you provide any reproducible information for this bug or more error msg?

[2022-09-29 09:07] #625 closed

[2022-09-29 15:29] shizhMSFT opened #627 "Error is not well handled in `oras manifest push`"
The `err` from `manifests.Resolve(ctx, ref)` is not well handled and causes `oras` print out incorrect output.

https://github.com/oras-project/oras/blob/5e2750d9bcdc85f17bdeeeeb4458ad8666f37d80/cmd/oras/manifest/push.go#L131-L149

Sample output:
[code]

[2022-09-29 15:30] shizhMSFT commented on #627
@yuehaoliang-microsoft Could you take a look and fix it?

[2022-09-29 15:53] jeremyrickard opened #628 "feature request: support --platform argument for discover command"
When working with multi arch images (i.e. something with a manifest list or image index), it would be really helpful if the `oras discover` command supported a `--platform` argument (or something similar) that would allow the user to discover artifacts for specific images, but using the index/manifest list reference.

For example, consider a reference like: `mysupercoolacr.azurecr.io/mcguffin/serv

[2022-09-30 02:21] yuehaoliang-microsoft commented on #627
Surely!

[2022-09-30 03:37] yuehaoliang-microsoft commented on #627
Proposed a PR to address this issue. In my scenario to reproduce the error, before the fix:
<img width="855" alt="image" src="https://user-images.githubusercontent.com/109199020/193183730-a9c961c1-517b-4622-9454-39d0c3a35b89.png">

After the fix:
<img width="858" alt="image" src="https://user-images.githubusercontent.com/109199020/193183823-9c4cd189-a5eb-4e04-a5da-b2fc4031cb08.png">

The change do

[2022-09-30 07:52] #627 closed

[2022-10-03 21:49] sajayantony opened #630 "Manifest level annotations not being pushed when there is no blob in attach command"
The manifest should add the annotations passed in when there are no blobs specified

[code]

[code]

[code]

[2022-10-03 23:45] sajayantony commented on #630
Looks like we need to pass in the manifest Annotations - @junczhu

https://github.com/sajayantony/oras/blob/e7a8a33b41454bb5c3c2fd85e7f29b18fc7b3d5e/cmd/oras/attach.go#L121-L126

https://github.com/oras-project/oras/blob/9e12d92c3f25ffea67b9bce073c5c46b9d3c355c/cmd/oras/attach.go#L122-L126

This came about when testing showing the annotations as a part of the OCI specification -

<img width="618"

[2022-10-04 13:37] shizhMSFT opened #631 "Show annotations in `oras discover`"
Showing the annotations as a part of the OCI specification -

<img width="618" alt="image" src="https://user-images.githubusercontent.com/1821104/193705158-6ea9ee36-e902-4d11-be56-595e6b5130df.png">

@shizhMSFT @FeynmanZhou - thoughts on how you to show annotations in the discover command -

_Originally posted by @sajayantony in https://github.com/oras-project/oras/issues/630#issuecomment-12662112

[2022-10-04 13:40] shizhMSFT commented on #630
Created #631 to track the feature request on showing the annotations in `oras discover` so that this issue only focuses on the bug fix.

[2022-10-04 13:42] shizhMSFT commented on #631
@sajayantony Annotations in `oras discover` looks interesting. I'd like to have `key: value` instead of `key=value` printed.

We also need to find out the UX for other layouts besides `tree`.

[2022-10-04 17:10] FeynmanZhou commented on #631
Replied on https://github.com/oras-project/oras/issues/630#issuecomment-1267307003.

Let me investigate this CLI UX.

[2022-10-04 19:02] sajayantony commented on #631
Keeping the string same enables consistent parsing across manifest and outputs is my take.

[2022-10-05 06:56] qweeah commented on #631
@shizhMSFT  Seems `key: value` is not an option since datetime format might conatin `:`

[2022-10-05 14:32] shizhMSFT commented on #631
@qweeah The value can be anything so that we are more focusing on the UX other than the content value.
For instance, `{"foo":"bar=fun"}` will result in `foo=bar=fun`.

[2022-10-07 10:53] bridgetkromhout commented on #334
This was [completed in April](https://github.com/cncf/toc/issues/692#issuecomment-1104378883) - resolving as already done.

[2022-10-07 10:53] #334 closed

[2022-10-08 07:43] #630 closed

[2022-10-09 01:37] qweeah opened #634 "feature request: add `oras list` for listing repositories and tags"
- What would you like to be added?
A new command `list`, aliased as `ls`, which takes a registry host name or a host name with repository path and ouput a list according as below:
[code]

- Why is this needed? Please describe your user story or scenario.
This unified command will simplify fuzzy searching UX for ORAS end users.

Suppose I need to find some images for k8s eraser, I need to run
[code

[2022-10-09 03:36] shizhMSFT opened #635 "Cherry pick bug fixes to v0.15.1"
Bug fixes done in `v0.16.0` with orders:
1. #626
2. #629
3. #632
4. #637

[2022-10-09 03:39] shizhMSFT commented on #635
A PR should be created against [release-0.15](https://github.com/oras-project/oras/tree/release-0.15) and merged with rebase merge.

[2022-10-09 04:23] qweeah opened #636 "bug: `manifest fetch` fails when confirming the platform of a manifest"
# Reproduce step
[code]

Root cause is that the a manifestStore is used for blob(config) fetching

[2022-10-09 04:30] shizhMSFT commented on #636
Let's create a fix to `main`.

[2022-10-09 04:32] yuehaoliang-microsoft commented on #636
Why applying `--platform arm64/linux` will fetch the config of this manifest?

[2022-10-09 04:35] shizhMSFT commented on #636
It will check the config file to confirm that it is indeed an image for arm64/linux.

[2022-10-09 04:54] yuehaoliang-microsoft commented on #636
Thank you, I understand the root cause of this issue. I previously missed the fact that config file is fetched inside [this callee function](https://github.com/oras-project/oras-go/blob/9945bfb76605ae88fdc497dffa2bb7b4dbf25d8e/internal/platform/platform.go#L103). Here, the ReadOnlyTarget passed to it shouldn't be `ManifestStore` because it needs to fetch the blob.

[2022-10-09 10:05] #552 closed

[2022-10-09 10:05] #553 closed

[2022-10-10 05:19] #477 closed

[2022-10-10 05:40] yuehaoliang-microsoft commented on #636
After the fix, the above error has been resolved.

<img width="856" alt="image" src="https://user-images.githubusercontent.com/109199020/194804207-9635b856-2446-4390-8a9e-bd220ad559e6.png">

[2022-10-10 06:30] #636 closed

[2022-10-10 18:32] plooploops opened #638 "Oras commands like attach, discover, and pull support an option to format output as JSON"
### What is the version of your ORAS CLI

Version:        0.15.0 Go version:     go1.19 Git commit:     94abaecb072d7c44bf484cb7070db2c94be2a028 Git tree state: clean

### What would you like to be added?

An option to format output for commands like `attach`, `discover`, and `pull` as JSON.

**Updated version** per comments:

#### For oras discover

For example, suppose you make the call:

`oras

[2022-10-10 19:16] sajayantony commented on #638
I would also hope that the json output could contain more scriptable values like fully qualified references so that clients don’t have to join strings.

[2022-10-11 07:10] qweeah commented on #638
Thanks @plooploops for this feature request. Can you elaborate on the scenarios of programmatically check artifact status after running oras `attach`, `discover` and `pull` repectively?

Below are some minimal information needed in the JSON output in my mind:
**oras discover**: `digest`, `media type`, `size` and `artifact type` (already supportted with `-o json` flag)
**oras pull**: `digest`, `med

[2022-10-11 07:30] qweeah opened #640 "build action should also be ran against PRs targeting release branch"
Otherwise we need to manually run build task before merging any patch PR

[2022-10-11 08:09] qweeah commented on #635
@shizhMSFT To make releasing process easier, should we add 4 PRs for each cherry-picking?

Also #640 need to be merged in advance.

[2022-10-11 15:17] shizhMSFT commented on #635
We can have one PR in a shot.

Yes, fix to #640 should be merged before above cherry-pick PR.

[2022-10-12 19:24] plooploops commented on #638
## For oras discover

Thanks @qweeah, you're right that `oras discover` supports the `-o json` flag!

It would be helpful to include the URL as you had mentioned, I'm assuming in this case it would be for the artifact itself?

For example, suppose you make the call:

`oras discover <myacr>.azurecr.io/my/repo:tag -o json`

And then you would get a JSON output like the following:

[code]

This would

[2022-10-13 02:21] qweeah commented on #638
@plooploops Thanks for the clarification. Here are some comments:
1) `artifactUrl`: I suggest to name it`url` since both OCI image and OCI artifact could have this field. And as you have described, this field specifies a URI from which this object MAY be downloaded, conforming to [RFC 3986](https://tools.ietf.org/html/rfc3986) with a scheme as defined in [RFC 7230](https://tools.ietf.org/html/rfc7

[2022-10-13 03:05] sajayantony commented on #638
Please use `reference` since thats has a well know definition in OCI. I’m curious why do we need to digest and artifactDigest?

[2022-10-13 03:14] qweeah commented on #638
Good point. Updated inline.

We don't need both. `digest` only would be enough.

[2022-10-13 05:44] #640 closed

[2022-10-13 06:03] shizhMSFT commented on #635
Closed by #643

[2022-10-13 06:03] #635 closed

[2022-10-14 19:08] plooploops commented on #638
Updated version per comments:

## For oras discover

For example, suppose you make the call:

`oras discover <myacr>.azurecr.io/my/repo:tag -o json`

And then you would get a JSON output like the following:

[code]

This would allow you to pull in the artifact (e.g. `oras pull <reference value>`.

## For oras pull

For `oras pull`, it would be helpful to get the downloaded `artifactType`, `referen

[2022-10-16 02:48] qweeah commented on #638
@plooploops This version looks good to me. One small thing to add: `reference` should contain scheme, e.g. `http[s]://<myacr>.azurecr.io/my/repo@sha256:someHash`

[2022-10-17 10:07] qweeah opened #646 "support runnning e2e specs based on multiple distribution"
After OCI migration, e2e tests need to be tested against
1) OCI artifacts with referrer API, or
2) OCI images with [tag schema fallback](https://github.com/opencontainers/distribution-spec/blob/main/spec.md#referrers-tag-schema)

We need have at least 2 distribution in e2e test infra to cover above scenarios

[2022-10-18 07:37] shizhMSFT opened #647 "bump up golang version to 1.19.2"
Upgrade golang version to 1.19.2 for
- Github actions
- Dockerfile

[2022-10-19 01:02] sajayantony commented on #634
+1 I would also like to push for making it just ls as the actual command and have list as the alias.

[2022-10-19 08:00] qweeah opened #649 "support pushing an oci artifacts via `oras push`"
`oras push` should push an oci artifact if no image config is provided via `--config` flag

[2022-10-19 08:14] qweeah opened #650 "support pushing an oci artifacts via `oras attach`"
`oras attach` should pack a OCI artifact with `subject` pointing to the provided reference.

`--artifact-type` should be optional and defaults to `application/vnd.unknown.artifact.v1` if not provided.

[2022-10-19 08:17] qweeah opened #651 "support discovering referrer OCI artifacts via `oras attach `"
Since oras-go has done the wrapping of referrer API change, just need to switch to latest oras-go and use latest API.

[2022-10-19 08:23] qweeah opened #652 "Migrate to OCI Artifact from ORAS Artifact"
Support pushing, attaching and discovering OCI artifacts follow below specs:
https://github.com/opencontainers/distribution-spec/blob/main/spec.md
https://github.com/opencontainers/image-spec/blob/main/artifact.md

# Tasks
## Support OCI Artifact
- [x] https://github.com/oras-project/oras/issues/649
- [x] https://github.com/oras-project/oras/issues/650
- [x] https://github.com/oras-project/oras/is

[2022-10-19 08:38] qweeah opened #654 "support OCI image fallback in `oras attach` and `oras push`"
As is described in (distribution-spec)[https://github.com/opencontainers/distribution-spec/blob/main/spec.md#push

When pushing OCI artifact manifests to a registry, if the response is 400 Bad Request, fallback to pushing OCI image manifest.

[2022-10-19 09:03] qweeah opened #655 "recursively delete reference types"
Use a new flag named `-r, --recursive` to delete `referrer` manifests recursively. See below example, by using the flag `-r, --recursive`, when deleting `subject` manifest, manifest `A`, `B`, `C` are deleted, and image index are updated.

[code]

Use a new flag `--strict` to disable updating image index.

[2022-10-20 02:17] #649 closed

[2022-10-20 02:17] #650 closed

[2022-10-20 02:17] #651 closed

[2022-10-20 03:00] qweeah opened #658 "support exclude digest tags in result of `oras repo tags`"
If a registry doesn't support referrer API natively, referrers will be tracked via client- maintained referrer tags following [schema](https://github.com/opencontainers/distribution-spec/blob/main/spec.md#referrers-tag-schema).

User should be able to hide those tags in the result of `oras repo tags` via flag `--exclude-digest-tags`.

[2022-10-20 05:25] sajayantony commented on #658
Is there a concern of showing the tags and filtering by —exclude-digest-tags?
Over the course we should see less and less digest tags once registries implement it and I would say showing them in the default output might even encourage the operators to move.

[2022-10-20 05:30] qweeah commented on #658
Updated.

[2022-10-21 09:36] milosgajdos commented on #529
This seems to be fixed. Thanks!

[2022-10-21 09:36] #529 closed

[2022-10-24 18:06] sajayantony commented on #638
The reference doesn’t contain a scheme as per the spec. Also you can’t use that format in most tools and so if you pipe that to say `oras tag` then that wouldn’t work.
My vote is to follow the spec and use
fqdn/repo:tag

[2022-10-25 23:01] SteveLasker opened #662 "Publish docs for oras copy"
### What is the version of your ORAS CLI

v0.15.0

### What would you like to be added?

Documentation to oras.land for how to use `oras copy`, providing links from external sources.

### Why is this needed for ORAS?

Usability and documentation from external articles.

### Are you willing to submit PRs to contribute to this feature?

- [X] Yes, I am willing to implement it.

[2022-10-26 22:37] plooploops commented on #638
I'm interested in simplifying @sajayantony.  Which spec are you referring to in this case?

Using `"<myacr>.azurecr.io/my/repo@sha256:someHash"` instead would make subsequent automation easier, for example, when looking to pull in your manifest with `oras manifest fetch`.

[2022-10-26 23:29] sajayantony commented on #638
I was referring to about only removing the http(s) prefix. All other fields seem reasonable. /cc @shizhMSFT for any further input.

[2022-10-26 23:38] plooploops commented on #638
Sounds good @sajayantony.

@qweeah are you open to removing the `http(s)` part for the `reference` field?

For example, when you call `oras attach "<myacr>.azurecr.io/my/repo:tag" --artifact-type "someArtifactType" <path/to/some/artifact>:<type>` you would get something like this:

[code]

[2022-10-27 01:00] sajayantony commented on #638
SGTM -

Does this sound like what you had in mind @plooploops

[code]
1. Ensure you ask for -o json since simple text is what it defaults to
2. Use fields to pipe to jq/oras and avoid having to concat things like repo?

[2022-10-27 02:29] qweeah commented on #638
@plooploops Sounds good if it helps automation.

[code]
@sajayantony  Worth to mention that be above use case is already supported via `--export-manifest` (and would be safer if user is trying sign the uploaded manifest)
[code]

[2022-10-27 06:32] sajayantony commented on #638
Ok my example may be bad. But the fact that I can use the fully qualified  reference  to the next command is still valuable. I don’t have to concat stuff.

[2022-10-27 11:45] shizhMSFT commented on #638
It is bit weird to have `--output` for `oras pull` as we already have that option.
[code]

Generally speaking, this proposal and #497 are proposing the same thing: It is better to let the `oras` CLI to output some metadata so that it can be further processed.

How about `--metadata-file`? For example,
[code]
The metadata file can be further processed later. Even if there is an error in the middle

[2022-10-27 17:07] plooploops commented on #638
@sajayantony @qweeah - I've updated the top comment to reflect removing the scheme `<http[s]>` from the `reference` field.  I also added the `-o json` flag as part of the example calls for `oras discover`, `oras pull`, and `oras attach`.

@shizhMSFT if there's an output formatting option for `-o json` or `--output json` for `oras discover`, `oras pull`, and for `oras attach` that would be helpful.

[2022-10-28 00:38] plooploops commented on #638
@sajayantony @qweeah @shizhMSFT

Here's a hackmd to cover what's been included so far: https://hackmd.io/@plooploops/SkJn5qONs

[2022-10-28 16:21] SteveLasker commented on #662
Yup

[2022-10-28 16:30] shizhMSFT commented on #638
The `--output` option means **output file path** or **output directory** in many commands like `oras pull`, `oras blob fetch`, `oras manifest fetch`, etc..

This proposal is to change the CLI display to the stdout. How about naming this kind of feature as `--display`. It takes options like `text`, `json`, and even `tty`, `csv`, `yaml` in the future. Let me put them in a single example,
[code]

[2022-10-28 19:13] plooploops commented on #638
@FeynmanZhou we could use the `-o` as you had mentioned for different output types like `file`, `JSON`.

However, @shizhMSFT brought up an interesting alternative in keeping the `-o` and `--output` reserved for the file path for output, and then using `--display json` to display the results in JSON to stdout.

In the hackmd I was using the `--format json` option instead, but I do like the option y

[2022-11-01 07:42] FeynmanZhou commented on #557
We still need to test this case with `oras attach` to attach artifacts to Docker Hub against the [OCI artifact support feature announced by Docker Hub](https://www.docker.com/blog/announcing-docker-hub-oci-artifacts-support/) using ORAS CLI 0.16.

[2022-11-01 07:59] sajayantony commented on #557
I think even attach might have an issue until Docker supports the subject property in an image manifest. I think oras CLI might need a way to skip putting the subject in case put comes back with an Invalid manifest for image manifest push.
but continue updating the index update @shizhMSFT

[2022-11-01 08:08] qweeah commented on #568
Should also cover [cross-registry scenario](https://hackmd.io/@yizha1/ORAS_to_OCI_reference_type#ORAS-copy-from-target-A-to-target-B-include-extended-copy)

[2022-11-01 13:46] qweeah opened #666 "Failed to push manifest with `subject` to Docker Hub"
### What happened in your environment?

I had a oci image `A` (tagged `artifact`) in my DockerHub repository `docker.io/qweeah/oci-artifact`. When I trying to push another oci image `B` with `subject` pointing to `A`, I got error: **status code 400: manifest blob unknown** from Dockerhub.

Digest of `A`: sha256:af9e331caf86c7bfa652b49d4ffb37df63b28f6488b5f150df1d6d8e09a1dd76
Digest of `B`: sha256:

[2022-11-01 14:55] shizhMSFT opened #667 "Use shorter commands by default"
Human beings are lazy to type. It is better to default to shorter command names
- `repository` --> `repo`
- `list` --> `ls`
- `show-tags` --> `tag`

Basically, the alias and command names should be swapped.

[2022-11-01 15:01] FeynmanZhou commented on #667
I think `show-tags` should be `tags`.

[2022-11-01 15:09] shizhMSFT commented on #557
Linking #666

[2022-11-01 15:30] FeynmanZhou commented on #666
I confirmed it with the Docker Hub team. `Subject` property is in RC and Docker Hub doesn't support the RC version of OCI artifact spec yet.

It was also claimed from the [Docker blog](https://www.docker.com/blog/announcing-docker-hub-oci-artifacts-support/):

[2022-11-02 06:41] qweeah commented on #658
According to the [distribution spec](https://github.com/opencontainers/distribution-spec/blob/main/spec.md#referrers-tag-schema), a to-be-hidden tag is actually a `referrers tag`. I think it's better to name this flag to `--no-referrers`.

cc @FeynmanZhou Can you help confirm the naming?

[2022-11-02 06:48] #628 closed

[2022-11-02 07:38] shizhMSFT commented on #667
Yes, it's `tags`. My typo.

[2022-11-02 13:26] #654 closed

[2022-11-02 13:51] FeynmanZhou commented on #658
IMO, `·--no-referrers` is too technical for dummy users who are not familiar with OCI spec. It's not recommended that we borrow the terminology from [distribution spec](https://github.com/opencontainers/distribution-spec/blob/main/spec.md#referrers-tag-schema) directly since it is used for registry vendors/implementors instead of users.

If the purpose of this flag is filtering out the referrers t

[2022-11-02 15:00] shizhMSFT commented on #658
`--filter` does sound a good name for me. It reminds me something like `oras repo tags --filter "v2.*" blablabla.io/blabla`.

[2022-11-03 03:08] qweeah commented on #658
What is the expected behavior for filtering out referrers tags?

1) `oras repo tags --filter`
2) `oras repo tags --filter sha256[a-f0-9]*`

[2022-11-03 03:09] qweeah commented on #658
I prefer the second one. Because we can even apply the filtering to `oras repo ls` and eventually `oras ls`.

[2022-11-03 05:14] #658 closed

[2022-11-03 05:17] shizhMSFT commented on #652
Closing as all sub-tasks are completed.

[2022-11-03 05:17] #652 closed

[2022-11-03 05:17] shizhMSFT commented on #406
Closed by #652

[2022-11-03 05:17] #406 closed

[2022-11-03 08:01] FeynmanZhou commented on #618
@shizhMSFT
I would propose adding `Date`, `Digest`, and `Size` when users verbose output of tagging a manifest, see the following example:

[code]

[2022-11-03 08:12] shizhMSFT commented on #618
Adding date, digest, size will make the UX of `oras tags` inconsistent with other commands. Hence, I'm against it.

[2022-11-04 01:55] qweeah opened #672 "Check media type of manifest before fallback to OCI image for `oras push` and `oras atatch`"
Curious why we chose names that result in double-negatives?  For example *"is it not not-supported"* vs *"is it supported"*.

_Originally posted by @nima in https://github.com/oras-project/oras/pull/665#discussion_r1013118610_

[2022-11-04 01:58] qweeah commented on #672
We should also rename the function to `NoFallbackToOciImage` or something indicates that we should not retry with OCI Image?

The reason is both isArtifactUnsupported and isArtifactSupported is not accurate, we **don't know if artifact is supported if the other HTTP error happens**.

[2022-11-04 02:24] qweeah commented on #672
@nima @sajayantony  After talking to @shizhMSFT I found that we should not change `isArtifactUnsupported` to `isArtifactUnsupported` since **we are really checking an error called ErrorCodeUnsupported**, [here ](https://loganstucki.me/blog/2019-01-17GolangErrorCheckers/)is a golang blog that explains in detail.

Still thanks for raising this, it helps me I found that we still need to enhance the c

[2022-11-04 03:35] qweeah opened #674 "Show the subject reference with FQDN after `oras attach`"
### What is the version of your ORAS CLI

0.15.1

### What would you like to be added?

In the result of `oras attach`, reference of the subject should be shown.

### Why is this needed for ORAS?

There is now way to confirm **what the tag was resolved to**.

### Are you willing to submit PRs to contribute to this feature?

- [X] Yes, I am willing to implement it.

[2022-11-04 04:31] #672 closed

[2022-11-04 07:46] #674 closed

[2022-11-07 03:08] shizhMSFT commented on #667
Since `list` becomes unix style `ls`, it is better to rename `delete` to `rm`
- `oras manifest delete` --> `oras manifest rm`
- `oras blob delete` --> `oras manifest rm`

Since we rename `delete` to `rm`, it is better to rename `--yes` to `--force` to be consistent with the unix command `rm`.

Additionally, since `oras manifest fetch` has an alias `get`, we should also have an alias `get-config` f

[2022-11-07 05:45] shizhMSFT commented on #667
According to [Remove -vs- Delete](https://apps.labor.ny.gov/ux/doc/v1/design-remove-vs-delete.html),

manifest / blob delete are indeed delete. Hence, we should keep the `delete` for the correct wording and uses rm just for alias.

[2022-11-07 06:22] #667 closed

[2022-11-07 21:24] joshspicer opened #679 "Uppercase characters in reference cannot resolve"
### What happened in your environment?

I was attempting to use oras to pull `ghcr.io/NicoVIII/devcontainer-features`, which has uppercase characters from this [GitHub user's username](https://github.com/NicoVIII).  I get "invalid repository" unless I convert all the characters to lowercase (the it works as expected).

### What did you expect to happen?

The casing of the reference does not matter

[2022-11-08 00:46] sajayantony commented on #679
This is again one of these “we need a spec for what a reference is”.

[2022-11-08 02:27] qweeah commented on #679
Seems both [docker](https://docs.docker.com/registry/spec/api/#:~:text=More%20strictly%2C%20it%20must%20match%20the%20regular%20expression%20%5Ba%2Dz0%2D9%5D%2B(%3F%3A%5B._%2D%5D%5Ba%2Dz0%2D9%5D%2B)*.) and [OCI spec](https://github.com/opencontainers/distribution-spec/blob/main/spec.md#pulling-manifests:~:text=%3Cname%3E%20MUST,a%2Dz0%2D9%5D%2B\)*\)*) excludes capitalized characters from the repo

[2022-11-08 14:35] qweeah opened #680 "support configurable secret in e2e tests"
E2E scenario specs should support environmental username/secret/token so it can be ran against different registry services.

[2022-11-08 14:45] FeynmanZhou commented on #679
Do you think ORAS should prompt the users that all the characters should be lowercase in the output?

[2022-11-09 00:36] sajayantony opened #681 "ORAS should disable pulling subject when pulling an artifact/image manifest with subject"
### What is the version of your ORAS CLI

0.16.0

### What would you like to be added?

Currently oras pull brings down the subject which might be GBs in size or not needed. There is no way to exclude bringing down the subject and an option to exclude the subject might be required.

The other option would be to make sure only blobs are downloaded by default and have a reverse flag of `--include-su

[2022-11-09 06:58] qweeah opened #682 "`oras pull` fails when `--config` is used and there is more than one config in the reference tree"
### What happened in your environment?

Suppose I have uses an registry that **doesn't** support OCI artifact, and I have a OCI Image `A` stored in the registry.

If I use `oras attach` to created a OCI image `B` as OCI artifact fallback in the registry, pulling `B` with `oras pull --config config.json $REF_B` will fail with `Error: config.json: duplicate name`.

[code]

### What did you expect to

[2022-11-09 08:27] #565 closed

[2022-11-09 08:59] sajayantony commented on #378
Can we discuss some candidate commands that would pull to tar and push the tar files?

[2022-11-10 05:37] qweeah commented on #378
@sajayantony I added a hackmd doc, please help review the session[ Pushing and Pulling via oras copy](https://hackmd.io/ogglvwhLTVW2-T6b2JC_Gg#Pushing-and-Pulling-via-oras-copy)

[2022-11-11 19:08] KevinDMack opened #687 "ORAS Support for labels"
### Discussed in https://github.com/oras-project/oras/discussions/686

<div type='discussions-op-text'>

<sup>Originally posted by **KevinDMack** November 10, 2022</sup>
So we have a process by which our build process is building a artifact using oras, and it works great for building the artifact, but our end delivery requires that we have a label on the resulting artifact / image.  Is there a way

[2022-11-12 01:06] qweeah commented on #378
@FeynmanZhou Thanks for reminding. It's shared it, could you also help review it.

[2022-11-14 03:19] shizhMSFT commented on #679
Closing as upper-case repository names are not allowed by spec as mentioned by @qweeah.

[2022-11-14 03:19] #679 closed

[2022-11-14 05:42] AaronFriel commented on #237
I'm curious what the status of this & the status of [this item of the artifact authors guidance](https://github.com/opencontainers/artifacts/blob/main/artifact-authors.md#future-scope):

This section is absent from the [artifact specification](https://github.com/opencontainers/image-spec/blob/main/artifact.md).

There seem to be two distinct philosophies:

* Use an index (or nested indices) to def

[2022-11-14 06:29] qweeah commented on #237
The above use case is already supported in [oras-go v2.0.0-rc.4](https://github.com/oras-project/oras-go/releases/tag/v2.0.0-rc.4) and [oras cli 0.16.0 ](https://github.com/oras-project/oras/releases/tag/v0.16.0).

When pushing an OCI artifact with non-nil `subject` field, [Referrer API](https://github.com/opencontainers/distribution-spec/blob/main/spec.md#listing-referrers) will be tried first, i

[2022-11-14 07:00] qweeah opened #688 "Support customized DNS resolving from a `host` to a specific `address`"
### What is the version of your ORAS CLI

_No response_

### What would you like to be added?

I would like to have a new flag added to all remote registry related commands:
[code]

So any outgoing request towards `host`:`port` should be resolve to `address`:`port`.

### Why is this needed for ORAS?

So ORAS can be 1) used to debug registry services running locally; 2) hardcode DNS resolving to re

[2022-11-14 08:26] FeynmanZhou commented on #559
I think ORAS has provided such a binary on [Homebrew](https://formulae.brew.sh/formula/oras#default). We can release the binaries with native support on `apt`, `yum`, `dpkg`, etc. after ORAS CLI v1.0.0.

[2022-11-14 08:30] FeynmanZhou commented on #688
Should we make this flag `--resolve` a global option? I assume it can resolve only one address per request.

[2022-11-14 08:36] FeynmanZhou commented on #687
Hi @KevinDMack ,

Do you think adding annotations to your artifact would be a solution in your scenario? You can take a look at this [guide](https://oras.land/cli/4_manifest_annotations/).

[2022-11-14 08:41] qweeah commented on #688
No we don't. ORAS has a different option management mechanism. This flag will be added to the [remote option](https://github.com/oras-project/oras/blob/main/cmd/oras/internal/option/remote.go) package and any command relevant to remote registry operation will have this flag.

[2022-11-14 11:03] #682 closed

[2022-11-14 15:53] AaronFriel commented on #237
That's very interesting and helpful. I must have missed that in the docs that two strategies would be utilized.

It does leave me with a few more questions about how we'd go about tagging artifacts by platform/os/etc, but I suspect we can use `annotations` in our client to distinguish these.

[2022-11-15 00:26] qweeah commented on #237
@AaronFriel  Feel free to elaborate your question in [oras discussion](https://github.com/oras-project/oras/discussions/new). Maybe the feature you need is already supported in the current version. Sorry for the lacking of documentation but we are planning to add user guide after 1.0.0 release.

[2022-11-15 09:54] visit1985 opened #690 "oras attach on AWS ECR: Invalid JSON syntax"
### What happened in your environment?

When trying to add a file to an existing artefact in AWS ECR, I receive the following error:

Error: PUT "https://[account-id].dkr.ecr.[region].amazonaws.com/v2/repo/manifests/sha256:91fc7b16d3160baa1f1745968b917603f22a40cc75c8bda23b10d742be999388": response status code 405: unsupported: Invalid parameter at 'ImageManifest' failed to satisfy constraint: 'Inv

[2022-11-15 14:28] FeynmanZhou commented on #237
@AaronFriel ORAS has fully supported the OCI artifact manifest in the latest release of CLI and ORAS Go SDK. We will create some documentation to explain it on the ORAS website.

I think adding annotations is also a workaround to distinguish them.

May I know your requirements for ORAS?

[2022-11-15 16:11] #690 closed

[2022-11-15 16:49] AaronFriel commented on #237
Yes, I think tentatively I'm looking at storing a tree like so:

``
userName/packageFoo:latest (index/manifest or artifact?)
├── artifact: schema.json
├── plugin (index/manifest?)
│   ├── artifact: plugin-darwin-amd64.tar.gz
│   │   └── artifact: signature
│   ├── artifact: plugin-linux-amd64.tar.gz
│   └── ...
└── artifact: sbom
    └── artifact: signature
[code]

[2022-11-15 16:57] visit1985 commented on #690
Nevermind, AWS ECR does not support the ORAS Artefact Spec yet.
https://oras.land/cli/6_reference_types/#coming-soon-amazon-ecr

[2022-11-16 15:32] #566 closed

[2022-11-17 06:21] qweeah commented on #567
Will skip `should fail if file overwrite is needed but not enabled` since it should be covered by oras-go file target unit tests.

[2022-11-18 16:12] FeynmanZhou opened #694 "Release package binaries for different OS distributions"
### What is the version of your ORAS CLI

None

### What would you like to be added?

ORAS has provided a binary on [Homebrew](https://formulae.brew.sh/formula/oras#default). It's worth it for the ORAS community to release the binaries with native support on `apt`, `um`, `dpkg`, etc. after ORAS CLI v1.0.0.

### Why is this needed for ORAS?

Help ORAS CLI can be easily installed and used in differe

[2022-11-18 18:30] azcu-publishing opened #695 "ORAS attach seems to not support colon in filename"
### What happened in your environment?

I have a file named `simple-server:v0.0.1-linux-amd64` I want to attach this to an image using ORAS. I ran:

I ran:

[code]

The error I got was:

[code]

If I rename the file to remove the colon, things work as expected.

### What did you expect to happen?

The file is attached to the image.  Linux filenames can contain colons, so this seems like a usabilit

[2022-11-18 19:51] jeremyrickard commented on #695
Ahhh, OK I see the issue.

[code]

The media type is optional, but the to parse file references always looks for the last instance of `:` and treats whatever is to the right as a media type.

[2022-11-21 07:25] qweeah opened #697 "oras push/attach should not allow colon in media type only on Windows"
Using oras 0.16.0, I can use below command to upload a layer with colon in the media type on Windows:
[code]

See layers.mediatype below, this command will generate a layer with `test:test:test` as an invalid media type
[code]

According to [rfc2045 ](https://datatracker.ietf.org/doc/html/rfc2045#section-5.1), colon is a special character and should not be in the media type. So the push command sh

[2022-11-22 03:21] FeynmanZhou commented on #655
@qweeah Does this feature also require the corresponding change in ORAS-go? If so, I will create an issue there to track both CLI and API support.

[2022-11-22 03:26] qweeah commented on #655
Yes, it is. Please help create a issue in oras-go。

[2022-11-22 07:21] qweeah opened #700 "e2e: utility for matching file content"
As the e2e spec writer for oras CLI, I would like to have a utility function to check if the content of a specific file matches what I expected.

The matching should be done in abortable way so it won't block other E2E specs from running.

[2022-11-25 02:01] qweeah opened #704 "manifest and blob deletion might be silently cancelled without logging"
### What happened in your environment?

`oras manifest delete` and `oras blob delete` can be cancelled without logging if the stdin stream is closed before scanning

### What did you expect to happen?

Should output `Operation cancelled` if deletion is not confirmed via stdin or flag.

### How can we reproduce it?

Save below snippet to test.go, Replace <your-image> with a image name  and run it v